<?php
/* $issuers = array (
	'Aeon Thana Sinsap (Thailand) Public Company Limited',
	'Bangkok Bank Public Company Limited',
	'Bank of Ayudhya Public Company Limited',
	'Cimb Thai Bank Public Company Limited',
	'Citibank, National Association',
	'Islamic Bank of Thailand',
	'Kasikornbank Public Company Limited',
	'Krung Thai Bank Public Company Limited',
	'Krungthai Card Public Company, Limited',
	'Payment Solution 2008 Company Limited',
	'Standard Chartered Bank (Thai) Public Company Limited',
	'Thanachart Bank Public Company Limited',
	'The Government Savings Bank',
	'The Hongkong and Shanghai Banking Corporation Limited',
	'The Siam Commercial Bank Public Company Limited',
	'Tmb Bank Public Company Limited',
	'United Overseas Bank(Thai)Public Company Limited',
	'Other'
);
*/
$issuers = $this->getBanks();
?>
<fieldset>
	<?php $_code=$this->getMethodCode() ?>
	<ul id="payment_form_<?php echo $_code ?>" style="display:none" class="pm-description" style="border:1px solid #eae9e9; background-color:#fcfcfc;display:none">
		<?php echo $this->getHeaderText();?>
		<?php if($this->hasCards()): ?>
		<li >
			<label for="<?php echo $_code ?>_cc_select_stored_card" class="required"><?php echo $this->__('Select Your Stored Cards') ?></label>
			<div class="input-box">
				<div class="arrowselectbox">
					<select id="<?php echo $_code ?>_cc_select_stored_card" name="payment[cc_select_stored_card]" class="required-entry" onchange="CCStoredCheck<?php echo $_code ?>();">
					<?php $_cc_stored = $this->getInfoData('cc_select_stored_card') ?>
					<?php foreach ($this->getCcStored() as $_card): ?>
						<option value="<?php echo $_card ?>"<?php if($_card==$_cc_stored): ?> selected="selected"<?php endif ?>><?php echo $_card ?></option>
					<?php endforeach ?>
						<option value="new"><?php echo $this->__('new') ?></option>
					</select>
				</div>
			</div>
		</li>
		<?php endif; ?>
		<li>
			<label for="<?php echo $_code ?>_cc_type" class="required"><?php echo $this->__('Card Type') ?></label>
			<div class="input-box">
				<div class="arrowselectbox cc2pselect-long">
					<!-- <select id="<?php echo $_code ?>_cc_type" name="payment[cc_type]" title="<?php echo $this->__('Card Type') ?>" class="required-entry validate-cc-type-select"> -->
					<select id="<?php echo $_code ?>_cc_type" name="payment[cc_type]" title="<?php echo $this->__('Card Type') ?>" class="required-entry">
						<option value=""><?php echo $this->__('--Please Select--') ?></option>
					<?php $_ccType = $this->getInfoData('cc_type') ?>
					<?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
						<option value="<?php echo $_typeCode ?>"<?php if($_typeCode==$_ccType): ?> selected="selected"<?php endif ?>><?php echo $_typeName ?></option>
					<?php endforeach ?>
					</select>
				</div>
			</div>
		</li>
		<li style = 'clear:both'>
			<label for="<?php echo $_code ?>_cc_country" class="required-entry"><?php echo $this->__('Country of Issuer Bank') ?></label>
			<div class="input-box">
				<div class="arrowselectbox cc2pselect-long">
					<?php echo $this->getCcAvailableCountry(); ?>
				</div>
			</div>
		</li>
		<li>
			<label for="<?php echo $_code ?>_panBank" class="required"><?php echo $this->__('Issuer Bank') ?></label>
			<div class="input-box">
				<div class="arrowselectbox cc2pselect-long">
					<select id="<?php echo $_code ?>_panBank" name="payment[panBank]" title="<?php echo $this->__('Issuer Bank') ?>" class="required-entry">
						<option value=""><?php echo $this->__('--Please Select--') ?></option>
					<?php $_panBank = $this->getInfoData('panBank') ?>
					<?php foreach ($issuers as $code => $_issuerName): ?>
						<option value="<?php echo $code ?>"<?php if($code==$_panBank): ?> selected="selected"<?php endif ?>><?php echo Mage::helper('cc2p')->__($_issuerName); ?></option>
					<?php endforeach ?>
					</select>
				</div>
			</div>
		</li>
		<li id = '<?php echo $_code ?>_panBank2_li'>
			<label for="<?php echo $_code ?>_panBank2" class="required"><?php echo $this->__('Not In List(Please Specify)') ?></label>
			<div class="input-box">
				<input type="text" class="input-text required-entry" id="<?php echo $_code ?>_panBank2" name="payment[panBank2]"/>
			</div>
		</li>
		<?php if($this->periodEnabled()): ?>

		<li id='<?php echo $_code ?>_li_cc_period' style="display:none">
			<div class = "period-hd"><?php echo $this->__('Installment Payment Plan(IPP)');?>:</div>
			<?php if(count($this->getPeriods()) > 0): ?>
				<?php foreach ($this->getPeriods() as $vl => $lb): ?>
					<div id="period_item_<?php echo $vl;?>">
						<input type="radio" class="radio" id="<?php echo $_code ?>_ipp_<?php echo $vl;?>" value="<?php echo $vl;?>" name="payment[period]"/>
						<span class="radio-css"></span>
						<label for="<?php echo $_code ?>_ipp_<?php echo $vl;?>"><?php echo $this->__($lb) ?></label><br/>
					</div>
				<?php endforeach ?>
				<script type="text/javascript">
					jQuery('#label_<?php echo $_code ?>').html('<?php echo $this->__('Installment')?>');
				</script>
			<?php endif; ?>
		</li>
		<?php endif; ?>
		<li>
			<label for="<?php echo $_code ?>_cc_owner_firstname" class="required"><?php echo $this->__('Firstname') ?></label>
		    <input type="text" title="<?php echo $this->__('Firstname') ?>" class="input-text required-entry validate-alpha-cc2p" id="<?php echo $_code ?>_cc_owner_firstname" name="payment[cc_owner_firstname]" value="">
		</li>
		<li>
			<label for="<?php echo $_code ?>_cc_owner_lastname" class="required"><?php echo $this->__('Lastname') ?></label>
		    <input type="text" title="<?php echo $this->__('Lastname') ?>" class="input-text required-entry validate-alpha-cc2p" id="<?php echo $_code ?>_cc_owner_lastname" name="payment[cc_owner_lastname]" value="">
		</li>
		<li>
			<label for="<?php echo $_code ?>_cc_owner" class="required"><?php echo $this->__('Card Holder Email') ?></label>
			<div class="input-box">
				<input type="text" title="<?php echo $this->__('Card Holder Email') ?>" class="input-text required-entry  validate-email" id="<?php echo $_code ?>_cc_owner" name="payment[cardholderEmail]" value="<?php echo $this->getCustomerEmail(); ?>" />
			</div>
		</li>

		<li>
			<label for="<?php echo $_code ?>_cc_number" class="required"><?php echo $this->__('Credit Card Number') ?></label>
			<div class="input-box">
				<!-- <input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]" title="<?php echo $this->__('Credit Card Number') ?>" class="input-text validate-cc-number validate-cc-type" value="" /> -->
				<input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]" title="<?php echo $this->__('Credit Card Number') ?>" class="input-text validate-length maximum-length-16 minimum-length-16 validate-digits" value="" />
			</div>
		</li>
		<li>
			<label for="<?php echo $_code ?>_cc_cid" class="required"><?php echo $this->__('Secure Code(CVV2)') ?></label>
			<div class="input-box">
				<div class="v-fix">
					<input type="password" title="<?php echo $this->__('Secure Code(CVV2)') ?>" class="input-text cvv required-entry validate-cc-cvn" id="<?php echo $_code ?>_cc_cid" name="payment[cc_cid]" value="" />
				</div>
				<a href="#" class="cvv-what-is-this"><?php echo $this->__('What is this?') ?></a>
			</div>
		</li>
		<li style = 'clear:both'>
			<label for="<?php echo $_code ?>_expiration" class="required"><?php echo $this->__('Expiration Date') ?></label>
			<div class="input-box">
				<div class="v-fix">
					<div class="arrowselectbox cc2pselect-short">
						<select id="<?php echo $_code ?>_expiration" name="payment[cc_exp_month]" class="month validate-cc-exp required-entry">
						<?php $_ccExpMonth = $this->getInfoData('cc_exp_month') ?>
						<?php foreach ($this->getCcMonths() as $k=>$v): ?>
							<?php
								$k ? $val=$k : $val='';
								if($val!='') {
									if((strlen($val)==1) && ($val>0)){
										$val = '0'.$val;
									}
								}
							?>
							<option value="<?php echo $val ?>"<?php if($val==$_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
						<?php endforeach ?>
						</select>
					</div>
				</div>
				<div class="v-fix">
					<?php $_ccExpYear = $this->getInfoData('cc_exp_year ') ?>
					<div class="arrowselectbox cc2pselect-short">
						<select id="<?php echo $_code ?>_expiration_yr" name="payment[cc_exp_year]" class="year required-entry">
						<?php foreach ($this->getCcYears() as $k=>$v): ?>
							<option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
						<?php endforeach ?>
						</select>
					</div>
				</div>
			</div>
		</li>
		<li style = 'display:none;'>
			<div class="accept-terms">
				<div class="input-box">
					<input type="checkbox" name="payment[store_cc_info]" id="<?php echo $_code ?>store_cc_info"/  class="c2p-checkbox">
					<label for="<?php echo $_code ?>store_cc_info">
						<?php echo $this->__('Save card for easy check out');?>, <span class="c2p-yellowtx"><?php echo $this->__('we don’t save your personal information…');?></span>
					</label>
				</div>
			</div>
		</li>
		<script type="text/javascript">
		//<![CDATA[
			var CCIssuer<?php echo $_code ?> = function() {
				var _panBank = $('<?php echo $_code ?>_panBank');
				if (_panBank.value.toLowerCase() == 'other') {
					$('<?php echo $_code ?>_panBank2_li').show();
				} else {
					$('<?php echo $_code ?>_panBank2_li').hide();
				}
			};

			Event.observe($('<?php echo $_code ?>_panBank'), 'change', CCIssuer<?php echo $_code ?>);
			CCIssuer<?php echo $_code ?>();
		//]]>
		</script>
		<?php echo $this->getFooterText();?>
	</ul>
</fieldset>
<?php if($this->hasCards()): ?>
<script type="text/javascript">
//<![CDATA[
	var stored_cc_type = new Array();
	<?php foreach($this->getCcStored() as $type => $_card): ?>
		stored_cc_type['<?php echo $_card?>'] = '<?php echo $type?>';
	<?php endforeach; ?>
	function CCStoredCheck<?php echo $_code ?>() {
		var _storedCard = $('<?php echo $_code ?>_cc_select_stored_card');
		var element = $('payment_form_<?php echo $_code ?>');
		var childNodes = element.childElements();
		if (_storedCard.value == 'new') {
			for (var i=0; i < childNodes.length; i++) {
				if(childNodes[i].id == '<?php echo $_code ?>_panBank2_li') {
					CCIssuer<?php echo $_code ?>();
				}
				else {
					childNodes[i].show();
				}

			}

		} else {
			for (var i=0; i < childNodes.length; i++) {
				if(i==0 || i==3 || i==8 || i>11) {
					childNodes[i].show();
				}
				else {
					childNodes[i].hide();
				}
			}
			$('<?php echo $_code ?>_cc_type').value = stored_cc_type[$('<?php echo $_code ?>_cc_select_stored_card').value];
		}
	};

	// Event.observe($('<?php echo $_code ?>_cc_select_stored_card'), 'change', CCStoredCheck<?php echo $_code ?>);
	CCStoredCheck<?php echo $_code ?>();
//]]>
</script>
<?php endif; ?>
<?php if($this->periodEnabled()): ?>
	<script type="text/javascript">
	//<![CDATA[
		var banksJson = <?php echo $this->getPeriodsBankJson();?>;
		var periods = $$('#<?php echo $_code ?>_li_cc_period input[name="payment[period]"]');
		Event.observe('payment_form_<?php echo $_code ?>','change',function(e){
			var el = e.srcElement;
			var panBank='<?php echo $_code ?>_panBank';
			if((el.id==panBank)
			&& $(panBank).value) {
				var match = false;
				periods.each(function(pr){
					if(banksJson[pr.value]==$(panBank).value) {
						match = true;
						pr.up().show();
					}
					else if(pr.value!='<?php echo $_code ?>_ipp_none') {
						pr.up().hide();
					}
				});
				if(match===false) {
					Effect.Fade('<?php echo $_code ?>_li_cc_period');
				}
				else {
					Effect.Appear('<?php echo $_code ?>_li_cc_period');
				}
			}
			else if ((el.id==panBank) && !($(panBank).value)){
				$('<?php echo $_code ?>_li_cc_period').hide();
			}
		});

	//]]>
	</script>
<?php endif; ?>

<script type="text/javascript">
    jQuery(function () {
        jQuery("#<?php echo $_code ?>_cc_type").selectbox();
        jQuery("#<?php echo $_code ?>_cc_country").selectbox();
        jQuery("#<?php echo $_code ?>_cc_select_stored_card").selectbox();
        jQuery("#<?php echo $_code ?>_panBank").selectbox({onChange: function (val, inst) {
        	var item = 1;
			jQuery('#<?php echo $_code ?>_li_cc_period input[name="payment[period]"]').each(function()
			{
				var value = jQuery(this).val();
				jQuery(this).parent().find('.radio-css').removeClass('active');
				if(banksJson[value] ==  val) {
					jQuery(this).parent().parent().show();
					jQuery(this).parent().show();
					if(item == 1) {
						jQuery(this).prop("checked", true);
						jQuery(this).parent().find('.radio-css').addClass('active');
					}
					item++;
				} else {
					jQuery(this).parent().hide();
				}
			});
		}});
        jQuery("#<?php echo $_code ?>_expiration").selectbox();
        jQuery("#<?php echo $_code ?>_expiration_yr").selectbox();
    });
    jQuery('.accept-terms label').click(function(){
        if(jQuery(this).hasClass('active')){
            jQuery(this).removeClass('active');
        }else{
            jQuery(this).addClass('active');
        }
    });

    jQuery(".radio-css").click(function(){
        jQuery('div[id^="period_item_"] input[type="radio"]').prop("checked", false);
        jQuery(".radio-css").removeClass('active');
        jQuery(this).addClass('active');
        var radio = jQuery(this).parent().find('input[type="radio"]');
        radio.prop("checked", true);
    });

</script>