<script>
	var lippConfig = '<?php echo $this->getJsonConfig();?>';

(function(d, s, id){ 
	var js, ref = d.getElementsByTagName(s)[0]; 
	if (!d.getElementById(id)){ 
		js = d.createElement(s); js.id = id; js.async = true; 
		js.src = "//www.paypalobjects.com/js/external/paypal.v1.js"; 
		ref.parentNode.insertBefore(js, ref); 
	} 
}(document, "script", "paypal-js")); 
</script>

<div class="opc-ajax-loader">
	<div class="otp-loading"></div>
</div>
