<script type="text/javascript">countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?></script>
<?php
$package = Mage::getDesign()->getPackageName();
$theme = Mage::getDesign()->getTheme('frontend');
?>
<div class="opc-wrapper-opc design_package_<?php echo $package;?> design_theme_<?php echo $theme;?>">
    <h2><?php echo $this->__('Checkout')?></h2>
    <div class="checkout-container">
        <p class="sub-title-checkout"><?php echo $this->__('Enter your details below to complete your purchase. By placing your order, you agree to AIS\'s <a href="%s">conditions of use</a>', $this->getUrl('privacy-policy'), $this->getUrl('term_of_use'))?></p>

        <?php if (!Mage::getSingleton('customer/session')->isLoggedIn()):?>
            <?php echo $this->getChildHtml('login');?>
        <?php endif;?>
        <div class="clear"></div>

        <div class="opc-col-left">
            <form id="opc-address-form-billing" method="post">
                <?php echo $this->getChildHtml('billing')?>
            </form>

            <!--<form id="opc-tax-invoice" class="hidden" method="post">
                <?php //echo $this->getChildHtml('taxinvoice') ?>
            </form>-->

            <form id="opc-address-form-shipping" class="hidden" method="post">
            <?php echo $this->getChildHtml('shipping')?>
            </form>

        </div>

        <div class="opc-col-center">
            <?php if (!$this->getOnepage()->getQuote()->isVirtual()):?>
            <div class="shipping-block">
                <h3 class="title"><?php echo $this->__('2. Shipping & Handling Fee')?></h3>
                <div id="shipping-block-methods">
                    <?php echo $this->getChildHtml('shipping_method');//$this->_getShippingMethodsHtml();?>
                </div>
            </div>
            <?php endif;?>
            <div class="payment-block <?php if ($this->getOnepage()->getQuote()->isVirtual()):?>clear-margin<?php endif;?>">
                <h3 class="title"><?php echo $this->__('3. Payment Method')?></h3>
                <?php echo $this->getChildHtml('payment')//$this->_getPaymentMethodsHtml();?>
            </div>

            <!-- <div class="discount-block">
                <h3><?php echo $this->__('Discount Codes')?></h3>
                <?php echo $this->getChildhtml('coupon');?>
            </div> -->

            <?php if(Mage::helper('opc')->isShowComment()):?>
                <?php echo $this->getChildhtml('customer.comment');?>
            <?php endif;?>

        </div>

        <div class="opc-col-right">
            <h3 class="title"><?php echo $this->__('4. Review Your Order')?></h3>
            <div id="opc-review-block">
            <?php echo $this->_getReviewHtml()?>
            </div>
        </div>
    </div>
</div>
<script>
    IWD.OPC.Checkout.config = '<?php echo $this->getJsonConfig()?>';
    <?php if ($this->getOnepage()->getQuote()->isVirtual()):?>
    IWD.OPC.Checkout.isVirtual = true;
    <?php endif;?>
</script>


<div class="opc-message-wrapper design_package_<?php echo $package;?> design_theme_<?php echo $theme;?>">

    <div class="opc-messages">
        <a class="close-message-wrapper"></a>
        <div class="opc-message-container"></div>
        <div class="opc-messages-action"><button class="button"><span><span><?php echo $this->__('Close')?></span></span></button></div>
    </div>
</div>

<?php $isSecure = Mage::app()->getStore()->isCurrentlySecure(); ?>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('select[name*="region_id"]').each(function(){
            getDropDownList(jQuery(this));
            jQuery(this).change(function(){
                getDropDownList(jQuery(this));
            });
        });
    });

    function getDropDownList(obj) {
        var regionId;
        var district;
        var text;
        var url;

        if(obj.attr('name').indexOf('region_id') != -1) {
            regionId = jQuery(obj).val();
            district = obj.attr('name').replace('region_id', 'city');
            text = '<?php echo $this->__('Please select district');?>';
            url = "<?php echo $this->getUrl('adirectory/ajax/district', array('_secure'=> $isSecure)) ?>";
        } else {
            regionId = jQuery(obj).find(":selected").attr("id");
            if (typeof regionId == 'undefined') {
                regionId = '';
            }
            district = obj.attr('name').replace('city', 'sub_district');
            text = '<?php echo $this->__('Please select sub district');?>';
            url = "<?php echo $this->getUrl('adirectory/ajax/subdistrict', array('_secure'=> $isSecure)) ?>";
        }


        var districtObj = jQuery('select[name="' + district + '"]');
        var objId = districtObj.attr('sb');
        var option = jQuery('#sbOptions_' + objId);
        var value = districtObj.attr("defaultvalue");
        districtObj.val('');
        districtObj.find('option').remove();

        option.find('li').remove();
        jQuery('#sbSelector_' + objId).text("<?php echo $this->__('Loading...'); ?>");
        //districtObj.removeClass('required-entry validate-select');
        districtObj.removeClass('validation-failed');
        districtObj.removeClass('validation-passed');


        if(regionId != '') {
            jQuery.ajax({
              type: "GET",
              url: url,
              data: { region_id: regionId},
              success: function (districts) {
                   jQuery("<option>", {
                        value: '',
                        text: text,
                    }).appendTo(jQuery(districtObj));
                    //districts = JSON.parse(districts);
                    for(var i in districts) {
                       jQuery("<option>", {
                            id : districts[i],
                            value: i,
                            text: i,
                            selected: (value == i),
                        }).appendTo(jQuery(districtObj));

                    }

                    jQuery(districtObj).removeAttr('sb');
                    jQuery(districtObj).removeAttr('style');
                    jQuery('#sbHolder_' + objId).remove();
                    var parent = jQuery(districtObj).parent();
                    var html = parent.html();
                    parent.html('');
                    parent.html(html);
                    jQuery('select[name="' + district + '"]').selectbox();
                    //jQuery('select[name="' + district + '"]').addClass('required-entry validate-select');

                    var child = jQuery('select[name="' + district + '"]');
                    if(obj.attr('name').indexOf('region_id') != -1) {
                        //if(value != '') {
                           getDropDownList(child);
                        //}
                        jQuery(child).change(function(){
                            getDropDownList(jQuery(this));
                            if(jQuery(this).val() != '') {
                                IWD.OPC.Billing.validateForm();
                            }
                        });
                    } else {
                        district = district.replace('sub_district', 'postcode');
                        jQuery(child).change(function(){
                           jQuery('input[name="' + district + '"]').val(jQuery(this).find(":selected").attr("id"));
                            if(jQuery(this).val() != '') {
                                IWD.OPC.Billing.validateForm();
                            }
                        });
                    }
                }
            });
        } else {
            jQuery("<option>", {
                value: '',
                text: text,
            }).appendTo(jQuery(districtObj));

            jQuery(districtObj).removeAttr('sb');
            jQuery(districtObj).removeAttr('style');
            jQuery('#sbHolder_' + objId).remove();
            var parent = jQuery(districtObj).parent();
            var html = parent.html();
            parent.html('');
            parent.html(html);
            jQuery('select[name="' + district + '"]').selectbox();
            //jQuery('select[name="' + district + '"]').addClass('required-entry validate-select');
        }

    }


</script>