body{margin: 0; font-family:'Arial', Tahoma, sans-serif;color:#3d3d3d;font-size: 14px ;line-height: 18px;padding: 0;}
.campaign-header{background: url(../images/ais-popshop-desktop-logo.png) center no-repeat;border-bottom: 2px solid #cadc26;height: 155px;max-width: 750px;margin: 0 auto;}
.campaign-detail{width: 100%; max-width: 750px; margin: 0 auto;overflow: hidden;}
.left-content,.right-content{width: 50%;float: left;}
.left-content img.product-img{width: 100%;}
.left-content.product-gallery{width: 47%;margin-right: 3%;padding-top: 3%;}
.right-content h2.product-name{font-size: 1.8em;line-height: 1.2em;margin-bottom: 0.4em;}
.right-content span.product-tagline{font-size: 1.4em;width: 100%;display: block;line-height: 1.35em;}
.product-option{border-top: 1px dashed #e3e3e3;padding: 20px 0 0 0;margin-top: 20px;width: 100%;float: left;}
.campaign-detail.condition ol,.campaign-detail.condition ul{padding: 0 0 0 20px;}
.campaign-detail.condition ol li{width:47%;float: left;font-weight: bold;color:#8c6c43;margin: 10px 0 0 0;}
.campaign-detail.condition ol li:nth-child(odd){margin-right: 5%;}
.campaign-detail.condition ul li{width: 100%;float: left;color:#323232;font-weight: normal;margin: 10px 0 0 0;}
button.popshop-but-bt{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #cadb2f;
  -moz-box-shadow: 0px 4px 0px #acc42a;
  -webkit-box-shadow: 0px 4px 0px #acc42a;
  box-shadow: 0px 4px 0px #acc42a;
  text-shadow: 0 1px 0 #fff;
  border: 0;
  padding: 10px 40px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
button.popshop-but-bt:hover{
  background: #acc42a;
  -moz-box-shadow: 0px 4px 0px #79891f;
  -webkit-box-shadow: 0px 4px 0px #79891f;
  box-shadow: 0px 4px 0px #79891f;
  cursor: pointer;
}
h2.hd-condition{font-size: 1.3em;line-height: 1em;margin-bottom: 0.4em;}
.campaign-footer{width: 100%;max-width: 750px; margin:20px auto 0 auto;border-top: 1px solid #f4f4f4  ;}
.campaign-footer ul{margin: 0;padding: 0;border-top: 1px solid #cccccc;overflow: hidden;}
.campaign-footer ul li{margin: 0;padding: 0;list-style: none;width: 186px;float: left;margin-right: 1px;}
.acommerce-footer{width: 100%;text-align: center;}
.acommerce-footer img{margin: 20px 0;}
.acommerce-footer span.contact{font-size: 0.9em; display: block;width: 100%;}
.acommerce-footer span.contact span.blue-tx,.acommerce-footer span.contact a.blue-tx{color: #079ace;text-decoration: none;}
.product-tab{width: 100%;max-width: 750px;margin:20px auto 0 auto;}
.product-tab ul{margin: 0;padding: 0;list-style:none outside none;}
.thumbs{text-align: center;}
.thumbs img{
  margin-right: 11px;
  margin-top: 17px;
  width:50px;
  border: 1px solid #d3d3d3;
  cursor: pointer;
}
/* ------------------------------ start tab ---------------------------*/
h1{font-size: 25px; color:#000; padding-bottom:20px; margin-bottom: 20px;}
h3{margin:30px 0 10px;}
p{margin: 0 0 20px;}
pre{ border: 1px solid #ddd; box-shadow: 1px 1px 0 #fff, 2px 2px 0 #ddd; margin:10px 0; padding: 10px; background: #fcfcfc; }

#container{ width:80%; padding:0px 50px; margin:0 auto;}

a:link, a:visited{ color: #000; text-decoration:none;}
a:hover{ color: #666;}

/*  == tab heading */
.tabs { border: 0; overflow:hidden; }
.tabs li{ float:left;background: #a98f76;}
.tabs li a{ border-left:0; color:#fff; display:block; font-weight:bold; padding: 15px 20px; }
.tabs li:first-child a{ border-left: none; }
/*.tabs li a:hover, .tabs li a:focus{ color:#D54E21; }*/
.tabs .active a{ color: #603814;background: #acc32a;text-shadow: 0 1px 0 #fff; }

/* == accordion */
.accordion_tabs { display:none; border-top:0; padding: 10px; font-weight: bold; background: #eee; }
.tab_content_wrapper > .accordion_tabs:first-child{ border-top:none; }
a.accordion_tabs:link, a.accordion_tabs:visited{ color: #fff;background: #a98f76; }
a.accordion_tabs:hover, a.accordion_tabs:focus{}
a.accordion_tabs.active{ border-bottom:0;color: #603814;background: #acc32a;text-shadow: 0 1px 0 #fff;}
a.accordion_tabs.active span{ background: url(../images/up-down.png) no-repeat right top; display: block; width: 100%}
a.accordion_tabs span{ background: url(../images/up-down.png) no-repeat right bottom; display: block; width: 100%}

/*  == tab content  */
.tab_content_wrapper{ overflow:hidden;  position:relative; transition: all .3s ease-in-out .3s; }
.tab_content{ transition: all .6s ease-in-out; padding:15px; background:#fff;}
.toggle_display{display:block;}
.toggle_position{ position:absolute; }
.toggle_border{ border:0; border-width: 0 1px 1px 1px; }
.invert_border{ border-width: 1px 1px 0 1px;}
/* fade */
.fadeIn{
  opacity: 1;
  transition-delay: .3s;
}
.fadeOut{
  opacity: 0;
}
/* slideDown */
.slideDownIn {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  transition-delay: .3s;
}

.slideDownOut {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}

/* slideUp */
.slideUpIn {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  transition-delay: .3s;
}

.slideUpOut {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
}

/* slideRight */
.slideRightScaleDownIn {
  -webkit-transform: translateX(0) scale(1);
  -moz-transform: translateX(0) scale(1);
  -ms-transform: translateX(0) scale(1);
  -o-transform: translateX(0) scale(1);
  transform: translateX(0) scale(1);
  opacity: 1;
  transition-delay: .3s;
}

.slideRightScaleDownOut {
  -webkit-transform: translateX(100%) scale(0.1) translateX(0);
  -moz-transform: translateX(100%) scale(0.1) translateX(0);
  -ms-transform: translateX(100%) scale(0.1) translateX(0);
  -o-transform: translateX(100%) scale(0.1) translateX(0);
  transform: translateX(100%) scale(0.1) translateX(0);
  opacity: 0;
}

/* slideLeft */
.slideLeftIn {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
  transition-delay: .3s;
}

.slideLeftOut {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}

/* slideRightToLeft */
.slideRightIn {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
  transition-delay: .3s;
}

.slideRightOut {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-animation-direction:alternate-inverse;
  -moz-animation-direction:alternate-inverse;
  animation-direction:alternate-inverse;
  opacity: 0;
}

/* flip */
.flipIn {
  -webkit-transform: rotatey(0deg) scale(1);
  -moz-transform: rotatey(0deg) scale(1);
  -ms-transform: rotatey(0deg) scale(1);
  -o-transform: rotatey(0deg) scale(1);
  transform: rotatey(0deg) scale(1);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 1;
  transition-delay: .3s;
}

.flipOut {
  -webkit-transform: rotatey(-90deg) scale(1.1);
  -moz-transform: rotatey(-90deg) scale(1.1);
  -ms-transform: rotatey(-90deg) scale(1.1);
  -o-transform: rotatey(-90deg) scale(1.1);
  transform: rotatey(-90deg) scale(1.1);
  -webkit-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
/* rotate */
.rotateIn {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  opacity: 1;
  transition-delay: .3s;
}

.rotateOut {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  -o-transform: rotate(-270deg);
  transform: rotate(-270deg);
  opacity: 0;
}
/* swingRight */
.swingRightIn {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  opacity: 1;
  transition-delay: .3s;
}

.swingRightOut {
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  opacity: 0;
}
/* swingLeft */
.swingLeftIn {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  opacity: 1;
  transition-delay: .3s;
}

.swingLeftOut {
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  opacity: 0;
}
/* scaleDown */
.scaleDownIn {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  transition-delay: .3s;
}

.scaleDownOut {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale(.3);
  -moz-transform: scale(.3);
  -ms-transform: scale(.3);
  -o-transform: scale(.3);
  transform: scale(.3);
  opacity: 0;
}
/* scaleUp */
.scaleUpIn {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  transition-delay: .3s;
}

.scaleUpOut {
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 0;
}
/* ------------------------------ end tab ---------------------------*/
/*------------------------------- start select box -----------------------------*/
.heapBox
{
clear:both;
display:inline-block;
line-height:35px;
position:relative;
}
#checkoutBox .heapBox {
width: 100%;
}
.heapBox *
{
margin:0;
padding:0;
outline: none;
}

.heapBox.disabled .holder
{
color:#EF7524;
}

.heapBox a{
text-decoration:none;
color:#000;
}

.heapBox .holder
{
width: 170px;
overflow: hidden;
background: #fff;
text-indent: 20px;
height: 47px;
border: 1px solid #dcdcdc;
webkit-border-radius: 5px 0 0 5px;
-moz-border-radius: 5px 0 0 5px;
border-radius: 5px 0 0 5px;
}
#checkoutBox .heapBox .holder{
  width: 77.5%;
  height: 29px;
  border: 1px solid #e2e2e2;
  webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-indent: 10px;
}
#checkoutBox .tax-input .heapBox .holder {
width: 87.5%;
}
.heapBox .handler
{
width: 49px;
background: #cadc26 url(../images/heapbox_handler_bg.jpg);
height: 49px;
webkit-border-radius: 0 5px 5px 0;
-moz-border-radius: 0 5px 5px 0;
border-radius: 0 5px 5px 0;
}
#checkoutBox .heapBox .handler {
width: 29px;
background: #cadc26 url(../images/checkout-select-box.gif);
height: 31px;
webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.heapBox .holder,.heapBox .handler
{
float: left;
position: relative;
z-index: 10;
color: #000;
font-size: 1.4em;
line-height: 2.3em;
}
#checkoutBox .heapBox .holder,#checkoutBox .heapBox .handler {
font-size: 1em;
line-height: 2em;
}
.heapBox div.heap{
display:none;
position:absolute;
list-style-type:none;
left:0;
width: 267px;
top: 49px;
overflow:hidden;
}

#checkoutBox .heapBox div.heap{
  top: 25px;
}

.heapBox .heap .heapOptions
{
display:block;
overflow:hidden;
z-index:20;
position:relative;
max-height: 150px;
overflow-y: auto;
}

.heapBox .heap a.sliderUp
{
display:block;
width:100%;
height:15px;
background:#d35400 url(../images/slider_arrow_up.png);
background-repeat:no-repeat;
background-position:center center;
border-bottom:1px solid #a84403;
position:absolute;
top:0px;
z-index:30;
}

.heapBox .heap a.sliderDown
{

display:block;
width:100%;
height:15px;
background:#d35400 url(../images/slider_arrow_down.png);
border-top:1px solid #a84403;
background-repeat:no-repeat;
background-position:center center;
position:absolute;
bottom:0px;
z-index:30;
}


.heapBox .heap .heapOptions .heapOption
{
z-index:20;
position:relative;
display:block;
height:35px;
}

.heapBox .heap .heapOptions .heapOption a{
width:100%;
display:block;
background:#FFFFFF;
text-indent:20px;
}

.heapBox .heap .heapOptions .heapOption a:hover{
  background: #fff;
}

.heapBox .heap .heapOptions .heapOption a.selected{
  background: #cadc26;
  color: #5e3b1f;
  font-weight: bold;
}

.heapBox .heap .heapOptions .heapOption a.disabled{
  color: #C2C2C2;
  background: #EDEDED;
}

.product-option span.hd-option{
  color: #8b5e41;
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
  width: 40%;
  float: left;
  line-height: 2.4em;
}
.product-option span.price-value{
  color: #644f4a;
  font-weight: normal;
  font-size: 1.2em;
  display: inline-block;
  float: left;
  line-height:1.9em;
  width: 60%;
}
.product-option.price span.hd-option{
  line-height: 1.9em;
}
.product-option.price.ais-price span.price-value{
  color: #644f4a;
  font-weight: bold;
  font-size: 1.6em;
  display: inline-block;
  float: left;
  line-height: 1.5em;
  width: 60%;
}
.product-option.price.ais-price span.hd-option{
  line-height: 2.3em;
}
.product-option.price{overflow: hidden;padding:13px 0;}
.product-option.price.ais-price{padding:11px 0 19px 0px;border-bottom: 1px dashed #e3e3e3;;margin-top: 0;}
.free-gift{
  clear: left;
  margin-top: 9px;
  float: left;
  width: 100%;
}
.product-checkout{
  width: 100%;
  display: block;
}
.free-gift-checkout{
    font-size: 0.95em;
    font-weight: normal;
    font-style: italic;
    display: block;
  }
.product-option-checkout{
  width: 100%;
  display: block;
}
.promotion-detail{
  overflow: hidden;
  width: 89.7%;
  float: right;
  margin-top: 5px;
  color: #3d3d3d;
}
.discount-value{font-weight: bold;}
ul.value-free-gift{
  margin: 0;
  padding: 0 0 0 17px;
  float: left;
  width: 100%;
  font-size: 0.9em;
}
ul.value-free-gift li{margin-bottom: 3px;}
.discountOption{color: #f7941e;}

ul.value-free-gift li:last-child{list-style:none;}
/*-------------------------------------- end select box -------------------------------------------------- */
/*----------------------------------------- start new select box ------------------------------------------*/
/* The CSS */
select {
    padding: 3px;
    margin: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    /* -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset; */
    /*-moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;*/
    /* box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset; */
    background: #fff;
    color: #666;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 100%;
    border: 1px solid #dcdcdc;
    font-size: 1.45em;
    line-height: 1.45em;
    height: 39px;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}

label.for-select-box {position:relative;float: left;width: 100%;}
label.for-select-box:after {
  content: '>';
  font: 27px "Consolas", monospace;
  color: #fff;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 12px;
  top: 0px;
  padding: 0 0 6px;
  position: absolute;
  pointer-events: none;
}
label.for-select-box:before {
    content: '';
    right: 0;
    top: 0px;
    width: 35px;
    height: 39px;
    background: #cbdc1a;
    position: absolute;
    pointer-events: none;
    display: block;
    webkit-border-radius:0 4px 4px 0;
  -moz-border-radius:0 4px 4px 0;
  border-radius:0 4px 4px 0;
}
.product-option label.for-select-box {width: 60%;height: 23px;}
#checkoutBox select{
  font-size: 1em;
  line-height: 1.2em;
  height: 31px;
  background: #FFFEF7;
}
#checkoutBox label.for-select-box:after {
  font: 19px "Consolas", monospace;
  top: 2px;
}
#checkoutBox label.for-select-box:before {
width: 30px;
height: 31px;
background: #cbdc1a;
}
/*------------------------------------------end new select box---------------------------------------------*/
/* overlay */
#overlayBlack{
  width: 100%;
  height: 100%;
  background: #000;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 999;
  opacity: 0.6;
  filter: alpha(opacity=60);
  display: none;
}
#close-bt{background: url(../images/close-bt.png) no-repeat;width: 52px;height: 52px;position: absolute;top: -15px;left: -12px;display: none;cursor: pointer;}
#aisPopup{background: url(../images/ais-popup-bg.jpg) no-repeat;width:629px;min-height: 437px;position: fixed;z-index: 9999;display: none;float: left; margin-left: -314px; left:50%; top:50%;}
#otpRequest,#otpVerify,#otpLoadingVerify,#otpVerifySuccessful,#otpVerifyFail{margin:100px auto 0 auto;width: 80%;overflow: hidden;}
#otpRequest h2,#otpVerify h2,#otpLoadingVerify h2,#otpVerifySuccessful h2,#otpVerifyFail h2{font-size: 1.5em;color: #fff;}
#otpVerify{display: none;}
div.otp-request{width: 80%;margin: 0 10%;}
input.otp-request{
  width: 58%;
  height: 44px;
  webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  border:1px solid #9d9e96;
  border-right: 0;
  float: left;
  font-size: 1.4em;
  text-indent: 10px;
}
input, button{outline: 0;}
button.otp-request{
  background: #f8960d;
  webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  border:1px solid #c07700;
  height: 48px;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 20px;
  cursor: pointer;
}
span.bottom-tx{margin-top: 40px;display: block;}
span.bottom-tx a{text-decoration: underline;}
#otpLoading,#otpLoadingVerify{
  display: none;
  margin: 124px auto 0 auto;
  color: #fff;
  text-align: center;
  width: 49%;
  line-height: 2.3em;
}
#otpVerify,#otpLoadingVerify,#otpVerifySuccessful,#otpVerifyFail,#checkoutBox{display: none;}
#otpVerify span.bottom-tx {margin-top: 12px;width: 50%;float: left;}
#otpVerify span.bottom-tx.right-content{float:right;text-align: right;}
#otpVerify button.otp-request{width: 39%;}
span.successful-detail,span.close-tx,span.fail-detail{width: 100%;display: block;margin-top: 20px;}
span.close-tx{text-align: center;color: #fff;font-weight: bold;}
#otpVerifyFail span.bottom-tx{text-align: center;margin-top: 18px;}
#otpVerifyFail span.bottom-tx span{text-decoration: underline;cursor: pointer;}
#otpVerifyFail h2{color: #f60094;margin-top: 0; line-height:21px;}
.notAisCheckout{cursor: pointer;text-decoration: underline;}
/* end overlay */

/*start checkout*/
#checkoutBox{background:#f3f0df;}
#checkoutBox{width:690px;position: absolute;z-index: 9999; left: 50%; top: 50%; margin-left: -345px;}
#checkoutBox .close-bt,#thankyouBox .close-bt,#errorBox .close-bt, #timeBox .close-bt{background: url(../images/close-bt.gif) no-repeat;width: 12px;height: 11px;overflow: hidden;position: absolute;right: 10px;top: 10px;cursor: pointer;}
.billingAddress,.shippingAddress,.reviewOrder,.paymentMethod,.bottomSection,.shippingMethod{border:1px solid #D2C8BE;margin:4.5% 3% 0 3%;float: left;width: 94%;background:#FFFEF7;}
.bottomSection{
  margin-bottom: 3%;
  width: 94%;
  font-size: 0.85em;
  line-height: 2.2em;
}
/*.shippingAddress{display: none;}*/
.billingAddress h2,
.shippingAddress h2,
.reviewOrder h2,
.paymentMethod h2,
.bottomSection h2,
.shippingMethod h2{
  margin: 0;
  font-size: 1.2em;
  line-height: 1.8em;
  padding-left:2.5%;
  border-bottom:1px solid #D2C8BE;
  background: #cadc26;
  color: #613915;
  padding-top: 0.4%;
}
.shippingMethod div{
  margin: 2% auto;
  width: 95%;
}
.billingAddress ul,.shippingAddress ul{
  margin: 2.5% 2.5% 0 2.5%;
  padding: 0;
  /*overflow: hidden;*/
}
.billingAddress .heap ul,.shippingAddress .heap ul{margin: 0;}
.billingAddress ul li,.shippingAddress ul li,.bottomSection ul li{list-style: none;}
.billingAddress ul li.left-form,.shippingAddress ul li.left-form,.bottomSection ul li.left-form{
  width: 47%;
  float: left;
  padding-right: 2.5%;
}
.billingAddress ul li.right-form,.shippingAddress ul li.right-form,.bottomSection ul li.right-form{
  padding-right: 0;
  padding-left: 2.5%;
  float: right;
  width: 47%;
  border-left: 1px solid #dfdfdf;
}
.half-row {
width: 48%;
float: left;
margin-right: 3.5%;
margin-bottom: 4%;
}
.full-row {
width: 100%;
float: left;
margin-bottom: 4%;
}
.billingAddress ul li .half-row.right-form,.shippingAddress ul li .half-row.right-form{margin-right: 0;}
.half-row input{
width: 95.5%;
border: 1px solid #e2e2e2;
height: 27px;
padding-left: 4.5%;
background: #FFFEF7;
}
.full-row input{width: 95.5%;border: 1px solid #e2e2e2;height: 27px;padding-left: 4.5%;background: #FFFEF7;}
label.same-address,label.payment-option{margin:0 0 2.5% 2%;}
label.payment-option{width: 98%;margin: 2% 0 0 2%;}
label.payment-option.last{margin-bottom: 2%;}
span.credit-card-ico{
  background: url(../images/mastercard-visacard.gif) right no-repeat;width: 100px;
  display: inline-block;
  background-size: 100%;
  height: 26px;
  margin-top: 8px;
  float: left;
  margin-left: 6px;
}
label.credit-card{width: auto;width: auto;float: left;}
.detail-cod,.detail-2c2p{/*display: none;*/width: 84%;margin: 1% auto 0 auto;overflow: hidden;}
#termBox{display: none;}
#termBox p{
  width: 94%;
  line-height: 1.5em;
  margin: 2% 3%;
}
.bottomSection ul li.left-form ul{
  padding: 0;
  margin-bottom: 4%;
}
.openTermBox{cursor: pointer;color:#69c5f3;}
span.quarantee-checked{
  background: url(../images/green-check.gif) no-repeat;
  margin-top: 4px;
  width: 17px;
  height: 15px;
  display: block;
  margin-right: 10px;
  float: left;
}
.buy-box{width: 50%;margin: 0 auto;}
.bottomSection .buy-box{width: 70%;}
.buy-box button{width: 100%;}
.bottomSection h2{line-height: 2.2em;}
/*end checkout*/
/*checkbox*/
.custom-label {
  display: inline-block;
  margin-right: .8em;
  cursor: pointer;
}
.custom-radio,
.custom-check {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -.15em; /* Adjust to for best fit */
    margin: 0 .4em;
    width: 20px;
    height: 20px;
    background: url(../images/customRadioCheck.png) 0 0 no-repeat;
}
.custom-radio { background-position: 0 -20px; }
.custom-check.focus { background-position: -20px 0; }
.custom-radio.focus { background-position: -20px -20px; }
.custom-check.checked { background-position: -40px 0; }
.custom-radio.checked { background-position: -40px -20px; }
.custom-check.checked.focus { background-position: -60px 0; }
.custom-radio.checked.focus { background-position: -60px -20px; }
.paymentMethod div.last{margin-bottom:2%;}
/*end checkbox*/
/*start product table*/
#product-attribute-specs-table tr.groupHeader {
background: url(../images/specifications-ico.png) no-repeat;
}
#product-attribute-specs-table tr.groupHeader.processor_operating_system {
background-position:0 0px;
}
#product-attribute-specs-table tr.groupHeader.display_camera {
background-position:0 -27px;
}
#product-attribute-specs-table tr.groupHeader.memory_sim_card {
background-position:0 -55px;
}
#product-attribute-specs-table tr.groupHeader.connectivity {
background-position:0 -83px;
}
#product-attribute-specs-table tr.groupHeader.style_size {
background-position:0 -109px;
}
#product-attribute-specs-table tr.groupHeader.battery {
background-position:0 -136px;
}
.data-table tr.groupHeader th {
font-size: 1.1em;
line-height: 1.2em;
font-weight: bold;
color: #acc42a;
border-bottom: 1px dashed #e3e3e3;
padding-left: 29px;
}
.data-table tr th, .data-table tr td {
font-size: 0.9em;
line-height: 1.8em;
vertical-align: top;
}
.data-table th {
/* background: #f4f4f4; */
text-transform: capitalize;
font-family: 'Arial', Tahoma, sans-serif;
line-height: 1.4;
white-space: nowrap;
}
.data-table td, .data-table th {
padding: 5px 0;
vertical-align: top;
}
th, code, cite, caption {
font-weight: normal;
font-style: normal;
text-align: left;
}
/*end product table*/
/*start thank you and error qty*/
#thankyouBox,
#errorBox,
#timeBox {
width: 690px;
position: fixed;
z-index: 9999;
background:#f3f0df;
display: none;
left:50%;
top:50%;
margin-left: -345px;
}
.thankyoumessage,
.errormessage{
  border: 1px solid #D2C8BE;
  margin: 4.5% 3% 3% 3%;
  float: left;
  width: 90%;
  background: #FFFEF7;
  padding: 2%;
}
.error-ico,
.thankyou-ico{
  background: url(../images/error-icon.png) no-repeat;
  width: 62px;
  height: 58px;
  display: block;
  margin: 0 auto;
}
.thankyou-ico{background: url(../images/thankyou-icon.png) no-repeat;}
.error-hd,
.thankyou-hd{
  color: #8b5e41;
  font-size:1.25em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 2%;
}
.error-detail,
.thankyou-detail{
  color: #3d3d3d;
  font-size: 1.1em;
  font-weight: normal;
  text-align: center;
  width: 100%;
  display: block;
  line-height: 1.5em;
  margin-top: 1%;
}
.error-detail a, .thankyou-detail a{color:#0070c0;text-decoration: underline;font-weight: bold;}
.thankyou-hd{color: #aec423;}
/*end thank you and error qty*/
/*start table responsive*/
table#reviewOrder {
  margin: 2% auto;
  border-collapse: collapse;
  text-rendering: optimizeLegibility;
  width: 95%;
  font-size: 0.9em;
}
table#reviewOrder thead th { font-weight: 600; }
table#reviewOrder thead th, table#reviewOrder tbody td {
  padding: .2em;
  font-size: 1em;
  text-align: left;
  font-weight: bold;
}
table#reviewOrder tbody td {
  padding: .2em; font-size: 1em;
}
table#reviewOrder tbody tr:not(:last-child) {
  /*border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;  */
}
tr#total, tr#shipping{border-top:1px solid #C2B19F;position: relative;}
table#reviewOrder tbody tr#total td{padding-top: 5px;}
tr#total{font-weight: bold; font-size:14px;}



/*start no-deal*/
.ais-line-header-logo{background: url(../images/ais-line-no-deal.png) center no-repeat;height: 80px;border-bottom: 2px solid #cadb2f;padding: 8px 0;max-width: 480px;margin: 0 auto;}
.ais-line-hero{background: url(../images/ais-line-hero.png) center no-repeat;height: 80px;padding:12px 0; width: 100%; height:191px;max-width: 480px;margin: 0 auto; }
.ais-line-bottom-text{background: url(../images/ais-line-no-deal-bg.jpg) bottom no-repeat;max-width: 480px;margin: 0 auto;border-bottom: 30px solid #895c3b;text-align: center;background-size: 100%;color: #4a3222;}
.ais-line-bottom-text img{margin:7% 0 25% 0;}
.no-deal-hd{font-size: 2em;line-height: 2em;width: 100%;display: block;padding-top:0;}
.no-deal-detail{font-size: 1em;line-height: 1.5em;padding-bottom:10%;display: block;}
/*end no-deal*/
@media screen and (max-width: 600px) {
  table#reviewOrder caption { background-image: none; }
  table#reviewOrder thead { display: none; }
  table#reviewOrder tbody td {
    display: block; padding: .6em;
  }
  table#reviewOrder tbody tr#free td:first-child {
    border-top:1px solid #C2B19F;
  }
  table#reviewOrder tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 13em;
  }
  table#reviewOrder tbody tr#shipping td:before,
  table#reviewOrder tbody tr#shipping td,
  table#reviewOrder tbody tr#total td:before,
  table#reviewOrder tbody tr#total td {
    display: none;
  }
  table#reviewOrder tbody tr#shipping td:first-child,
  table#reviewOrder tbody tr#shipping td:last-child,
  table#reviewOrder tbody tr#total td:first-child,
  table#reviewOrder tbody tr#total td:last-child{
    display: block;
  }
  table#reviewOrder tbody tr#shipping td:first-child,
  table#reviewOrder tbody tr#total td:first-child{
    border-bottom:0;
  }
  table#reviewOrder tbody tr#shipping td:first-child,
  table#reviewOrder tbody tr#total td:first-child{float: left;}
  table#reviewOrder tbody tr#shipping td:last-child,
  table#reviewOrder tbody tr#total td:last-child{float: left;}
  table#reviewOrder tbody tr#total td:last-child{position: absolute;left: 188px;}
}
/*end table responsive*/
label.error{
  font-size: 0.8em;
  color: #F10808;
  float: left;
}

.thankyou-icon-box{width: 730px;margin: 0 auto; text-align: left;font:bold 18px 'Arial';text-transform: uppercase;border-bottom: 2px solid #cadc26;padding: 15px 10px;}
.brown-tx{color: #4a3639;}
.green-tx{color: #bccf2e;}
.ais-thankyou-icon{
  background: url("../images/ais-thankyou.jpg")no-repeat center;
  width: 750px;
  height: 180px;
  margin:20px auto;
}
.thankyou-hd-tx-box{
width: 750px;
margin: 25px auto 20px auto;
text-align: center;
color: #B3C71E;
font: bold 20px 'Thahoma';
}
.thankyou-detail-box{
width: 750px;
margin: 0 auto;
text-align: center;
color: #3d3d3d;
font: normal 14px/26px 'Thahoma', Arial;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media only screen and (max-width: 749px) {
  .ais-thankyou-icon,.thankyou-hd-tx-box,.thankyou-detail-box{width: 100%;}
  .thankyou-icon-box{width:94%;padding: 15px 3%;}
}
@media only screen and (max-width: 730px) {
  #thankyouBox,
  #errorBox,
  #timeBox {
  width: 95%;
  margin-left: -47%;
  }
}
@media only screen and (min-width: 641px) and (max-width: 780px) {
  .campaign-detail.condition{width: 95%;padding: 0 2.5% 5% 2.5%;}
  .campaign-footer ul li{width: 25%;margin-right: 0;}
  .campaign-footer ul li img{width: 100%;}
}

@media only screen and (max-width: 690px) {
  #checkoutBox {width: 100%; margin-left: -50%}
  .buy-box {width: 65%;}
  #checkoutBox .heapBox .holder {width: 75.5%;}
}

@media only screen and (max-width: 650px) {
  .billingAddress ul li.left-form, .shippingAddress ul li.left-form, .bottomSection ul li.left-form {
    width: 100%;
    float: left;
    border-right: 0;
    padding-right: 0;
  }
  .billingAddress ul li.right-form, .shippingAddress ul li.right-form{
    width: 100%;
    padding-left: 0;
    border-left: 0;
  }
  .bottomSection ul li.right-form{
    width: 92%;
    padding-left: 0;
    border-left: 0;
  }
  #checkoutBox .heapBox .holder {
    width: 80%;
  }
  .bottomSection ul li.left-form{
    width: 92%;
    padding-bottom: 2%;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 2%;
  }
  .bottomSection ul li.right-form label{display: block;}
  .billingAddress{margin: 7.5% 3% 0 3%;}
  #checkoutBox .tax-input .heapBox .holder {
  width: 90%;
  }
  .bottomSection ul li.left-form ul {
  margin-bottom: 0;
  }
}

@media only screen and (max-width: 640px) {
  .campaign-header{background: url(../images/ais-popshop-mobile-logo.png) center no-repeat;border-bottom: 6px solid #cadc26;height: 145px;max-width: 750px;margin: 0 auto;}
  .left-content,.right-content{float:none;}
  .left-content img.product-img{width: 100%; max-width: 380px;}
  .left-content{text-align: center;width: 100%;}
  .left-content.product-gallery{width: 100%;margin-right: 0;}
  .right-content{text-align: left;padding: 5%;width: 90%;}
  .campaign-detail.condition{width: 90%;padding: 0 5% 5% 5%;}
  .campaign-detail.condition ol li{width:100%;}
  .buy-bt-box{width: 50%;margin: 0 auto;overflow: hidden;}
  .buy-bt-box button.popshop-but-bt{width: 100%;}
  .campaign-footer ul li{width: 25%;margin-right: 0;}
  .campaign-footer ul li img{width: 100%;}
  .acommerce-footer span.contact span.mobile-100{width: 100%;display: block;}
  #otpVerify span.bottom-tx.right-content{padding: 0;}
}

@media screen and (max-width: 629px) {
  #aisPopup{background:#aec424 url(../images/ais-popup-bg-mobile.jpg) top right no-repeat;width:95%; margin-left: -47%;}
  div.otp-request{width:100%;margin: 0;}
}

@media screen and (max-width: 600px) {
  #container{ width:90%; padding:40px 20px; }
  .accordion_tabs{ display:block; }
  .tab_content_wrapper{ height:auto !important;}
  .tab_content{ transition:none; padding:10px;}
  .toggle_display{display:none;}
  .toggle_position{ position:relative; }
  .toggle_border{ border-width: 1px; }
}

@media screen and (max-width: 500px) {
    input.otp-request{
    width: 99%;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-right:1px solid #9d9e96;
  }
  button.otp-request{
    width: 99%;
    background: #f8960d;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 15px;
  }
  #otpVerify button.otp-request{width: 100%;webkit-border-radius: 5px;-moz-border-radius: 5px;  border-radius: 5px;}
  span.bottom-tx {margin-top: 20px;margin-bottom: 20px;}
  .data-table tr th, .data-table tr td {
  font-size:0.85em;
  line-height: 1.8em;
  vertical-align: top;
  }
  .bottomSection ul{
    padding: 0;
    width: 90%;
    margin: 5%;
    float: left;
  }
  .bottomSection ul li.left-form ul{
    margin: 0;
  }
  .bottomSection ul li.left-form {
  width: 100%;
  padding-bottom: 2%;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 2%;
  }
  .bottomSection ul li.right-form {
  width:100%;
  border-left: 0;
  }
}


@media only screen and (max-width: 420px) {
  .campaign-footer ul li{width: 50%;margin-right: 0;}
  .campaign-footer ul li img{width: 100%;}
  .buy-box {width: 80%;}
  .bottomSection .buy-box {
  width: 80%;
  }
}
@media only screen and (max-width: 390px) {
  .product-option span.hd-option{width: 100%;}
  .heapBox {width: 100%;}
  .heapBox .holder {width: 70%;}
  .heapBox div.heap {width: 97%;}
  .buy-bt-box {width: 85%;}
  #checkoutBox .heapBox .holder {
  width: 75%;
  }
  #checkoutBox .tax-input .heapBox .holder {
  width: 85%;
  }
  .product-option label.for-select-box {
  height: 45px;
  }
  table#reviewOrder tbody td:before{
    width: 100%;
  }
  table#reviewOrder tbody tr#shipping td:first-child,
  table#reviewOrder tbody tr#total td:first-child{
    width: 100%;
    padding:0.6em 0 0 0.6em ;
  }
  table#reviewOrder tbody tr#shipping td:last-child,
  table#reviewOrder tbody tr#total td:last-child{
    padding: 0 0 0.6em 0.6em;
  }
  table#reviewOrder tbody tr#shipping td:last-child,
  table#reviewOrder tbody tr#total td:last-child {
    left: 0;
    position: relative;
  }
}
@media only screen and (max-width: 320px){
  .ais-line-bottom-text img{width: 80%;margin: 7% 0 12% 0;}
  .no-deal-hd {
  font-size: 1.5em;
  padding-top: 15%;
  }
  .no-deal-detail {padding-bottom: 7%;}
}
@media only screen and (max-width: 240px) {
  #checkoutBox .heapBox .holder {
  width: 65%;
  }
  #checkoutBox .tax-input .heapBox .holder {
  width: 84%;
  }
  .no-deal-hd {
  font-size: 1em;
  padding-top: 8%;
  font-weight: bold;
  }
  .ais-line-hero {
  background-size: 88%;
  height: 160px;
  }
}