@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);

.md-perspective body{background:#222;-webkit-perspective:600px;-moz-perspective:600px;perspective:600px}
.md-modal{position:fixed;top:50%;left:50%;width:50%;max-width:305px;min-width:305px;height:auto;z-index:2000;visibility:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-ms-transform:translateX(-50%) translateY(-50%);transform:translateX(-50%) translateY(-50%)}
.md-show{visibility:visible}
.md-overlay{position:fixed;width:100%;height:100%;visibility:hidden;top:0;left:0;z-index:1000;opacity:0;background:rgba(255,255,255,0.6);-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
.md-show ~ .md-overlay{opacity:1;visibility:visible}
.md-content{color:#fff;background:#fff;position:relative;border-radius:3px;margin:0 auto;}
.md-content-wrapper{padding:0 20px 20px;}
.md-content h3{text-align:center;font-size:2.4em;font-weight:300;opacity:0.8;background:rgba(0,0,0,0.1);border-radius:3px 3px 0 0;margin:0;padding:.4em}
.md-effect-7{top:20%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}
.md-effect-7 .md-content{-webkit-transform:translateY(-200%);-moz-transform:translateY(-200%);-ms-transform:translateY(-200%);transform:translateY(-200%);-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;opacity:0}
.md-show.md-effect-7 .md-content{-webkit-transform:translateY(0%);-moz-transform:translateY(0%);-ms-transform:translateY(0%);transform:translateY(0%);border-radius:3px;opacity:1;border: 1px solid #acc42a;}
.md-modal-footer {  padding: 19px 20px 20px;  margin-top: 15px;  text-align: right;  border-top: 1px solid #e5e5e5;; overflow:hiden;}
.md-modal-footer .btn + .btn {  margin-bottom: 0;  margin-left: 0;}
.md-modal-footer .btn-group .btn + .btn {  margin-left: -1px;}
.md-modal-footer .btn-block + .btn-block {  margin-left: 0;}
.md-modal-footer  a{display:block; font-size:12px;margin-top: 9px; text-decoration:none}
.md-modal-header h4{padding:20px;;color:#4a4a4a; font-weight:600;font-size:16px;}
.md-modal-header .close {cursor: pointer;position: absolute;right: 10px;text-decoration: none;top:10px;z-index: 1000;background: url("images/close.png") no-repeat scroll 0 0 transparent;display: block;height: 8px;width: 8px;text-indent: -999em;border:none}
#agreement-modal-body{max-height:200px;overflow:hidden; overflow-y:auto}

.left{float:left !important;}
.right{float:left !important;}
.clear{clear:both !important;}
.hidden{display:none}
.move-columns{margin-bottom:15px;}

#floatingCirclesG{position:relative;width:64px;height:64px;-moz-transform:scale(0.6);-webkit-transform:scale(0.6);-ms-transform:scale(0.6);-o-transform:scale(0.6);transform:scale(0.6);margin: 0 auto;top: 50%;}
.f_circleG{position:absolute;background-color:#FFFFFF;height:12px;width:12px;-moz-border-radius:6px;-moz-animation-name:f_fadeG;-moz-animation-duration:0.72s;-moz-animation-iteration-count:infinite;-moz-animation-direction:linear;-webkit-border-radius:6px;-webkit-animation-name:f_fadeG;-webkit-animation-duration:0.72s;-webkit-animation-iteration-count:infinite;-webkit-animation-direction:linear;-ms-border-radius:6px;-ms-animation-name:f_fadeG;-ms-animation-duration:0.72s;-ms-animation-iteration-count:infinite;-ms-animation-direction:linear;-o-border-radius:6px;-o-animation-name:f_fadeG;-o-animation-duration:0.72s;-o-animation-iteration-count:infinite;-o-animation-direction:linear;border-radius:6px;animation-name:f_fadeG;animation-duration:0.72s;animation-iteration-count:infinite;animation-direction:linear;}
#frotateG_01{left:0;top:26px;-moz-animation-delay:0.27s;-webkit-animation-delay:0.27s;-ms-animation-delay:0.27s;-o-animation-delay:0.27s;animation-delay:0.27s;}
#frotateG_02{left:8px;top:8px;-moz-animation-delay:0.36s;-webkit-animation-delay:0.36s;-ms-animation-delay:0.36s;-o-animation-delay:0.36s;animation-delay:0.36s;}
#frotateG_03{left:26px;top:0;-moz-animation-delay:0.45s;-webkit-animation-delay:0.45s;-ms-animation-delay:0.45s;-o-animation-delay:0.45s;animation-delay:0.45s;}
#frotateG_04{right:8px;top:8px;-moz-animation-delay:0.54s;-webkit-animation-delay:0.54s;-ms-animation-delay:0.54s;-o-animation-delay:0.54s;animation-delay:0.54s;}
#frotateG_05{right:0;top:26px;-moz-animation-delay:0.63s;-webkit-animation-delay:0.63s;-ms-animation-delay:0.63s;-o-animation-delay:0.63s;animation-delay:0.63s;}
#frotateG_06{right:8px;bottom:8px;-moz-animation-delay:0.72s;-webkit-animation-delay:0.72s;-ms-animation-delay:0.72s;-o-animation-delay:0.72s;animation-delay:0.72s;}
#frotateG_07{left:26px;bottom:0;-moz-animation-delay:0.81s;-webkit-animation-delay:0.81s;-ms-animation-delay:0.81s;-o-animation-delay:0.81s;animation-delay:0.81s;}
#frotateG_08{left:8px;bottom:8px;-moz-animation-delay:0.9s;-webkit-animation-delay:0.9s;-ms-animation-delay:0.9s;-o-animation-delay:0.9s;animation-delay:0.9s;}

@-moz-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@-webkit-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@-ms-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@-o-keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}
@keyframes f_fadeG{0%{background-color:#00909e}100%{background-color:#FFFFFF}}

.opc-ajax-loader{background-color: rgba(255, 255, 255, 0.7);height: 100%;left: 0;position: fixed;top: 0;width: 100%;display:none;z-index: 10000 !important;}
.opc-checkout-cart{}

/** BASE OPC ELEMENTS **/
.opc-wrapper-opc{/*overflow: hidden;*/margin: 0 auto;}
.opc-wrapper-opc *{font-size:14px;font-family: 'Arial', Tahoma, sans-serif;color:#614e48;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
.opc-wrapper-opc label{color:#614e48;font-weight:normal;font-size:14px;line-height: 24px;text-align: left;margin: 0;padding: 0;}
.opc-wrapper-opc label.hd-123cash{ font-weight: bold;}
.opc-wrapper-opc h3{font-weight:600;color:#404040; font-size:16px;text-align:left;border-bottom:1px solid #b6b6b6;padding-bottom:8px;line-height: 1;margin-bottom: 20px}
.opc-wrapper-opc .validation-advice{font-weight:normal;text-align: left;color: red;font-size: 12px;}
.opc-wrapper-opc h2{
	color: #acc42a;
	font-size: 18px;
	font-weight: 600;
	text-align: left;
	text-transform: capitalize;
	margin: 25px 0;
}
.opc-wrapper-opc p{font-size:16px; color:#614e48;text-align:left;margin: 0 0 10px;}
.opc-wrapper-opc input{box-shadow:none;background: none}
.opc-wrapper-opc button:focus,
.opc-wrapper-opc button:active { outline:0; }
.opc-wrapper-opc input:focus{ outline:0; }
.opc-wrapper-opc .opc-col-left{
	width: 33%;
	float: left;
	padding-right: 30px;
	padding-left: 30px;
}
.opc-wrapper-opc .opc-col-center{
	float: left;
	width: 34%;
	padding-right: 30px;
	padding-left: 0;
}
.opc-wrapper-opc .opc-col-right{  
	float: left;
	width: 33%;
	padding-right: 30px;
}
.opc-wrapper-opc .opc-col-right.full-page{width:100%;margin-left:0}
.opc-wrapper-opc .opc-col-right.validate-secure{width:61%;}
.opc-wrapper-opc a:hover{color:#00909e;}
.opc-wrapper-opc input.input-text:focus, .opc-wrapper-opc select:focus, .opc-wrapper-opc  textarea:focus {}
.opc-wrapper-opc span.validation-passed, .opc-wrapper-opc div.validation-passed{background-image:none}
.opc-wrapper-opc iframe{margin:0 auto;display: block;}

/* Payment over counter */
#payment_form_one23cash { width: 100%; margin-top: 10px; }
.ml-123cash .input-box ul li label { margin: 0 0 0 2%; }
.ml-123cash .input-box ul li { width: 50%; }
.ml-123cash .input-box ul li:nth-child(2n) { padding-left: 2%; }

/*FIX FOR INFORTIS THEMES*/
#root-wrapper .in-col1 .opc-wrapper-opc input{height:36px !important}

/** LOGIN FORM **/
.opc-wrapper-opc .text-login{color:#6b6b6b; font-size:14px; font-weight:400;}
.opc-wrapper-opc .text-login a{color:#acc42a;text-transform:uppercase;font-weight:600;text-decoration: none;cursor:pointer;}
.opc-wrapper-opc .form-list .input-box{width:100%}
.opc-wrapper-opc .form-list .input-box input[type="text"],
.opc-wrapper-opc .form-list .input-box input[type="password"]{width:100%}

/** FORGOT PASSWORD FORM **/
.opc-wrapper-opc #form-validate-email p{font-size:14px;}
.opc-wrapper-opc  .back-link{float: left;}


/** BILLING AND SHIPPING FORM **/
.opc-wrapper-opc #co-billing-form,
.opc-wrapper-opc .opc-col-left li{ }
.opc-wrapper-opc .form-list > li:not(.control) {/* margin-bottom: 0;*/ }
.opc-wrapper-opc .opc-col-left .input-box {width:280px;padding:0}
.opc-wrapper-opc .opc-col-left input[type="text"],
.opc-wrapper-opc .opc-col-left input[type="password"]{border:1px solid #d8d8d8; height:22px;padding:0;padding-left:5px;}
.opc-wrapper-opc .opc-col-left .wide select{border:1px solid #d8d8d8; height:24px;padding:0;width:100%;padding-left:5px;position: absolute;}
.opc-wrapper-opc .opc-col-left .customer-name .field{width:132px;}
.opc-wrapper-opc .opc-col-left .customer-name .field:first-child{margin-right:14px;}
.opc-wrapper-opc .opc-col-left .customer-name .input-box{width:132px;}
.opc-wrapper-opc .opc-col-left .customer-name input[type="text"]{width:130px;}
.opc-wrapper-opc .opc-col-left .wide{width:100%;float:none;}
.opc-wrapper-opc .opc-col-left .wide .input-box {width:98.5%;padding:0}
.opc-wrapper-opc .opc-col-left .wide input[type="text"]{border:1px solid #d8d8d8; height:22px;padding:0;width:100%;padding-left:5px;}
.opc-wrapper-opc .opc-col-left .fields .field{ clear: none;float: left;width: 46%;}
.opc-wrapper-opc .opc-col-left .fields .field:first-child{margin-right:21px;}
.opc-wrapper-opc .opc-col-left .fields .input-box{width:100%;}
.opc-wrapper-opc .opc-col-left .fields input[type="text"],
.opc-wrapper-opc .opc-col-left .fields input[type="password"]{width:100%;}
.opc-wrapper-opc .opc-col-left .fields select{width:100%;position: absolute;}
.opc-wrapper-opc .opc-col-left .control{text-align: left;clear: both;}
.opc-wrapper-opc .opc-col-left .control label{font-size: 13px;font-weight: bold;color: #614e48;}
.opc-wrapper-opc .opc-col-left .notice{font-size: 14px;line-height: 20px;color: #614e48;font-weight: bold;;margin-bottom:15px}


.opc-wrapper-opc .opc-data-table{width:100%;}
.opc-wrapper-opc .opc-data-table thead{display: none;}
.opc-wrapper-opc .opc-data-table thead th{color:#614e48; font-size:15px;padding:0 10px 7px;/*border-bottom:1px solid #eaeaea; */font-weight: bold;}
.opc-wrapper-opc .opc-data-table thead tr th:first-child{padding-left:0}
.opc-wrapper-opc .opc-data-table thead tr th:last-child{padding-right:0}
.opc-wrapper-opc .opc-data-table tbody td{padding:0;border-bottom:1px solid #eaeaea;color:#614e48; font-size:13px;font-weight:400}
.opc-wrapper-opc .opc-data-table tbody td.hd-product-name{padding:10px 0 0 0;border-bottom: 0;}
.opc-wrapper-opc .opc-data-table tbody tr td:first-child{padding-left:14px;}
.opc-wrapper-opc .opc-data-table tbody tr:first-child td{padding-top: 0;}
.opc-wrapper-opc .opc-data-table td.last{padding-right:14px;}
.opc-wrapper-opc .opc-data-table tbody td:not(.hd-product-name) { padding-bottom: 10px; }
.opc-wrapper-opc .opc-data-table tbody td .price{color:#614e48; font-size:13px;font-weight:400;float: right;}
.opc-wrapper-opc .opc-data-table tbody td h3{color:#614e48; font-size:16px;font-weight:400;border:none;margin:0;padding:0;line-height: 24px;}
.opc-wrapper-opc .opc-data-table tfoot td{padding:0;/*border-bottom:1px solid #eaeaea;*/color:#614e48; font-size:14px;font-weight:normal;vertical-align: middle;line-height: 20px;}
.opc-wrapper-opc .opc-data-table tfoot td strong{font-size:18px;margin-top: 5px;display: block;}
.opc-wrapper-opc .opc-data-table tfoot td strong .price{color:#3f3f3f;font-size:18px;}
.opc-wrapper-opc .opc-data-table tfoot th{padding:10px 0;border-bottom:1px solid #eaeaea;color:#614e48; font-size:20px;font-weight:normal;vertical-align: middle;}
.opc-wrapper-opc .opc-data-table tfoot th strong .price{color:#3f3f3f;font-size:20px;}
.opc-wrapper-opc .opc-data-table tfoot tr:last-child td{border-bottom:none}
.opc-wrapper-opc .opc-data-table .item-options{font-size:11px;}
.opc-wrapper-opc .opc-data-table .cell-label{display:none}
.opc-wrapper-opc .opc-data-table .btn-remove img{margin-top: 5px;width: 10px;}

/** GIFT PAYMENTS METHODS BLOCK */*
.opc-wrapper-opc .payment-block{margin-top:20px; position: relative;}
.opc-wrapper-opc .payment-block.clear-margin{margin-top:0}
.opc-wrapper-opc .payment-block .tool-tip{
	bottom: 0 !important;
	left: -30%;
	position: absolute;
	padding: 15px;
	background: #F8F8F8;
	border: 1px solid #cecece;
}
.opc-wrapper-opc .payment-block .tool-tip .btn-close #payment-tool-tip-close{
	float: right;
	margin-bottom: 15px;
}
.opc-wrapper-opc .payment-block dl,
.opc-wrapper-opc .payment-block dt{text-align:left;font-size:14px;color:#614e48;}
.opc-wrapper-opc .payment-block dt{margin: 0;}
.opc-wrapper-opc .payment-block dt label{text-align:left;font-size:14px;color:#614e48;}
.opc-wrapper-opc .payment-block h3{margin-bottom: 15px;}
.opc-wrapper-opc .payment-block li{float: left;width: 100%;}
.opc-wrapper-opc .payment-block .form-list{padding-left:0}
.opc-wrapper-opc .payment-block .form-alt{color: #6E6E6E;font-size: 13px;font-style: italic;margin-bottom: 5px;}
.opc-wrapper-opc .payment-block .sp-methods .form-list{padding:0}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward,
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-reward dt{margin-top:0}
.opc-wrapper-opc .payment-block #customerbalance_placer{margin-bottom:13px}
.opc-wrapper-opc .payment-block #reward_placer{margin-bottom:13px}
.opc-wrapper-opc .payment-block .sp-methods .form-list label{width:auto}
.opc-wrapper-opc .payment-block .checkout-onepage-payment-additional-giftcardaccount{display:none}

/** GIFT SHIPPING METHODS BLOCK */*
.opc-wrapper-opc .shipping-block{}
.opc-wrapper-opc .shipping-block dl,
.opc-wrapper-opc .shipping-block dt{text-align:left;font-size: 14px;line-height: 20px;color:#614e48}
.opc-wrapper-opc .shipping-block dt{margin: 13px 0 5px;}
.opc-wrapper-opc .shipping-block dt label{text-align:left;font-size:14px;color:#614e48}
.opc-wrapper-opc .shipping-block p{font-size: 14px;line-height: 22px; color:#614e48; font-style: italic;margin-top:20px}
.opc-wrapper-opc .shipping-block h3{margin-bottom:20px}
.opc-wrapper-opc .validation-advice{background:none;padding-left:0;line-height: 15px;float: left;}

/** REVIEW BLOCK */*
.opc-wrapper-opc #checkout-review-submit .agree{padding-left:0;padding-bottom:0}
.opc-wrapper-opc #checkout-review-submit .agree label{color:#614e48; font-size:14px;font-weight:normal;}
.opc-wrapper-opc #checkout-review-submit li{margin-bottom:0;margin-top: 0;}
.opc-wrapper-opc #checkout-review-submit .checkout-agreements{padding:0}
.opc-wrapper-opc #checkout-review-submit .view-agreement{text-decoration:none;color:#614e48; font-size:14px;cursor:pointer;font-weight: normal;}
.opc-wrapper-opc #checkout-review-submit .view-agreement:hover{color:#00909e;}
.opc-wrapper-opc #checkout-review-submit .agreement-content{margin-top:20px;margin-bottom:0}

/** GIFT DISCOUNT BLOCK */*
.opc-wrapper-opc .discount-block{margin-top: 40px;}
.opc-wrapper-opc .discount-block h3{background: url(images/open_close.png) no-repeat scroll 100% 0 transparent;cursor:pointer; border:none}
.opc-wrapper-opc .discount-block h3.open-block{background-position: 100% -84px; border-bottom: 1px solid #B6B6B6;}
.opc-wrapper-opc .discount-block #opc-discount-coupon-form{display:none}
.opc-wrapper-opc .discount-block .discount{margin-bottom:40px}
.opc-wrapper-opc .discount-block .input-box {width:100%;padding:0}
.opc-wrapper-opc .discount-block input[type="text"]{border:1px solid #d8d8d8; height:22px;padding:0;width:100%;}
.opc-wrapper-opc .discount-block .button{display:block;height:44px;border:none;margin: 0 auto;float:left;}
.opc-wrapper-opc .discount-block .button span{background:#00909e;border:none;height:40px;line-height:40px;-webkit-border-radius: 3px;border-radius: 3px;padding: 0;}
.opc-wrapper-opc .discount-block .button span span{background:#00909e;color:#ffffff;font-size:16px;font-weight:bold;text-transform:uppercase;text-shadow:0 1px 1px #02484f;padding:0 20px}
.opc-wrapper-opc .discount-block .buttons-set{margin-top:20px;overflow:hidden;}
.opc-wrapper-opc .discount-block .appl-ycoupon{float:left}
.opc-wrapper-opc .discount-block .remove-coupon{float: right !important;}

.design_package_rwd .discount-block .button{display:block;height:30px;line-height:19px;border:none;margin: 0 auto;float:left;}
.design_package_rwd .discount-block .button span{background:none;border:none;height:auto;line-height:inherit;-webkit-border-radius: 0px;border-radius: 0px;padding: 0;}
.design_package_rwd .discount-block .button span span{background:none;color:#ffffff;font-size:14px;font-weight:normal;text-transform:uppercase;text-shadow:none;padding:0 20px}
.design_package_rwd .discount-block .buttons-set{margin-top:10px;overflow:hidden;}


/** GIFT MESSAGES BLOCK */*
.opc-wrapper-opc .gift-messages{margin-top:40px}
.opc-wrapper-opc .gift-messages-form .item .details .form-list .field{/*width:170px;*/width:100%;padding:0}
.opc-wrapper-opc .gift-messages-form .item .details .form-list .input-box {/*width:170px;*/width:100%;padding:0}
.opc-wrapper-opc .gift-messages-form .item .details .form-list li.wide .input-box {/*width:168px;*/width:100%;padding:0}
.opc-wrapper-opc .gift-messages-form .item .details .form-list textarea{border:1px solid #d8d8d8; height:80px;padding:0;/*width:163px;*/width:100%}
.opc-wrapper-opc .gift-messages-form .item .details .form-list li.wide  textarea{border:1px solid #d8d8d8; height:80px;padding:0;/*width:167px;*/ width:100%}
.opc-wrapper-opc .gift-messages-form .item .details .form-list .input-box{/*width:170px;*/width:100%}
.opc-wrapper-opc .gift-messages-form .item .details .form-list input[type="text"]{/*width:163px;*/width:100%}
.opc-wrapper-opc .gift-messages-form .item .number{font-weight:normal}
.opc-wrapper-opc .gift-messages-form li.wide .input-box{width:100%}
.opc-wrapper-opc .gift-messages-form li.wide textarea{width:100%}

.opc-wrapper-opc .gift-messages-form li .field{width:100%}
.opc-wrapper-opc .gift-messages-form li .input-box{width:100%}
.opc-wrapper-opc .gift-messages-form li input{width:100%}
.opc-wrapper-opc .gift-messages-form li textarea{width:100%}

/** GIFT CARD **/
.opc-wrapper-opc .giftcard{}
.opc-wrapper-opc .giftcard #giftcard-form{display:none;}
.opc-wrapper-opc .giftcard h2{background: url(images/open_close.png) no-repeat scroll 100% 0 transparent;cursor:pointer; border:none}
.opc-wrapper-opc .giftcard h2{font-weight:600;color:#404040; font-size:16px;text-align:left;border:none;padding-bottom:8px;line-height: 1;margin-bottom: 20px}
.opc-wrapper-opc .giftcard h2.open-block{background-position: 100% -84px; border-bottom: 1px solid #B6B6B6;}
.opc-wrapper-opc .giftcard .v-fix{float:none;margin-bottom:10px}
.opc-wrapper-opc .giftcard input{width:100%}
.opc-wrapper-opc .giftcard .button{height:35px;border:none;margin: 0 auto;background:none !important;cursor:pointer}
.opc-wrapper-opc .giftcard .button span{background:#00909e;border:none;height:35px;line-height:35px;-webkit-border-radius: 3px;border-radius: 3px;display:block;padding: 0;}
.opc-wrapper-opc .giftcard .button span span{background:#00909e;color:#ffffff;font-size:12px;font-weight:bold;text-transform:uppercase;text-shadow:0 1px 1px #02484f;padding:0 10px}
.opc-wrapper-opc .giftcard .button.btn-remove-gift span span{padding:0 20px}
.opc-wrapper-opc .giftcard .check-gc-status{margin-bottom: 40px;}
.opc-wrapper-opc .giftcard .check-gc-status span{background: none repeat scroll 0 0 transparent !important;color: #000000 !important;font-size: 12px !important;font-weight: normal !important;padding: 0 !important;text-transform: none !important; text-shadow:none !important}


/** CUSTOMER OPC MESSAGE BLOCK **/
.opc-message-wrapper{background-color: rgba(0, 0, 0, 0.6);display: none;height: 100%;left: 0;position: fixed;top: 0;width: 100%;z-index: 10001;}
.opc-messages{	-moz-box-sizing: border-box;	-webkit-box-sizing: border-box;	box-sizing: border-box;	padding:30px;	position:absolute;	display:none;	-webkit-border-radius: 10px;	border-radius: 10px;    color:#404040;    display: block;    font-size: 14px;    left: 50%;    margin-left: -205px;    margin-top: -20px;    position: absolute;    text-align: left;    top: 30%;    width: 410px;	-webkit-box-shadow: 0 3px 10px 1px rgba(0,0,0,0.2);	box-shadow: 0 3px 10px 1px rgba(0,0,0,0.2);	background-color: #fefefe ;	font-weight:normal;z-index: 1002;}
.opc-message-container{text-align: center;}
.opc-messages-action{text-align:center;margin-top:20px}
.opc-messages-action .button{display:block;height:44px;border:none;margin: 0 auto;}
.opc-messages-action .button span{/*background:#00909e;*/border:none;height:40px;/*line-height:40px;*/-webkit-border-radius: 3px;border-radius: 3px;}
.opc-messages-action .button span span{/*background:#00909e;*/color: rgb(97,78,70);font-size:16px;font-weight:bold;text-transform:uppercase;text-shadow: 0 1px 0 #fff;padding:0 20px}
.close-message-wrapper {background: url("images/close.png") no-repeat scroll 0 0 transparent;display: block;height: 8px;position: absolute;width: 8px;z-index: 1005;right: 18px;top: 15px;cursor:pointer}

.design_package_rwd .opc-messages-action .button span{background:none !important;border:none;height:auto !important;line-height:24px !important;-webkit-border-radius: 0 !important;border-radius: 0 !important;}
.design_package_rwd .opc-messages-action .button span span{background:none !important;color:#ffffff;font-size:16px;font-weight:bold;text-transform:uppercase;text-shadow:0;padding:0 20px}

/** BUTTONS */
.opc-wrapper-opc .btn{
	/*height: 35px;*/
	border: none;
	margin: 0 auto;
	cursor: pointer;
	display: inline-block;
	padding: 7px 15px;
	border: 0;
	color: #FFFFFF;
	font-size: 22px;
	font-weight: normal;
	line-height: 22px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #cadb2f;
	-moz-box-shadow: 0px 4px 0px #acc42a;
	-webkit-box-shadow: 0px 4px 0px #acc42a;
	box-shadow: 0px 4px 0px #acc42a;
}
.opc-wrapper-opc .btn span{/*background:#00909e;border:none;height:35px;line-height:35px;-webkit-border-radius: 3px;border-radius: 3px;display:block;padding: 0;*/}
.opc-wrapper-opc .btn span span{color: rgb(97,78,70);/*background:#00909e;color:#ffffff;font-size:12px;font-weight:bold;text-transform:uppercase;text-shadow:0 1px 1px #02484f;padding:0 10px*/}

.opc-wrapper-opc .btn-checkout{display:block;height:50px;padding: 7px 45px;}
.opc-wrapper-opc .btn-checkout span{/*background:#00909e;*/-webkit-border-radius: 3px;border-radius: 3px;width:100%;line-height:33px;padding: 0 !important;height: 45px;padding: 0;}
.opc-wrapper-opc .btn-checkout span span{/*background:#00909e;*/color: rgb(97,78,70);;font-size: 18px;font-weight:bold;text-transform:uppercase;text-shadow: 0 1px 0 #fff;}
.opc-wrapper-opc .buttons-set{border:none;margin-top:10px;margin-right: 0;}

.design_package_rwd .btn-checkout{padding:0 !important;}
.design_package_rwd .btn-checkout span{background:none;display:block;-webkit-border-radius: 0;border-radius: 0;width:100%;line-height: 45px;padding: 0 !important;height: auto;}
.design_package_rwd .btn-checkout span span{background:none;color:#ffffff;font-size:18px;font-weight:bold;text-transform:uppercase;text-shadow:none;}

.opc-wrapper-opc .btn-checkout.button-disabled{
	background: #dedede;
	-moz-box-shadow: 0px 4px 0px #bebebe;
	-webkit-box-shadow: 0px 4px 0px #bebebe;
	box-shadow: 0px 4px 0px #bebebe;
}
.opc-wrapper-opc .btn-checkout.button-disabled span span{/*background: url(images/ajax-loader-button.png) no-repeat scroll 10px 10px transparent;*/color: #a29793;text-shadow: 0 1px 0 #fff;}
.opc-wrapper-opc .btn-checkout.button-disabled span {cursor: default;/*background-color:rgba(0,144,158, .3);*/ text-shadow:none}

.design_package_rwd .btn-checkout.button-disabled{background-color:transparent;}

.opc-wrapper-opc .opc-newsletter{margin-top:10px;}
.opc-wrapper-opc .opc-newsletter li{margin-bottom:0}
.opc-wrapper-opc .opc-newsletter li label{color:#614e48; font-size:14px;font-weight:normal;}


/** COMMENT BLOCK **/
.opc-wrapper-opc .comment-block{}
.opc-wrapper-opc .comment-block textarea{width:100%;height:71px;resize: none;}
.opc-wrapper-opc .comment-block h3{background: url(images/open_close.png) no-repeat scroll 100% 0 transparent;cursor:pointer; border:none}
.opc-wrapper-opc .comment-block h3.open-block{background-position: 100% -84px; border-bottom: 1px solid #B6B6B6;}
.opc-wrapper-opc .comment-block .discount{display:none}

.opc-wrapper-opc a{color:#acc42a ;text-decoration: none;}
.opc-wrapper-opc a:hover{color:#acc42a ;text-decoration: underline;}

#opc-tax-invoice label{margin:10px 0 0 0;line-height: 24px;}
#opc-tax-invoice{margin-bottom: 10px;}
#opc-address-form-shipping{}
#opc-address-form-shipping h3{
	font-weight: 600;
	color: #614e48;
	font-size: 14px;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7);
	text-align: left;
	border-bottom: 0;
	padding: 11px 8px;
	line-height: 1;
	font-weight: bold;
	margin-bottom: 15px;
	background: #cadb2f;
	webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top: 10px;
	float: left;
	width: 100%;
}

#payment_form_ccsave p.required{display: none;}
#checkout-review-table tfoot tr{background: #f8f8f8;}
#checkout-review-table tfoot tr.first td{padding-top: 10px;}
#checkout-review-table tfoot tr.last td{padding-bottom: 10px;}
.a-right.pr-20{padding-right: 15px !important;width: 105px;}

/* Billing Address */
.opc-wrapper-opc .opc-col-left .fields .field {
	width: 48%;
}
.opc-wrapper-opc .opc-col-left .fields .field:first-child {
	margin-right: 4%;
}
.opc-wrapper-opc .opc-col-left .wide .input-box { width: 100%; }
.opc-wrapper-opc .opc-col-left .wide.fax { margin-bottom: 0; }
.opc-wrapper-opc .payment-block .btn-close { overflow: hidden; }

/* Login Poup */
#login-button-set .restore-account { float: left; }
#login-button-set button.btn,
#forgotpassword-button-set button.btn{
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.opc-wrapper-opc .md-effect-7 .form-list > li { margin-bottom: 10px; }
/* Messages */
.checkout-container .messages { 
	padding: 0 30px; 
	margin: 0;
	width: 100%;
}
.opc-index-index .main-container.md-show { z-index: 20; }
/*.opc-wrapper-opc label.required,
.opc-wrapper-opc span.required { position: relative; }
.opc-wrapper-opc label.required:after, 
.opc-wrapper-opc span.required:after {
	position: absolute; right: -10px;
}*/
@media only screen and (min-width : 959px) and (max-width : 1024px) {
	.opc-wrapper-opc .opc-col-left .fields .field { width: 100%; }
}

@media only screen and (min-width : 767px) and (max-width : 960px) {
	.opc-wrapper-opc .opc-col-left {
		border-right: 1px dotted #ebebeb;
	}
}

@media only screen and (max-width : 960px) {
	
	/* Subtitle */
	.checkout-container p.text-login {
		margin: 0;
		padding: 0 2% 5px 2%;
	}
	.checkout-container p.sub-title-checkout {
		background-image: none;
		background-color: #F7F6F7;
		border-bottom: 1px solid #ebebeb;
		padding: 13px 2%; text-align: center; 
	}

	.opc-wrapper-opc .opc-col-left {
		width: 50%; padding: 0 2%;
		margin: 0;
	}
	.opc-wrapper-opc .opc-col-center,
	.opc-wrapper-opc .opc-col-right {
		width: 50%; padding: 0 2%;
		margin: 0;
	}
	.opc-wrapper-opc .opc-col-right { 
		padding-top: 2%;
		width: 100%; float: none; clear: both;
	}
	.checkout-container p.sub-title-checkout { padding: 13px 2%; }

	/* Tooltip */
	.opc-wrapper-opc .payment-block .tool-tip {
		left: auto; right: -4.5%;
	}

	/* Messages */
	.checkout-container .messages {
		padding: 0 2%;
		margin: 0 0 20px 0;
	}

}

@media only screen and (max-width : 768px) {
	
	/* Subtitle */
	.checkout-container p.sub-title-checkout { padding: 2%; }
	.opc-wrapper-opc h2 { text-align: center; }

	.opc-wrapper-opc .opc-col-left,
	.opc-wrapper-opc .opc-col-center,
	.opc-wrapper-opc .opc-col-right,
	.opc-wrapper-opc .opc-col-left .wide .input-box { 
		width: 100%; 
		clear: both;
		float: none;
	}

	.opc-wrapper-opc #co-billing-form ul.form-list { float: none; }
	.opc-wrapper-opc .opc-col-left li { clear: both; }	

	/* Billing Address */
	#billing-new-address-form fieldset { float: none; width: 100%; }
	.opc-wrapper-opc .opc-col-left .wide { margin-bottom: 10px; }

	/* Shipping and Hadling Fee */
	.opc-wrapper-opc .opc-col-center { margin-top: 20px; }
	.opc-wrapper-opc .opc-col-right {}

	/* Tooltip */
	.opc-wrapper-opc .payment-block .tool-tip {
		right: 0;
	}
}

@media only screen and (max-width : 580px) {
	/* Title */
	.opc-wrapper-opc h2 { margin: 15px 0; }
	.checkout-container p.sub-title-checkout { margin-bottom: 20px; }
	.checkout-container p.text-login { padding: 0 0 5px 10px; }

	/* Submit Button */
	.opc-wrapper-opc .buttons-set { margin: 10px 0 0 0; }
	.opc-wrapper-opc .btn-checkout {
		float: none; width:100%;
	}

	/* Tax form */
	#opc-tax-invoice {
		border-top: 1px solid #eaeaea;
		border-bottom: 1px solid #eaeaea;
		padding: 10px 0 25px 0;
		margin: 15px 0 20px 0;
	}

	/* Tooltip */
	.opc-wrapper-opc .payment-block .tool-tip,
	.opc-wrapper-opc .payment-block .tool-tip img {
		width: 100%;
	}

	/* Login Popup */
	#login-button-set button.btn {  width: 100%; }
	#login-button-set .restore-account {
		margin: 0 0 15px 0;
		float: right;
	}
	.md-content-wrapper { padding: 0 20px 2px; }
	.md-modal-header h4 { padding-bottom: 0; }
}

@media only screen and (min-width : 400px) and (max-width : 768px) {
	.opc-wrapper-opc .opc-col-left .fields .field { width: 49%; }
	.opc-wrapper-opc .opc-col-left .fields .field:first-child {
		margin-right: 2%;
	}
}

@media only screen and (max-width : 399px) {

	/* Subtitle */
	.checkout-container p.sub-title-checkout {
		background: none;
		text-align: left;
		border: none;
		padding: 0;
	}
	.checkout-container p.text-login {
		padding-left: 0;
	}

	.opc-wrapper-opc .opc-col-left,
	.opc-wrapper-opc .opc-col-center,
	.opc-wrapper-opc .opc-col-right { padding-left: 0; padding-right: 0; }
	.checkout-container { border: none; padding-bottom: 10px; }

	/* Billing Address */
	.opc-wrapper-opc .opc-col-left .fields .field,
	.opc-wrapper-opc .opc-col-left .fields .field:first-child { width: 100%; margin-right: 0; }
}