<?php if (Mage::helper('ajaxlayerednavigation')->isUseSlider()) : ?>
    <?php $symbol = Mage::app()->getLocale()->currency(Mage::app()->getStore()->getCurrentCurrencyCode())->getSymbol();?>
    <ol><li class="input-range">
        <div id="track-tmaln" class="track-tmaln" style="width: 100%;">
            <div class="price-slider-wrapper">
               <div id="handle_from-tmaln" class="handle-tmaln">
                   <a class="handle-tmaln-btn left" style="margin-left: -10px;" href="#" onclick="return false;"><?php echo Mage::helper('ajaxlayerednavigation')->__('') ?>
                   </a>
               </div>
               <div class="price-cover"></div>
               <div id="handle_to-tmaln" class="handle-tmaln">
                   <a class="handle-tmaln-btn" style="margin-right: -10px; " href="#" onclick="return false;"><?php echo Mage::helper('ajaxlayerednavigation')->__('') ?>
                   </a>
               </div>
            </div>
        </div>

        <label for="from-tmaln" class="label-tmaln"><?php echo Mage::helper('ajaxlayerednavigation')->__('From') ?> (<?php echo $symbol;?>)</label>
        <input type="text" id="from-price-range" class="input-tmaln" value="<?php echo $this->getMinRange() ?>" readonly/>
        <label for="to-tmaln" class="label-tmaln"><?php echo Mage::helper('ajaxlayerednavigation')->__('To') ?> (<?php echo $symbol;?>)</label>
        <span class="to-between"><?php echo $this->__('') ?></span>
        <input type="text" id="to-price-range" class="input-tmaln" value="<?php echo $this->getMaxRange() ?>" readonly/>
        <div style="width: 100%;text-align: center; display:none;">
            <button class="apply-price-btn button" href="#"><span><span><?php echo Mage::helper('ajaxlayerednavigation')->__('Apply') ?></span></span></button>
        </div>
        <input type="hidden" id="hidden-url" value="<?php echo $this->getParamUrl() ?>" />
    </li></ol>
    <script type="text/javascript">
        $$(".handle-tmaln-btn").each(function(el){
            $(el).observe('mouseup', function() {
                $$('button.apply-price-btn').each(function(el) {
                    el.click();
                });
            });
        });
    </script>
<?php else : ?>
    <ol>
        <?php foreach ($this->getItems() as $_item) : ?>
            <?php if ($_item->getCount() > 0 || $_item->getActive()) : ?>
            <li>
                <?php if (!$_item->getActive() && $_item->getCount() > 0) : ?>
                    <input type="checkbox" class="ajax-option-checkbox" name="option<?php echo $_item->getValue() ?>" value="<?php if (!$_item->getActive()) { echo $_item->getUrl(); } else { echo $_item->getRemoveUrl(); } ?>" <?php if ($_item->getActive()) : ?> checked="checked"<?php endif; ?> >
                    <a href="<?php echo $this->urlEscape($_item->getUrl()) ?>" class="ajax-option-link"><label class="checkbox-css"><?php echo $_item->getLabel() ?></label></a>
                <?php elseif ($_item->getActive()) : ?>
                    <input type="checkbox" class="ajax-option-checkbox" name="option<?php echo $_item->getValue() ?>" value="<?php if (!$_item->getActive()) { echo $_item->getUrl(); } else { echo $_item->getRemoveUrl(); } ?>" <?php if ($_item->getActive()) : ?> checked="checked"<?php endif; ?> >
                    <a href="<?php echo $_item->getRemoveUrl(); ?>" class="ajax-option-link">
                        <label class="checkbox-css active"><?php echo $_item->getLabel() ?></label>
                    </a>
                <?php elseif ((int)$_item->getCount() == 0) : ?>
                    <!-- <input type="checkbox" class="ajax-option-checkbox" name="option<?php //echo $_item->getValue() ?>" value="" DISABLED>
                    <label class="checkbox-css disabled"><?php //echo $_item->getLabel() ?></label> -->
                <?php endif; ?>
                <?php if (!$_item->getActive() && Mage::getStoreConfig('ajaxlayerednavigation/general/show_quantity') && $_item->getCount() > 0) : ?>
                    <?php if ($this->getActiveFilter()) {
                        echo '<span class="ajaxlayerednavigation-count-plus">(+' . $_item->getCount() . ')</span>';
                    } else {
                        echo '<span class="ajaxlayerednavigation-count">(' . $_item->getCount() . ')</span>';
                    }
                    ?>
                <?php endif; ?>
            </li>
            <?php endif; ?>
        <?php endforeach ?>
    </ol>
    <a href="#" class="see-all-show" style="float: right; display: none;"><?php echo Mage::helper('ajaxlayerednavigation')->__('More...'); ?></a>
    <a href="#" class="see-all-hide" style="float: right; display: none;"><?php echo Mage::helper('ajaxlayerednavigation')->__('Hide'); ?></a>
<?php endif; ?>

