<?php if (!Mage::helper('ajaxlayerednavigation')->isAdvancedSearchPage()) : ?>
    <?php $_filters = $this->getActiveFilters() ?>
    <p class="block-subtitle-small"><?php echo $this->__('Refine your search') ?></p>
    <?php if(!empty($_filters)): ?>
        <div class="now-shop-by">
            <p class="block-subtitle"><?php echo Mage::helper('ajaxlayerednavigation')->__('Currently Shopping By') ?></p>
            <ol class="currently">
            <?php foreach ($_filters as $_filter): ?>
                <li>
                    <a href="<?php echo $_filter->getRemoveUrl() ?>" title="<?php echo Mage::helper('ajaxlayerednavigation')->__('Remove This Item') ?>" class="btn-remove"><?php echo Mage::helper('ajaxlayerednavigation')->__('x') ?></a>
                    <?php $filterLabel = $_filter->getLabel(); ?>
                    <?php if(strpos($filterLabel, 'class="price"') !== false): ?>
                        <span class="label price"><?php echo $this->__($_filter->getName()) ?>:</span> <?php echo $filterLabel ?>
                    <?php else: ?>
                        <span class="label"><?php echo $this->__($_filter->getName()) ?>:</span> <?php echo $filterLabel ?>
                    <?php endif?>
                </li>
            <?php endforeach; ?>
                <li class="last">
                    <div class="actions"><a href="<?php echo $this->getClearUrl() ?>"><?php echo Mage::helper('ajaxlayerednavigation')->__('Clear All') ?></a></div>
                </li>
            </ol>
        </div>
    <?php elseif(empty($_filters)): ?>
        <!-- <p class="block-subtitle-small"><?php //echo $this->__('Refine your search') ?></p> -->
    <?php endif; ?>
<?php endif; ?>