<?php
/**
 * BelVG LLC.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://store.belvg.com/BelVG-LICENSE-COMMUNITY.txt
 *
 *******************************************************************
 * @category   Belvg
 * @package    Belvg_Attricons
 * @version    1.0.0
 * @copyright  Copyright (c) 2010 - 2013 BelVG LLC. (http://www.belvg.com)
 * @license    http://store.belvg.com/BelVG-LICENSE-COMMUNITY.txt
 */
?>
<?php
    $_item       = $this->getItem();
    $id          = (int) $_item->getOptionId();
    $attributeId = (int) $_item->getAttributeId();
?>
<td>
    <p><?php echo $_item->getLabel() ?></p>
    <div class="attricons-type">
        <select class="select" name="attricons<?php echo ($attributeId) ? '[' . $attributeId . ']' : '' ?>[<?php echo $id ?>][type]">
            <?php $types = $this->helper('attricons')->getIcoTypes() ?>
            <?php foreach ($types AS $lable => $type): ?>
                <option <?php echo ($_item->getType() == $type) ? 'selected="selected"' : '' ?> value="<?php echo $type ?>"><?php echo $lable ?></option>
            <?php endforeach ?>
        </select>
    </div>
</td>
<td class="row-attricons-color-text">
    <div class="attricons-image attricons-image_image" <?php echo ($_item->getType() != Belvg_Attricons_Helper_Data::TYPE_IMAGE) ? 'style="display:none"' : '' ?>>
        <?php //echo $this->__('Image') ?>
        <?php echo $this->__('Upload and Choose Image') ?>
    </div>
    <div class="attricons-text" <?php echo ($_item->getType() != Belvg_Attricons_Helper_Data::TYPE_TEXT) ? 'style="display:none"' : '' ?>>
        <input type="text" class="validate-length minimum-length-0 maximum-length-25" name="attricons<?php echo ($attributeId) ? '[' . $attributeId . ']' : '' ?>[<?php echo $id ?>][text]" value="<?php echo $_item->getText() ?>" />
    </div>
    <div class="attricons-color attricons-color_image" <?php echo ($_item->getType() != Belvg_Attricons_Helper_Data::TYPE_COLOR) ? 'style="display:none"' : '' ?>>
        <input type="text" class="color-picker validate-length minimum-length-0 maximum-length-6" name="attricons<?php echo ($attributeId) ? '[' . $attributeId . ']' : '' ?>[<?php echo $id ?>][color]" value="<?php echo $_item->getColor() ?>" />
    </div>
</td>
<td class="row-attricons-images">
    <?php
        $rowElementName = 'attricons-file' . (($attributeId) ? '[' . $attributeId . ']' : '') . '[' . $id . ']';
        $uploaderHtmlId = 'attricons_' . $attributeId . '_' . $id . '_uploader';
        $uploaderJSName = 'attricons_' . $attributeId . '_' . $id;
        $rowInputPrefix = 'attricons-preview-';
    ?>
    <div class="grid" id="<?php echo $uploaderHtmlId ?>">
        <table cellspacing="0" class="data border" width="100%" id="<?php echo $uploaderHtmlId ?>_grid">
            <colgroup>
                <col class="cell-image">
                <col class="cell-ico" width="90">
                <col class="cell-description" width="90">
                <col class="cell-image_category" width="90">
                <col class="cell-remove" width="60">
            </colgroup>
            <thead>
                <tr class="headings">
                    <th class="cell-image"><?php echo $this->__('Image') ?></th>
                    <th class="cell-ico a-center"><?php echo $this->__('Ico') ?></th>
                    <th class="cell-image_category a-center"><?php echo $this->__('Ico Category') ?></th>
                    <th class="cell-description a-center"><?php echo $this->__('Description') ?></th>
                    <th class="cell-remove a-center last"><?php echo $this->__('Remove') ?></th>
                </tr>
            </thead>
            <tbody id="<?php echo $uploaderHtmlId ?>_list">
                <tr>
                    <td class="cell-image"><?php echo $this->__('No image') ?></td>
                    <td class="cell-ico a-center"><input type="radio" name="attricons<?php echo ($attributeId) ? '[' . $attributeId . ']' : '' ?>[<?php echo $id ?>][image]" value="" checked="checked"></td>
                    <td class="cell-image_category a-center"><input type="radio" name="attricons<?php echo ($attributeId) ? '[' . $attributeId . ']' : '' ?>[<?php echo $id ?>][image_category]" value="" checked="checked"></td>
                    <td class="cell-description a-center"><input type="radio" name="attricons<?php echo ($attributeId) ? '[' . $attributeId . ']' : '' ?>[<?php echo $id ?>][zoom]" value="" checked="checked"></td>
                    <td class="cell-remove a-center last">&nbsp;</td>
                </tr>
                <tr id="<?php echo $uploaderHtmlId ?>_template" class="template no-display">
                    <td class="cell-image">
                        <input class="<?php echo $rowInputPrefix ?>id" type="hidden" value="">
                        <input class="<?php echo $rowInputPrefix ?>path" type="hidden" value="">
                        <img class="attricons-preview-url" src="" width="40">
                    </td>
                    <td class="cell-ico a-center">
                        <input class="<?php echo $rowInputPrefix ?>image" type="radio" name="attricons<?php echo ($attributeId) ? '[' . $attributeId . ']' : '' ?>[<?php echo $id ?>][image]" value="<?php echo $_item->getImage() ?>">
                    </td>
                    <td class="cell-image_category a-center">
                        <input class="<?php echo $rowInputPrefix ?>image_category" type="radio" name="attricons<?php echo ($attributeId) ? '[' . $attributeId . ']' : '' ?>[<?php echo $id ?>][image_category]" value="<?php echo $_item->getimage_category() ?>">
                    </td>
                    <td class="cell-description a-center">
                        <input class="<?php echo $rowInputPrefix ?>zoom" type="radio" name="attricons<?php echo ($attributeId) ? '[' . $attributeId . ']' : '' ?>[<?php echo $id ?>][zoom]" value="<?php echo $_item->getZoom() ?>">
                    </td>
                    <td class="cell-remove a-center last">
                        <input class="<?php echo $rowInputPrefix ?>remove" type="checkbox" value="1">
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="100" class="last" style="padding:8px">
                        <?php echo $this->getUploaderHtml() ?>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <script type="text/javascript">
        var uploader    = <?php echo $this->getUploader()->getJsObjectName() ?>;
        var containerId = <?php echo Zend_Json::encode($uploaderHtmlId) ?>;
        var name        = <?php echo Zend_Json::encode($rowElementName) ?>;
        var prefix      = <?php echo Zend_Json::encode($rowInputPrefix) ?>;
        var <?php echo $uploaderJSName ?> = new Loader.Files(containerId, name, prefix, uploader);

        <?php if (!is_null($this->getFileCollection())) : ?>
            <?php foreach ($this->getFileCollection() AS $file) : ?>
                <?php
                    $file->setPath($file->getImage());
                    $fullUrl = Mage::helper('attricons')->getImage($file->getImage());
                    $file->setImage($fullUrl);
                ?>
                <?php echo $uploaderJSName ?>.addFileInfo(<?php echo $file->toJson() ?>);
            <?php endforeach ?>
        <?php endif ?>
    </script>
</td>
<td>
    <textarea class="validate-length minimum-length-0 maximum-length-255" name="attricons<?php echo ($attributeId) ? '[' . $attributeId . ']' : '' ?>[<?php echo $id ?>][description]" class=" textarea" rows="2" cols="15"><?php echo $_item->getDescription() ?></textarea>
</td>
