<?php
    $_aisCampaigns = $this->getCampaigns(1);
    $_nonAiscampaigns = $this->getCampaigns(0);
    $_product = $this->getProduct();
    $_helper = Mage::helper('catalog');
    $_nonAis = array();
?>
<?php if(count($_aisCampaigns) > 0): ?>
    <?php foreach($_aisCampaigns as $key => $campaign):?>
        <?php if(count($campaign->discount)> 0 || count($campaign->freeGoods)> 0 || count($campaign->installments) > 0) :?>
            <div id = "trade_product-<?php echo $campaign->productId?>" class="trade-product-cover" style = 'display:none;'>
                <?php
                    echo $this->getLayout()->createBlock('campaigns/catalog_product_campaigns')
                                           ->setTemplate('campaigns/view.phtml')
                                           ->setCampaign($campaign)
                                           ->setTitle('Privilege for AIS')
                                           ->toHtml();
                ?>
            </div>
        <?php endif;?>
    <?php endforeach;?>
<?php endif; ?>

<?php if(count($_nonAiscampaigns) > 0): ?>
<?php foreach($_nonAiscampaigns as $key => $campaign):?>
    <?php if(!isset($_nonAis[$key])): ?>
    <div id = "trade_product-<?php echo $campaign->productId?>" class="trade-product-cover" style = 'display:none;'>
        <?php if(count($campaign->discount)> 0 || count($campaign->freeGoods)> 0 || count($campaign->installments)> 0) :?>
        <?php   $_hasCampaign = true; ?>
        <?php
            echo $this->getLayout()->createBlock('campaigns/catalog_product_campaigns')
                                   ->setTemplate('campaigns/view.phtml')
                                   ->setCampaign($campaign)
                                   ->setTitle('FOR ALL CUSTOMER')
                                   ->toHtml();
        ?>
        <?php else: ?>
            <div class="price-info">
                <label class="product-info-title"><?php echo $_helper->__('FOR ALL CUSTOMER')?></label>
            </div>
            <div class = "campaign-list">
                <input type = "radio" value = '' name = "trade_info" class = "validate-one-required-by-name" data-ussd = "" data-verify = "0" data-campaign = "-1" data-installment = "0" data-description = ''></input>
                <span class="radio-css"></span>
                <span class="trade-product"><?php echo Mage::helper('core')->currency($campaign->finalPrice); ?></span>
                <span class="trade-product-label"><?php //echo $_helper->__($shortDescription); ?></span>
            </div>
        <?php endif; ?>
    </div>
    <?php endif; ?>
<?php endforeach;?>
<?php endif; ?>

<div id = "trade_desc">
    
    <div id = 'trade_detail'><h1><?php echo $_helper->__('CONDITIONS'); ?></h1><span></span></div>
</div>


<script type="text/javascript">

    jQuery(document).ready(function(){
        jQuery(".radio-css").click(function(){
            jQuery('div[id^="trade_product"] input[type="radio"]').prop("checked", false);
            jQuery(".radio-css").removeClass('active');
            jQuery(this).addClass('active');
            var radio = jQuery(this).parent().find('input[type="radio"]');
            radio.prop("checked", true);
            changeDiscountLabel();
            //displayTradeDescription(radio.data('description'), radio.parent().parent());
            displayTradeDescription(radio.data('description'), radio.parent());
        });

        viewCampaign(<?php echo $_product->getId(); ?>);
        jQuery('.belvg-colorswatch li a span').first().click();

        jQuery('.belvg-colorswatch li a span').click(function(){
            //jQuery('#trade_desc').hide();
        });

    });
    function viewCampaign(id) {
        jQuery('div[id^="trade_product"]').hide();
        jQuery('div[id^="trade_product"] input[type="radio"]').prop("checked", false);
        jQuery('div[id^="trade_product"] .radio-css').removeClass('active');
        jQuery('div[id^="trade_product-'+id+'"]').show();
        var maxHeight = 0;
        jQuery('div[id^="trade_product-'+id+'"]').each(function(){
            maxHeight = 0;
            var $this= this;
            jQuery($this).find('.campaign-list').each(function(){
                maxHeight = Math.max(maxHeight, jQuery(this).height());
            });
            //jQuery($this).find('.campaign-list').height(maxHeight);
        });

        var radio = jQuery('div[id^="trade_product-'+id+'"] input[type="radio"]').first();
        radio.prop("checked", true);

        jQuery('div[id^="trade_product-'+id+'"] .radio-css').first().addClass('active');
        //displayTradeDescription(radio.data('description'), radio.parent().parent());
        displayTradeDescription(radio.data('description'), radio.parent());
    }

    function displayTradeDescription(t, obj) {
        if(t != '') {
            //jQuery('#trade_desc').insertAfter(obj);
             jQuery('#trade_desc').appendTo(obj);
            jQuery('#trade_detail span').html(t);
            jQuery('#trade_desc').slideDown('fast');
        } else {
            jQuery('#trade_desc').hide();
        }

    }

    function changeDiscountLabel() {
        var _mainPrice = '<?php echo $_product->getFinalPrice(); ?>' * 1;
        if (jQuery(".radio-css.active").size() == 1) {
            var _label = jQuery(".radio-css.active").data('discount');
            if (typeof _label !== 'undefined') {
                if (_label.indexOf('%') > -1) {
                    _label = '<span class=\"percentsave\">'+_label+'</span><span>Off</span>';
                } else {
                    _label = "<span><?php echo $this->__('Discount'); ?></span><span class=\"percentsave\">"+_label+"</span>";
                }
                jQuery('div.discount-label').html(_label);
                jQuery('div.discount-label').show();
                return;
            }
        }

        var _basePrice = _mainPrice;
        if (jQuery('.belvg-colorswatch li.active a').size() == 1) {
            jQuery('div[id^="trade_product-"]').each(function(){
                if (jQuery(this).css('display') !== 'none') {
                    var _pid = jQuery(this).attr('id').replace(/[^\d]/g, '');
                    var _optionPrice = <?php echo json_encode($_product->getOptionsPrices()) ?>;
                    if (typeof _optionPrice[_pid] !== 'undefined') _basePrice = _optionPrice[_pid];
                    // console.log(_pid);console.log(_optionPrice[_pid]);
                    return;
                }
            });
        }
        var _newPrice = jQuery('#product-price-<?php echo $_product->getId();?>').text();
        _newPrice = _newPrice.replace(/[^\d]/g, '') * 1;
        if (_newPrice < _basePrice) {
            var _label = Math.floor((_basePrice - _newPrice) / _basePrice * 100);
            if (_label < 15) {
                _label = _basePrice - _newPrice;
                _label = "<span><?php echo $this->__('Discount'); ?></span><span class=\"percentsave\">"+_label+"-</span>";
            } else {
                _label = '<span class=\"percentsave\">'+_label+'%</span><span>Off</span>';
            }
            jQuery('div.discount-label').html(_label);
            jQuery('div.discount-label').show();
            return;
        }
        jQuery('div.discount-label').hide();
    }

</script>