<?php
    $campaign = $this->getCampaign();
    $helper = Mage::helper('catalog');
?>
<?php if(count($campaign->discount)> 0 || count($campaign->freeGoods)> 0 || count($campaign->installments)> 0) :?>
<div class="price-info">
    <label class="product-info-title"><?php echo $helper->__($this->getTitle())?></label>
</div>
<?php endif;?>
<?php if(count($campaign->discount)> 0) :?>
        <?php foreach($campaign->discount as $key => $discount): ?>
            <?php $freegoods = isset($campaign->freeGoods[$key])? $campaign->freeGoods[$key] : null; ?>
            <?php $privileges = isset($campaign->privileges[$key])? $campaign->privileges[$key] : null; ?>
            <?php $installments = isset($campaign->installments[$key])? $campaign->installments[$key] : null; ?>
            <?php $shortDescription = ''; ?>
            <?php $description = ''; ?>

            <?php
                $datas = explode('|', $key);
                $_discountLabel = floor(($campaign->finalPrice - $discount) / $campaign->finalPrice * 100);
                if ($_discountLabel < 15) {
                    $_discountLabel = Mage::helper('core')->currency($campaign->finalPrice - $discount, true, false) . '-';
                } else {
                    $_discountLabel .= '%';
                }
            ?>
            <div class = "campaign-list">
                    <?php
                    $discountPrice = $campaign->finalPrice - $discount;
                    $discountPrice = Mage::helper('core')->currency($discountPrice);
                    $itemsfree = array();
                    if(isset($campaign->freeGoods[$key]))                        {
                        if(count($campaign->freeGoods[$key]) > 0) {

                            foreach($campaign->freeGoods[$key] as $k => $qty) {
                                $freeProduct = Mage::getModel('catalog/product');
                                $freeProductId = $freeProduct->getIdBySku($k);
                                $name = Mage::getResourceModel('catalog/product')->getAttributeRawValue($freeProductId, 'name', 0);
                                $itemsfree[] = '<li>'.$name .' '. $qty.$helper->__(' Item(s)').'</li>';
                            }
                        }
                    }

                    if(isset($campaign->installments[$key])) {
                        $installments = $campaign->installments[$key];
                        $condition = $installments['condition'];
                        $periods = $this->getInstallments($condition);
                        $installments = array();
                        $rates = array();
                        foreach ($periods as $value) {
                            $installments[] = '<li>'.$value['period'] .' '. Mage::helper('cc2p')->__($value['bank']).'</li>';
                             $rates[] = $value['rate'];
                        }
                        $rates = array_unique($rates);
                        if(count($rates) == 1) {
                            $rate = '<b>'.$rates[0].'%</b>';
                        } else {
                            $rate = '';
                        }
                    }
                    ?>
                <?php if(count($itemsfree) > 0 && count($installments) > 0):?>
                <?php $shortDescription = $helper->__('Special Price / Free gift / Installment %s', $rate); ?>
                <?php $description = $helper->__('<ul><li>Discount %s</li><li>Free <ul>%s</ul></li><li>Installments <ul>%s</ul></li></ul>', $discountPrice, implode('', $itemsfree), implode('', $installments));?>
                <?php elseif(count($installments) > 0):?>
                <?php $shortDescription =  $helper->__('Special Price / Installment %s', $rate); ?>
                <?php $description = $helper->__('<ul><li>Discount %s</li><li>Installments <ul>%s</ul></li></ul>', $discountPrice, implode('', $installments));?>
                <?php elseif(count($itemsfree) > 0):?>
                <?php $shortDescription = 'Special Price / Free gift'; ?>
                <?php $description = $helper->__('<ul><li>Discount %s</li><li>Free <ul>%s</ul></li></ul>', $discountPrice, implode('', $itemsfree));?>
                <?php else:?>
                <?php $shortDescription = $helper->__('Special Price'); ?>
                <?php $description = $helper->__('<ul><li>Discount %s</li></ul>', $discountPrice);?>
                <?php endif?>
                <?php
                    $campaignId = explode('|', $key);
                    $campaignId = (isset($campaignId[0]))? $campaignId[0] : 0;
                ?>
                <input type = "radio" value = '<?php echo $this->setCampaigns($key, $discount, $freegoods, $privileges, $installments);?>' name = "trade_info" class = "validate-one-required-by-name" data-campaign = "<?php echo $campaignId; ?>" data-installment = "<?php echo ((count($installments) > 0)? 1: 0) ?>" data-ussd = "<?php echo $privileges ?>" data-verify = "<?php echo trim($datas[count($datas)-1]); ?>" data-description = '<?php echo $helper->__($description); ?>'></input>
                <span class="radio-css" data-discount="<?php echo $_discountLabel; ?>"></span>
                <span class="trade-product"><?php echo Mage::helper('core')->currency($discount); ?></span>
                <span class="trade-product-label"><?php echo $helper->__($shortDescription); ?></span>
            </div>
        <?php endforeach;?>
<?php endif;?>
<?php if(count($campaign->freeGoods) > 0):?>
        <?php
        foreach($campaign->freeGoods as $key => $freeGoods):
            if(!isset($campaign->discount[$key]))
            {
                $datas = explode('|', $key);
                $privileges = isset($campaign->privileges[$key])? $campaign->privileges[$key] : null;
                $installments = isset($campaign->installments[$key])? $campaign->installments[$key] : null;
        ?>
        <div class = "campaign-list">
            <?php
                    $itemsfree = array();

                    if(count($campaign->freeGoods[$key]) > 0) {
                        foreach($campaign->freeGoods[$key] as $k => $qty) {
                            $freeProduct = Mage::getModel('catalog/product');
                            $freeProductId = $freeProduct->getIdBySku($k);
                            $name = Mage::getResourceModel('catalog/product')->getAttributeRawValue($freeProductId, 'name', 0);
                            $itemsfree[] = '<li>'.$name .' '. $qty.$this->__(' Item(s)').'</li>';
                        }
                    }

                    if(isset($campaign->installments[$key])) {
                        $installments = $campaign->installments[$key];
                        $condition = $installments['condition'];
                        $periods = $this->getInstallments($condition);
                        $installments = array();
                        $rates = array();
                        foreach ($periods as $value) {
                            $installments[] = '<li>'.$value['period'] .' '. Mage::helper('cc2p')->__($value['bank']).'</li>';
                             $rates[] = $value['rate'];
                        }
                        $rates = array_unique($rates);
                        if(count($rates) == 1) {
                            $rate = '<b>'.$rates[0].'%</b>';
                        } else {
                            $rate = '';
                        }
                    }
            ?>
            <?php if(count($installments) > 0):?>
            <?php $shortDescription = $helper->__('Free gift / Installment %s', $rate); ?>
            <?php $description = $helper->__('<ul><li>Free gift <ul>%s</ul></li><li>Installments <ul>%s</ul></li></ul>', implode('', $itemsfree), implode('', $installments));?>
            <?php else:?>
            <?php $shortDescription = 'Free gift'; ?>
            <?php $description = $helper->__('<ul><li>Free gift<ul>%s</ul></li></ul>', implode('', $itemsfree)); ?>
            <?php endif?>
            <?php
                $campaignId = explode('|', $key);
                $campaignId = (isset($campaignId[0]))? $campaignId[0] : 0;
            ?>
            <input type = "radio" value = '<?php echo $this->setCampaigns($key, null , $campaign->freeGoods[$key], $privileges, $installments);?>' name = "trade_info" class = "validate-one-required-by-name" data-campaign = "<?php echo $campaignId; ?>" data-installment = "<?php echo ((count($installments) > 0)?1:0) ?>" data-ussd = "<?php echo $privileges ?>" data-verify = "<?php echo trim($datas[count($datas)-1]); ?>" data-description = '<?php echo $helper->__($description); ?>'></input>
            <span class="radio-css"></span>
            <span class="trade-product"><?php echo Mage::helper('core')->currency($campaign->finalPrice); ?></span>
            <span class="trade-product-label"><?php echo $helper->__($shortDescription); ?></span>
            </div>
            <?php
            }
            ?>
        <?php endforeach; ?>
<?php endif ?>

<?php if(count($campaign->installments) > 0):?>
    <?php //var_dump($campaign->installments); ?>
        <?php
        foreach($campaign->installments as $key => $installment):
            if(!isset($campaign->discount[$key]) && !isset($campaign->freeGoods[$key]))
            {
                $datas = explode('|', $key);
                $privileges = isset($campaign->privileges[$key])? $campaign->privileges[$key] : null;
        ?>
        <div class = "campaign-list">
            <?php
                    if(isset($campaign->installments[$key])) {
                        $installments = $campaign->installments[$key];
                        $condition = $installments['condition'];
                        $periods = $this->getInstallments($condition);
                        $installments = array();
                        $rates = array();
                        foreach ($periods as $value) {
                            $installments[] = '<li>'.$value['period'] .' '. Mage::helper('cc2p')->__($value['bank']).'</li>';
                             $rates[] = $value['rate'];
                        }
                        $rates = array_unique($rates);
                        if(count($rates) == 1) {
                            $rate = '<b>'.$rates[0].'%</b>';
                        } else {
                            $rate = '';
                        }
                    }
            ?>
            <?php if(count($installments) > 0):?>
            <?php $shortDescription = $helper->__('Installments %s', $rate); ?>
            <?php $description = $helper->__('<ul><li>Installment<ul>%s</ul></li></ul>', implode('', $installments)); ?>
            <?php else:?>
            <?php $shortDescription = ''; ?>
            <?php $description = ''; ?>
            <?php endif?>
            <?php
                $campaignId = explode('|', $key);
                $campaignId = (isset($campaignId[0]))? $campaignId[0] : 0;
            ?>
            <input type = "radio" value = '<?php echo $this->setCampaigns($key, null , null, $privileges, $installment);?>' name = "trade_info" class = "validate-one-required-by-name" data-campaign = "<?php echo $campaignId; ?>" data-installment = "1" data-ussd = "<?php echo $privileges ?>" data-verify = "<?php echo trim($datas[count($datas)-1]); ?>" data-description = '<?php echo $helper->__($description); ?>'></input>
            <span class="radio-css"></span>
            <span class="trade-product"><?php echo Mage::helper('core')->currency($campaign->finalPrice); ?></span>
            <span class="trade-product-label"><?php echo $helper->__($shortDescription); ?></span>
            </div>
            <?php
            }
            ?>
        <?php endforeach; ?>
        <?php
        if($this->getTitle() == 'FOR ALL CUSTOMER') {
            if(count($campaign->discount) == 0 && count($campaign->freeGoods) == 0 && count($campaign->installments) > 0) {
        ?>
            <div class = "campaign-list">
                <input type = "radio" value = '' name = "trade_info" class = "validate-one-required-by-name" data-ussd = "" data-verify = "0" data-campaign = "-1" data-installment = "0" data-description = ''></input>
                <span class="radio-css"></span>
                <span class="trade-product"><?php echo Mage::helper('core')->currency($campaign->finalPrice); ?></span>
                <span class="trade-product-label"><?php //echo $_helper->__($shortDescription); ?></span>
            </div>
        <?php
            }
        }
        ?>
<?php endif ?>