<ul>
    <?php if (! Mage::getSingleton('customer/session')->isLoggedIn()){ ?>
    <li class="top-welcome guest">
        <span><?php echo $this->__('Welcome visitor, you can') ?>&nbsp;</span>
        <a href="<?php echo Mage::helper('customer')->getLoginUrl(); ?>"><?php echo $this->__('Log In') ?></a>
        <span>&nbsp;<?php echo $this->__('or') ?>&nbsp;</span>
        <a href="<?php echo Mage::helper('customer')->getRegisterUrl(); ?>"><?php echo $this->__('Register') ?></a>
    </li>
    <?php }else{ ?>
    <li class="top-welcome member">
        <p class="welcome-msg">
            <?php echo $this->__('Welcome, %s', $this->escapeHtml(Mage::getSingleton('customer/session')->getCustomer()->getName()));?><?php echo $this->getAdditionalHtml() ?>
        </p>
    </li>
    <li class="top-logout">
        <a href="<?php echo Mage::helper('customer')->getLogoutUrl(); ?>"><?php echo $this->__('Log Out') ?></a>
    </li>
    <?php } ?>
</ul>