<?php if($this->canShowBlock()): ?>
        <?php $style = Mage::getStoreConfig('ajaxlayerednavigation/left/style') ?>
        <div id="layeredNav" class="block block-layered-nav <?php if ($style == '4') : ?> ajaxlayerednav-menu<?php endif; ?>">
        <div class="block-title">
            <strong><span><?php echo Mage::helper('ajaxlayerednavigation')->__('Shop By') ?></span></strong>
        </div>
        <div class="block-content">
            <?php echo $this->getStateHtml() ?>

            <?php if($this->canShowOptions()): ?>
                <dl id="narrow-by-list">
                    <?php $_filters = $this->getFilters() ?>
                    <?php foreach ($_filters as $_filter): ?>
                        <?php if($_filter->getItemsCount()): ?>
                            <dt>
                                <?php if ($style == '3') : ?>
                                    <span class="ajaxlayered-expander">
                                        <?php echo $this->__($_filter->getName()) ?>
                                    </span>
                                <?php else : ?>
                                    <?php echo $this->__($_filter->getName()) ?>
                                <?php endif; ?>
                            </dt>
                            <dd><?php echo $_filter->getHtml() ?></dd>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </dl>
                <script type="text/javascript">decorateDataList('narrow-by-list')</script>
            <?php endif; ?>
        </div>
    </div>
  
<?php endif; ?>

<script>
    //jQuery(document).ready(function() {
    //    
    //   jQuery(document).scroll(function(){        
    //        if(jQuery(this).scrollTop() > 210){
    //            jQuery('.sidebar').css('position','fixed');
    //            jQuery('.sidebar').css('top','0');
    //            jQuery('.sidebar').css('width','187px');
    //        }else{
    //             jQuery('.sidebar').css('position','relative');
    //        }
    //       var adsPos = jQuery('.sideAds').position();
    //       console.log(" adsTop : "+adsPos.top+" adsTop height: "+jQuery('.sideAds').height()+" scrollTop : "+jQuery(this).scrollTop());
    //        if ((jQuery('.sideAds').height()+350) < jQuery(this).scrollTop()){
    //            jQuery('.sideAds').hide();
    //        }else{
    //             jQuery('.sideAds').show();
    //        }
    //    });
    //   
    // 
    //});   
    
</script>