<div id="co-billing-form">
    <h3 class="title"><?php echo $this->__('1. Billing Address')?></h3>
    <ul class="form-list">
    <?php if ($this->customerHasAddresses()): ?>
        <li class="wide">
            <label for="billing-address-select" class="notice"><?php echo $this->__('Select a billing address from your address book or enter a new address.') ?></label>
            <div class="input-box">
                <?php echo $this->getAddressesHtmlSelect('billing') ?>
            </div>
        </li>
    <?php endif; ?>
    <li id="billing-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
        <fieldset>
            <input type="hidden" name="billing[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="billing:address_id" />
            <ul>
                <li class="fields"><?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress()->getFirstname() ? $this->getAddress() : $this->getQuote()->getCustomer())->setForceUseCustomerRequiredAttributes(!$this->isCustomerLoggedIn())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?></li>
                <!-- <li class="wide">
                    <div class="field">
                        <label for="billing:company"><?php echo $this->__('Company') ?></label>
                        <div class="input-box">
                            <input type="text" id="billing:company" name="billing[company]" value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text <?php echo $this->helper('opc')->getAttributeValidationClass('company') ?>" />
                        </div>
                    </div> 
                </li> -->
        <?php if(!$this->isCustomerLoggedIn()): ?>
                <li class="wide">
                    <label for="billing:email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                    <div class="input-box">
                        <input type="text" name="billing[email]" id="billing:email" value="<?php echo $this->escapeHtml($this->getAddress()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" autocomplete="off"/>
                    </div>
                </li>
        <?php endif; ?>                
        <?php $_streetValidationClass = $this->helper('opc')->getAttributeValidationClass('street'); ?>
                <li class="wide">
                    <label for="billing:street1" class="required"><em>*</em><?php echo $this->__('Address') ?></label>
                    <div class="input-box">
                        <input type="text" title="<?php echo $this->__('Street Address') ?>" name="billing[street][]" id="billing:street1" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>" class="input-text <?php echo $_streetValidationClass ?>" maxlength="70"/>
                    </div>
                </li>
        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
        <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines() -1; $_i <= $_n; $_i++): ?>
                <li class="wide">
                    <div class="input-box">
                        <input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" name="billing[street][]" id="billing:street<?php echo $_i ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet($_i)) ?>" class="input-text <?php echo $_streetValidationClass ?>" />
                    </div>
                </li>
        <?php endfor; ?>
                <li class="fields">
                    <div class="field">
                        <label for="billing:region_id" class="required"><em>*</em><?php echo $this->__('Province') ?></label>
                        <div class="input-box">
                            <select id="billing:region_id" name="billing[region_id]" title="<?php echo $this->__('Province') ?>" class="required-entry validate-select" style="display:none;">
                                <option value=""><?php echo $this->__('Please select province') ?></option>
                            </select>
                            <script type="text/javascript">
                            //<![CDATA[
                                $('billing:region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                            //]]>
                            </script>
                            <input type="text" id="billing:region" name="billing[region]" value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->__('Province') ?>" class="input-text required-entry <?php echo $this->helper('opc')->getAttributeValidationClass('region') ?>" style="display:none;" />
                        </div>
                    </div>
                    <div class="field">
                        <label for="billing:city" class="required"><em>*</em><?php echo $this->__('District') ?></label>
                        <div class="input-box">
                            <!--<input type="text" title="<?php echo $this->__('District') ?>" name="billing[city]" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>" class="input-text <?php echo $this->helper('opc')->getAttributeValidationClass('city') ?>" id="billing:city" />-->
                            <select id="billing:city" name="billing[city]" title="<?php echo $this->__('District') ?>" class="required-entry validate-select">
                                <option value=""><?php echo $this->__('Please select district') ?></option>
                            </select>
                            <script type="text/javascript">
                            //<![CDATA[
                                $('billing:city').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getCity() ?>");
                            //]]>
                            </script>
                        </div>
                    </div>
                </li>
                <li class="fields">
                    <div class="field">
                        <label for="billing:sub_district" class="required"><em>*</em><?php echo $this->__('Sub District') ?></label>
                        <div class="input-box">
                            <select id="billing:sub_district" name="billing[sub_district]" title="<?php echo $this->__('District') ?>" class="required-entry validate-select">
                                <option value=""><?php echo $this->__('Please select sub district') ?></option>
                            </select>
                            <script type="text/javascript">
                            //<![CDATA[
                                $('billing:sub_district').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getSubDistrict() ?>");
                            //]]>
                            </script>
                        </div>
                    </div>
                    <div class="field">
                        <label for="billing:postcode" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="billing[postcode]" id="billing:postcode" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" class="input-text validate-zip-international <?php echo $this->helper('opc')->getAttributeValidationClass('postcode') ?>" readonly />
                        </div>
                    </div>
                    <div class="field" style = "display:none">
                        <label for="billing:country_id" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                        <div class="input-box">
                            <?php echo $this->getCountryHtmlSelect('billing') ?>
                        </div>
                    </div>
                </li>
                <li class="wide">
                    <label for="billing:telephone" class="required"><em>*</em><?php echo $this->__('Telephone (For delivery contact)') ?></label>
                    <div class="input-box">
                        <input type="text" name="billing[telephone]" value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text validate-digits validate-length minimum-length-10 maximum-length-10 <?php echo $this->helper('opc')->getAttributeValidationClass('telephone') ?>" id="billing:telephone" />
                    </div>
                    <!-- <div class="field">
                        <label for="billing:fax"><?php echo $this->__('Fax') ?></label>
                        <div class="input-box">
                            <input type="text" name="billing[fax]" value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>" title="<?php echo $this->__('Fax') ?>" class="input-text <?php echo $this->helper('opc')->getAttributeValidationClass('fax') ?>" id="billing:fax" />
                        </div>
                    </div> -->
                </li>
                <?php if ($this->helper('opc')->isVatAttributeVisible()) : ?>
                <!--<li class="control invoice<?php if ($this->customerHasAddresses()): ?>  hidden<?php endif; ?>">
                    <input type="checkbox" name="billing[use_for_tax_invoice]" id="billing:use_for_tax_invoice_yes" value="1" title="<?php echo  $this->__('Request tax invoice') ?>" class="checkbox invoice" /><label for="billing:use_for_tax_invoice_yes" class="forcheckbox"><?php echo  $this->__('Request tax invoice') ?></label>
                </li>-->
                <!-- chang Vat ID-->
                <li class="wide" id = "opc-tax-invoice">
                    <div class="fields">
                        <label for="billing:vat_type" class="required"><em>*</em><?php echo $this->__('Type of tax invoice requestor') ?></label>
                        <div class="input-box">
                            <select id="billing:vat_type" name="billing[vat_type]" title="" class="vat_type required-entry">
                                <?php $options = Mage::getModel('campaigns/vat_type')->getAllOptions();?>
                                <?php $value = $this->getAddress()->getVatType();?>
                                <?php foreach ($options as $option):?>
                                    <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $value) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                                <?php endforeach;?>
                            </select>
                        </div>
                    </div>
                    <label for="billing:vat_id" id="taxDetail" class="required"><em>*</em><?php echo $this->__('please specify the identification number*')?></label>
                    <div class="input-box">
                        <input type="text" id="billing:vat_id" name="billing[vat_id]" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()) ?>" title="<?php echo $this->__('VAT Number') ?>" class="input-text required-entry validate-idcard <?php echo $this->helper('opc')->getAttributeValidationClass('vat_id') ?>" autocomplete="off"/>
                    </div>
                    <label for="billing:branch_no" id="branch" class="required"><em>*</em><?php echo $this->__('Branch No*')?></label>
                    <div class="input-box">
                        <input type="text" id="billing:branch_no" name="billing[branch_no]" value="<?php echo $this->escapeHtml($this->getAddress()->getBranchNo()) ?>" title="<?php echo $this->__('Branch No') ?>" class="input-text required-entry validate-digits <?php echo $this->helper('opc')->getAttributeValidationClass('branch_no') ?>" autocomplete="off" maxlength="5"/>
                    </div>
                </li>
                <div class="clear"></div>
                <?php endif; ?>
                <?php if(!$this->isCustomerLoggedIn()): ?>

                    <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
                    <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                        <?php if ($_dob->isEnabled() || $_gender->isEnabled()): ?>
                            <li class="fields">
                            <?php if ($_dob->isEnabled()): ?>
                                <div class="field">
                                    <?php echo $_dob->setDate($this->getQuote()->getCustomerDob())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                                </div>
                            <?php endif; ?>
                            <?php if ($_gender->isEnabled()): ?>
                                <div class="field">
                                    <?php echo $_gender->setGender($this->getQuote()->getCustomerGender())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                                </div>
                            <?php endif ?>
                            </li>
                        <?php endif ?>

                    <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
                    <?php if ($_taxvat->isEnabled()): ?>
                            <li>
                                <?php echo $_taxvat->setTaxvat($this->getQuote()->getCustomerTaxvat())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                            </li>
                    <?php endif ?>


                <?php endif; ?>
                <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                	<div class="clear"></div>
                    <li class="control">
                        <input type="checkbox" name="billing[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="billing:save_in_address_book" onchange="if(window.shipping) shipping.setSameAsBilling(false);"<?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox" /><label for="billing:save_in_address_book" class="forcheckbox"><?php echo $this->__('Save in address book') ?></label>
                    </li>
                <?php else:?>
                    <li class="no-display"><input type="hidden" name="billing[save_in_address_book]" value="1" /></li>
                <?php endif; ?>
                <?php echo $this->getChildHtml('form.additional.info'); ?>
            </ul>
        </fieldset>
    </li>
    <?php /* Extensions placeholder */ ?>
    <?php echo $this->getChildHtml('checkout.onepage.billing.extra')?>
    <?php if(!$this->isCustomerLoggedIn()): ?>

    	<?php
    	$guest_allowed = $this->getQuote()->isAllowedGuestCheckout();
    	if($guest_allowed): ?>
	    <li class="control">
	            <input type="checkbox" name="billing[create_account]" id="billing:create_account" value="1" title="<?php echo  $this->__('Create an account for later use') ?>"  class="checkbox" /><label for="billing:create_account" class="forcheckbox"><?php echo  $this->__('Create an account for later use') ?></label>
	    </li>
	    <?php else:?>
	    	<input type="hidden" name="billing[create_account]" id="billing:create_account" value="1" />
	    <?php endif;?>

		<li class="fields <?php if($guest_allowed):?>hidden<?php endif;?>" id="register-customer-password">
			<div class="field">
				<label for="billing:customer_password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
				<div class="input-box">
					<input type="password" name="billing[customer_password]" id="billing:customer_password" title="<?php echo $this->__('Password') ?>" class="input-text validate-password <?php if(!$guest_allowed):?>required-entry<?php endif;?>" autocomplete="off"/>
				</div>
			</div>
			<div class="field">
				<label for="billing:confirm_password" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
				<div class="input-box">
					<input type="password" name="billing[confirm_password]" title="<?php echo $this->__('Confirm Password') ?>" id="billing:confirm_password" class="input-text validate-cpassword <?php if(!$guest_allowed):?>required-entry<?php endif;?>" autocomplete="off"/>
				</div>
			</div>
		</li>
		<div class="clear"></div>

    <?php endif;?>

    <?php if ($this->canShip()): ?>
        <li class="control <?php if (!Mage::helper('opc')->isShowShippingForm()):?>hidden<?php endif;?>">
            <input type="checkbox" name="billing[use_for_shipping]" id="billing:use_for_shipping_yes" value="1"<?php if ($this->isUseBillingAddressForShipping()) {?> checked="checked"<?php }?> title="<?php echo  $this->__('Ship to this address') ?>" class="checkbox" /><label for="billing:use_for_shipping_yes" class="forcheckbox"><?php echo  $this->__('Ship to this address') ?></label>
        </li>

    <?php endif; ?>
    </ul>
    <?php if (!$this->canShip()): ?>
        <input type="hidden" name="billing[use_for_shipping]" value="1" />
    <?php endif; ?>

</div>
<script type="text/javascript">
//<![CDATA[
    var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'billing:postcode');

//]]>

    jQuery('.control.invoice').change(function() {
      if(jQuery('.checkbox.invoice').is(":checked")) {
            jQuery('#opc-tax-invoice').removeClass('hidden');
       }else{
            jQuery('#opc-tax-invoice').addClass('hidden');
       }
    });

    jQuery("input[type='checkbox']:checked").each(
        function() {
            var myLabel = jQuery("label[for='"+jQuery(this).attr("id")+"']");
            jQuery(myLabel).addClass('active');
    });

    jQuery('#co-billing-form label').click(function(){
        if(jQuery(this).hasClass('active')){
            jQuery(this).removeClass('active');
        }else{
            jQuery(this).addClass('active');
        }
    });

    jQuery('#billing-address-select').change(function(){
        if(jQuery(this).val() == '') {
            jQuery('.invoice').show();
        } else {
            jQuery('.invoice').hide();
        }
    });

    jQuery('.vat_type').change(function(){
        if(jQuery(this).val() == '1') {
            jQuery('#taxDetail').html('<?php echo $this->__('please specify the identification number*') ?>');
        } else if(jQuery(this).val() == '2') {
            jQuery('#taxDetail').html('<?php echo $this->__('please specify the tax number*') ?>');
        } else {
            jQuery('#taxDetail').html('<?php echo $this->__('please specify the passport number*') ?>');
        }

        if(jQuery(this).val() != '2') {
            jQuery('#branch').hide();
            jQuery('input[name*="branch_no"]').hide();
            jQuery('input[name*="branch_no"]').val('');
            jQuery('input[name*="vat_id"]').val('');
        }

        if(jQuery(this).val() == '3') {
            jQuery('input[name*="vat_id"]').removeAttr('class');
            jQuery('input[name*="vat_id"]').attr('class', 'input-text required-entry');
            jQuery('div[id*="vat_id"]').css({'display':'none', 'opacity': 0});
        } else if(jQuery(this).val() == '2') {
            jQuery('input[name*="vat_id"]').removeAttr('class');
            jQuery('input[name*="vat_id"]').attr('class', 'input-text required-entry validate-digits validate-length minimum-length-13 maximum-length-13');
            jQuery('#branch').show();
            jQuery('input[name*="branch_no"]').show();
        } else {
            jQuery('input[name*="vat_id"]').removeAttr('class');
            jQuery('input[name*="vat_id"]').attr('class', 'input-text required-entry validate-idcard');
        }

    }).change();

    jQuery(function () {
        jQuery('select[name*="region_id"]').selectbox();
        jQuery('select[name*="city"]').selectbox();
        jQuery('select[name*="district"]').selectbox();

        jQuery("#billing-address-select").selectbox();
        jQuery('select[name="billing[vat_type]"]').selectbox();
        jQuery("#shipping-address-select").selectbox();

        jQuery('input[name="billing[vat_id]"]').blur(function(){
            jQuery('input[name="shipping[vat_id]"]').val(jQuery(this).val());
        });

        jQuery('select[name="billing[vat_type]"]').change(function(){
            jQuery('select[name="shipping[vat_type]"]').val(jQuery(this).val());
        });

        jQuery('input[name="billing[branch_no]"]').blur(function(){
            jQuery('input[name="shipping[branch_no]"]').val(jQuery(this).val());
        });
    });
</script>