<div>
	<h3><?php echo $this->__('Shipping Address')?></h3>
    <ul class="form-list">
    <?php if ($this->customerHasAddresses()): ?>
       <li class="wide">
           <label for="shipping-address-select" class="notice"><?php echo $this->__('Select a shipping address from your address book or enter a new address.') ?></label>
           <div class="input-box">
               <?php echo $this->getAddressesHtmlSelect('shipping') ?>
           </div>
       </li>
    <?php endif ?>
        <li id="shipping-new-address-form" class="wide"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif ?>>
            <fieldset>
                <input type="hidden" name="shipping[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="shipping:address_id" />
                <ul>
                    <li class="fields"><?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress())->setFieldIdFormat('shipping:%s')->setFieldNameFormat('shipping[%s]')->toHtml() ?></li>
                    <!--<li class="fields">
                        <div class="fields">
                            <label for="shipping:company"><?php echo $this->__('Company') ?></label>
                            <div class="input-box">
                                <input type="text" id="shipping:company" name="shipping[company]" value="<?php echo $this->escapeHtml($this->getAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text <?php echo $this->helper('opc')->getAttributeValidationClass('company') ?>"/>
                            </div>
                        </div>
                    </li>-->
            <?php $_streetValidationClass = $this->helper('opc')->getAttributeValidationClass('street'); ?>
                    <li class="wide">
                        <label for="shipping:street1" class="required"><em>*</em><?php echo $this->__('Address') ?></label>
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('Street Address') ?>" name="shipping[street][]" id="shipping:street1" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet(1)) ?>" class="input-text <?php echo $_streetValidationClass ?>" maxlength="70"/>
                        </div>
                    </li>
            <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
            <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines() -1; $_i <= $_n; $_i++): ?>
                    <li class="wide">
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" name="shipping[street][]" id="shipping:street<?php echo $_i ?>" value="<?php echo $this->escapeHtml($this->getAddress()->getStreet($_i)) ?>" class="input-text <?php echo $_streetValidationClass ?>" />
                        </div>
                    </li>
            <?php endfor; ?>
                    <?php //if ($this->helper('opc')->isVatAttributeVisible()) : ?>
                    <?php if (1 == 0) : ?>
                    <li class="wide">
                        <label for="shipping:vat_id"><?php echo $this->__('VAT Number'); ?></label>
                        <div class="input-box">
                            <input type="text" id="shipping:vat_id" name="shipping[vat_id]" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()); ?>" title="<?php echo $this->__('VAT Number'); ?>" class="input-text <?php echo $this->helper('opc')->getAttributeValidationClass('vat_id') ?>" />
                        </div>
                    </li>
                    <?php endif; ?>
                    <li class="fields">
                        <div class="field">
                            <label for="shipping:region" class="required"><em>*</em><?php echo $this->__('Province') ?></label>
                            <div class="input-box">
                                <select id="shipping:region_id" name="shipping[region_id]" title="<?php echo $this->__('Province') ?>" class="required-entry validate-select" style="display:none;">
                                    <option value=""><?php echo $this->__('Please select province') ?></option>
                                </select>
                                <script type="text/javascript">
                                //<![CDATA[
                                    $('shipping:region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                                //]]>
                                </script>
                                <input type="text" id="shipping:region" name="shipping[region]" value="<?php echo $this->escapeHtml($this->getAddress()->getRegion()) ?>" title="<?php echo $this->__('Province') ?>" class="input-text required-entry <?php echo $this->helper('opc')->getAttributeValidationClass('region') ?>" style="display:none;" />
                            </div>
                        </div>
                        <div class="field">
                            <label for="shipping:city" class="required"><em>*</em><?php echo $this->__('District') ?></label>
                            <div class="input-box">
                                <!--<input type="text" title="<?php echo $this->__('District') ?>" name="shipping[city]" value="<?php echo $this->escapeHtml($this->getAddress()->getCity()) ?>" class="input-text <?php echo $this->helper('opc')->getAttributeValidationClass('city') ?>" id="shipping:city" />-->
                                <select id="shipping:city" name="shipping[city]" title="<?php echo $this->__('District') ?>" class="required-entry validate-select">
                                    <option value=""><?php echo $this->__('Please select district') ?></option>
                                </select>
                                <script type="text/javascript">
                                //<![CDATA[
                                    $('shipping:city').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getCity() ?>");
                                //]]>
                                </script>
                            </div>
                        </div>
                    </li>
                    <li class="fields">
                        <div class="field">
                            <label for="shipping:sub_district" class="required"><em>*</em><?php echo $this->__('Sub District') ?></label>
                            <div class="input-box">
                                <select id="shipping:sub_district" name="shipping[sub_district]" title="<?php echo $this->__('District') ?>" class="required-entry validate-select">
                                    <option value=""><?php echo $this->__('Please select sub district') ?></option>
                                </select>
                                <script type="text/javascript">
                                //<![CDATA[
                                    $('shipping:sub_district').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getSubDistrict() ?>");
                                //]]>
                                </script>
                            </div>
                        </div>
                        <div class="field">
                            <label for="shipping:postcode" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                            <div class="input-box">
                                <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="shipping[postcode]" id="shipping:postcode" value="<?php echo $this->escapeHtml($this->getAddress()->getPostcode()) ?>" class="input-text validate-zip-international <?php echo $this->helper('opc')->getAttributeValidationClass('postcode') ?>" readonly />
                            </div>
                        </div>
                        <div class="field" style = "display:none">
                            <label for="shipping:country_id" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                            <div class="input-box">
                                <?php echo $this->getCountryHtmlSelect('shipping') ?>
                            </div>
                        </div>
                    </li>
                    <li class="wide">
                        <label for="shipping:telephone" class="required"><em>*</em><?php echo $this->__('Telephone (For delivery contact)') ?></label>
                        <div class="input-box">
                            <input type="text" name="shipping[telephone]" value="<?php echo $this->escapeHtml($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text validate-digits validate-length minimum-length-10 maximum-length-10 <?php echo $this->helper('opc')->getAttributeValidationClass('telephone') ?>" id="shipping:telephone" />
                        </div>
                    </li>
                    <li class="wide fax">
                        <label for="shipping:fax"><?php echo $this->__('Fax') ?></label>
                        <div class="input-box">
                            <input type="text" name="shipping[fax]" value="<?php echo $this->escapeHtml($this->getAddress()->getFax()) ?>" title="<?php echo $this->__('Fax') ?>" class="input-text <?php echo $this->helper('opc')->getAttributeValidationClass('fax') ?>" id="shipping:fax"  />
                        </div>
                    </li>
                    <li class="wide" id = "opc-tax-invoice" style="display:none;">
                        <div class="fields">
                            <label for="shipping:vat_type" class="required"><em>*</em><?php echo $this->__('Type of tax invoice requestor') ?></label>
                            <div class="input-box">
                                <select id="shipping:vat_type" name="shipping[vat_type]" title="" class="vat_type required-entry">
                                    <?php $options = Mage::getModel('campaigns/vat_type')->getAllOptions();?>
                                    <?php $value = $this->getAddress()->getVatType();?>
                                    <?php foreach ($options as $option):?>
                                        <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $value) echo ' selected="selected"' ?>><?php echo $option['label'] ?></option>
                                    <?php endforeach;?>
                                </select>
                            </div>
                        </div>
                        <label for="shipping:vat_id" id="taxDetail" class="required"><em>*</em><?php echo $this->__('please specify the identification number*')?></label>
                        <div class="input-box">
                            <input type="text" id="shipping:vat_id" name="shipping[vat_id]" value="<?php echo $this->escapeHtml($this->getAddress()->getVatId()) ?>" title="<?php echo $this->__('VAT Number') ?>" class="input-text required-entry validate-idcard <?php echo $this->helper('opc')->getAttributeValidationClass('vat_id') ?>" />
                        </div>
                        <label for="shipping:branch_no" id="branch" class="required"><em>*</em><?php echo $this->__('Branch No*')?></label>
                        <div class="input-box">
                            <input type="text" id="shipping:branch_no" name="shipping[branch_no]" value="<?php echo $this->escapeHtml($this->getAddress()->getBranchNo()) ?>" title="<?php echo $this->__('Branch No') ?>" class="input-text required-entry<?php echo $this->helper('opc')->getAttributeValidationClass('branch_no') ?>" autocomplete="off"/>
                        </div>
                    </li>
                <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                    <li class="control clear">
                        <input type="checkbox" name="shipping[save_in_address_book]" value="1" title="<?php echo $this->__('Save in address book') ?>" id="shipping:save_in_address_book" <?php if ($this->getAddress()->getSaveInAddressBook()):?> checked="checked"<?php endif;?> class="checkbox saveshipping" /><label for="shipping:save_in_address_book" class="forcheckbox"><?php echo $this->__('Save in address book') ?></label></li>
                <?php else:?>
                    <li class="no-display"><input type="hidden" name="shipping[save_in_address_book]" value="1" /></li>
                <?php endif;?>
                </ul>
            </fieldset>
        </li>
        <li class="control hidden">
            <input type="checkbox" name="shipping[same_as_billing]" id="shipping:same_as_billing" value="1"<?php if($this->getAddress()->getSameAsBilling()): ?> checked="checked"<?php endif; ?> title="<?php echo $this->__('Use Billing Address') ?>" class="checkbox" /><label for="shipping:same_as_billing"><?php echo $this->__('Use Billing Address') ?></label>
        </li>
    </ul>

<script type="text/javascript">
//<![CDATA[
    var shippingRegionUpdater = new RegionUpdater('shipping:country_id', 'shipping:region', 'shipping:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'shipping:postcode');
//]]>

    jQuery("#opc-address-form-shipping .forcheckbox").click(function(){
        if(jQuery(this).hasClass('active')){
            jQuery(this).removeClass('active');
        }else{
            jQuery(this).addClass('active');
        }
    });
</script>
</div>