<div class="fields">
    <label><?php echo $this->__('Type of Tax Invoice Recipient') ?></label>
    <div class="input-box">
        <select id="billing-tax-invoice" name="" title="" class="">
            <option value=""><?php echo $this->__('An individual Thai nationality') ?></option>
            <option value=""><?php echo $this->__('I don\'t know' ) ?></option>
        </select>
    </div>
</div>
<div class="fields">
    <label><?php echo $this->__('please specify the identification number or tax identification number*') ?></label>
    <div class="input-box">
        <input type="text" id="" name="" value="" title="" class="input-text">
    </div>
</div>