<?php
    $_helper = $this->helper('catalog/output');
    //echo get_class($_helper);
    $_product = $this->getProduct();
    $_coreHelper = $this->helper('core');
    $store = Mage::app()->getStore();

    $rules = Mage::getResourceModel('salesrule/rule_collection')->load();
    $discountAmount = 0;
    $action = '';
    $attribute = '';
    $maxValue = 0;

    foreach($rules as $rule)
    {
        if($rule->getIsActive() && $rule->getApplyToShipping()) {
            $discountAmount = $rule->getDiscountAmount();
            $action = $rule->getSimpleAction();

            $conditions = unserialize($rule->getConditionsSerialized());
            if(isset($conditions['conditions'])) {
                $conditions = $conditions['conditions'];
                if(count($conditions) > 0) {
                    foreach($conditions as $condition){
                        $attribute = $condition['attribute'];
                        $maxValue = $condition['value'];
                    }
                }
            }
        }
    }


    if($_product->getTypeId() == "configurable") {
        $options = $this->getLayout()->createBlock("catalog/product_view_type_configurable")
                ->setProduct($_product);
        $_attributes = Mage::helper('core')->decorateArray($options->getAllowAttributes());

        $_configurable = $_product->getTypeInstance()->getUsedProductIds();
        foreach ($_configurable as $_config) {
            $_simpleProduct = Mage::getModel('catalog/product')->load($_config);

            $_products[] = array('product_id' => $_simpleProduct->getId(),
                                 'product_name' => $_simpleProduct->getName(),
                                 'product_sku' => $_simpleProduct->getSku(),
                                 'price_text' => $this->helper('core')->currency($this->helper('tax')->getPrice($_simpleProduct, $_simpleProduct->getFinalPrice()), true, false),
                                 'price' => $_simpleProduct->getFinalPrice(),
                                 'validate_qty' => $_simpleProduct->getLimitQty(),
                                 'min_qty' => ($_simpleProduct->getStockItem()->getMinSaleQty())? $_simpleProduct->getStockItem()->getMinSaleQty():1,
                                 'max_qty' => ($_simpleProduct->getStockItem()->getMaxSaleQty())? $_simpleProduct->getStockItem()->getMaxSaleQty():1,
                                 'weight' => $_simpleProduct->getWeight(),
                                 'parent_id' => $_product->getId(),
                                 //'allowed_shipping_methods' => $shippingMethods,
                                 'free_shipping' => $maxValue
                                );
        }

    } else {

        $_products[] = array('product_id' => $_product->getId(),
                             'product_name' => $_product->getName(),
                             'product_sku' => $_product->getSku(),
                             'price_text' => $this->helper('core')->currency($this->helper('tax')->getPrice($_product, $_product->getFinalPrice()), true, false),
                             'price' => $_product->getFinalPrice(),
                             'min_qty' => ($_product->getStockItem()->getMinSaleQty())? $_product->getStockItem()->getMinSaleQty():1,
                             'max_qty' => ($_product->getStockItem()->getMaxSaleQty())? $_product->getStockItem()->getMaxSaleQty():1,
                             'weight' => $_product->getWeight(),
                             'parent_id' => '',
                             //'allowed_shipping_methods' => $shippingMethods,
                             'free_shipping' => $maxValue
                             );
    }

    $regions = $this->getRegions();
    $goodsItems = array();
    $shippings = $_product->getAllowedShippingMethods();
    $shipping = $this->__('Free Shipping');
    $shippingAmount = 0;
    $shippingCode = '';

    //if(!is_null($shippings) && strpos($shippings, 'free') !== false) {
        $shippings = explode(',', $shippings);

        foreach ($shippings as $key => $value) {
            if($value != 'free') {
                $shippingCode = $value;
                $shipping = Mage::getStoreConfig('carriers/' . $value .'/title');
                $shippingAmount = Mage::getStoreConfig('carriers/' . $value .'/price');
            }
        }
    //}
?>
<?php
  $baseUrl =  Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);
  $baseUrl = str_replace('media/', '', $baseUrl);
  $baseUrl = str_replace('https:', 'http:', $baseUrl);
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>ซื้อโทรศัพท์มือถือ <?php echo $_product->getName() ?> | Ais Online Store</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="http://store.ais.co.th/media/favicon/default/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="http://store.ais.co.th/media/favicon/default/favicon.ico" type="image/x-icon" />
  <link href="<?php echo $baseUrl;?>line/css/ais-popshop.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="<?php echo $baseUrl;?>line/js/unserialize.js"></script>
  <script type="text/javascript" src="<?php echo $baseUrl;?>line/js/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="<?php echo $baseUrl;?>line/js/jquery.validate.js"></script>
  <script type="text/javascript" src="<?php echo $baseUrl;?>line/js/jQueryTab.js"></script>
  <script type="text/javascript" src="<?php echo $baseUrl;?>line/js/ais-popshop.js"></script>
  <script type="text/javascript" src="<?php echo $baseUrl;?>line/js/districts.js"></script>
  <script type="text/javascript">
    <?php if($_product->getTypeId() == "configurable"): ?>
    var productOptions = <?php echo $options->getJsonConfig(); ?>;
    <?php else:?>
      var productOptions = <?php echo json_encode(array()); ?>;
    <?php endif;?>
    var infos = <?php echo Mage::helper('core')->jsonEncode($_products); ?>;
    var pname = '<?php echo $_product->getName() ?>';

    var eventStart = '<?php echo $_product->getEventStart() ?>';
    var eventEnd = '<?php echo $_product->getEventEnd() ?>';
    var shippingAmount = <?php echo $shippingAmount; ?>;
    var shippingMethod = '<?php echo $shipping; ?>';
    var freeGoods = '';
    var freeGoodsQty = '';


    var productIds = new Array();
    <?php if($_product->getTypeId() != "configurable"): ?>
        curProductId = <?php echo $_product->getId(); ?>;
    <?php endif; ?>

    function addTrade() {
      //goodsItems

      jQuery('[name="discount-option"]').each(function(){
          if(this.checked) {
            jQuery('#billing_option').val(jQuery(this).val());
          }
      });

      for(var i in tradeItem) {
        if(i == 'custome_price') {
          for(var j in infos) {
            var info = infos[j];
            if(curProductId == info.product_id) {
              if(tradeItem[i] != null) {
                var qty = parseInt(jQuery('#qty').val());
                var price = parseInt(tradeItem[i]);
                var total = (price * qty);
                jQuery('#reviewOrder tbody #item td[data-th="<?php echo $this->__('Price:')?>"]').html(price.formatMoney(0, '.', ','));
                jQuery('#reviewOrder tbody #item td[data-th="<?php echo $this->__('Total:')?>"]').html(total.formatMoney(0, '.', ','));
              }
            }
          }
        } else if(i == 'free_goods') {
          var freeItems = tradeItem[i];
          for(var item in freeItems) {
            var qty = parseInt(freeItems[item]);
            var sku = item;
            var freeItem = goodsItems[sku];
            var itemName = '';
            for(var j in freeItem) {
              if(j == "name") {
                  itemName = freeItem[j];
              } else if(j == "id")  {
                freeGoods = freeItem[j] + ',';
                freeGoodsQty = freeItems[item] + ',';
              }
            }

            jQuery('#reviewOrder tbody').append('<tr id = "free" class = "' + sku + '"></tr>');
            jQuery('#reviewOrder tbody #free.' + sku).append("<td data-th=\"<?php echo $this->__('Product Name:')?>\"><i><?php echo $this->__('Free'); ?></i>: " + itemName + "</td>");
            jQuery('#reviewOrder tbody #free.' + sku).append("<td data-th=\"<?php echo $this->__('Price:')?>\">0</td>");
            jQuery('#reviewOrder tbody #free.' + sku).append("<td data-th=\"<?php echo $this->__('QTY:')?>\">" + qty + "</td>");
            jQuery('#reviewOrder tbody #free.' + sku).append("<td data-th=\"<?php echo $this->__('Total:')?>\">0</td>");
          }
        }
      }
      addShippingCost();
    }

    function addTradeNotify() {
      /*var tradeText = "";
      var hasItem = false;
      for(var i in tradeItem) {
        if(i == 'custome_price') {

          for(var j in infos) {
            var info = infos[j];
            if(curProductId == info.product_id) {
              var qty = parseInt(jQuery('#qty').val());
              var customerPrice = parseInt(tradeItem[i]);
              var price = parseInt(info.price);
              var totalDiscount = (price - customerPrice) * qty;
              tradeText = "<?php echo $this->__('Discount')?> ฿" +  totalDiscount.formatMoney(0, '.', ',');
            }
          }
        } else if(i == 'free_goods') {
          var freeItems = tradeItem[i];
          for(var item in freeItems) {
            if(tradeText.indexOf(" <?php echo $this->__('Free')?> ") == -1) {
              tradeText += " <?php echo $this->__('Free')?> ";
            }
            hasItem = true;
            var qty = parseInt(freeItems[item]);
            var sku = item;
            var freeItem = goodsItems[sku];
            var itemName = '';
            for(var j in freeItem) {
              if(j == "name") {
                  itemName = freeItem[j];
              }
            }

            if(qty > 1) {
              tradeText += " " + itemName + " " + qty + ' <?php echo $this->__('items')?>, ';
            } else {
              tradeText += " " + itemName + " " + qty + ' <?php echo $this->__('item')?>, ';
            }
          }
        }
      }

      if(hasItem) {
        tradeText = tradeText.substr(0,tradeText.length -2) + " <?php echo $this->__('For AIS Member')?>";
      } else {
        tradeText = tradeText + " <?php echo $this->__('For AIS Member')?>";
      }
      jQuery('#reviewOrder tbody tr#item td[data-th="<?php echo $this->__('Product Name:')?>"]').append("<span class=\"free-gift-checkout\">" + tradeText + "</span>");
      */
      addShippingCost();
    }

    function addProduct() {
      jQuery('input[type="hidden"]').each(function(){
        var name = jQuery(this).attr('name');
        if(name != 'shipping[amount]' && name != 'shipping[method]') {
          jQuery(this).val('');
        }
      });

      var hasShippingCost = true;
      jQuery('#reviewOrder tbody tr').remove();
      for(var i in infos) {
        var info = infos[i];
        if(curProductId == info.product_id) {
          var qty = parseInt(jQuery('#qty').val());
          var total = (info.price * qty);
          var price = parseInt(info.price);
          var optionLabel = '';

          if(attrLabel != '') {
             optionLabel = jQuery('[id^=attr_]').first().find('option:selected').text();
             optionLabel = "<span class=\"product-option-checkout\"><i>" + attrLabel + '</i>: ' + optionLabel + "</span>";
          }
          jQuery('#reviewOrder tbody').append('<tr id = "item"></tr>');
          jQuery('#reviewOrder tbody tr').append("<td data-th=\"<?php echo $this->__('Product Name:')?>\">" + pname + optionLabel + "</td>");
          jQuery('#reviewOrder tbody tr').append("<td data-th=\"<?php echo $this->__('Price:')?>\">" + price.formatMoney(0, '.', ',') + "</td>");
          jQuery('#reviewOrder tbody tr').append("<td data-th=\"<?php echo $this->__('QTY:')?>\">" + qty + "</td>");
          jQuery('#reviewOrder tbody tr').append("<td data-th=\"<?php echo $this->__('Total:')?>\">" + total.formatMoney(0, '.', ',') + "</td>");
          jQuery('#billing_price').val(price);
          jQuery('#billing_qty').val(qty);
          jQuery('#billing_product_id').val(curProductId);

          /*if((price * qty) >= info.free_shipping) {
            jQuery('#shipping_amount').val('0');
            hasShippingCost = false;
          }*/
        }
      }

      var hasTrade = false;
      jQuery('[name="discount-option"]').each(function(){
          if(this.checked) {
            tradeItem = unserialize(jQuery(this).val());
            for(var i in tradeItem) {
              hasTrade = true;
              if(i == 'is_ais_member') {
                  if(tradeItem[i] == '1') {
                    checkAisMember();
                  } else {
                    addTrade()
                  }
              }
            }
          }
      });

      if(!hasTrade) {
        addShippingCost();
      }

    }

    function addShippingCost() {
      //goodsItems
      var shipping_amount = parseInt(jQuery('#shipping_amount').val());
      var totalAmount = jQuery('#reviewOrder tbody #item td[data-th="<?php echo $this->__('Total:')?>"]').html();
      totalAmount = parseInt(totalAmount.replace(',', ''));

      for(var j in infos) {
        var info = infos[j];
        if(curProductId == info.product_id) {
          if(totalAmount < info.free_shipping) {
            jQuery('#reviewOrder tbody').append('<tr id = "shipping"></tr>');
            jQuery('#reviewOrder tbody #shipping').append("<td data-th=\"<?php echo $this->__('Product Name:')?>\" colspan = \"3\"><?php echo $this->__('Shipping Method');?></td>");
            jQuery('#reviewOrder tbody #shipping').append("<td data-th=\"<?php echo $this->__('Total:')?>\">" + shipping_amount.formatMoney(0, '.', ',') + "</td>");
          } else {
            jQuery('#shipping_amount').val('0');
          }
        }
      }

      shipping_amount = parseInt(jQuery('#shipping_amount').val());
      var grandTotal = parseInt(shipping_amount) + totalAmount;
      jQuery('#reviewOrder tbody').append('<tr id = "total"></tr>');
      jQuery('#reviewOrder tbody #total').append("<td data-th=\"<?php echo $this->__('Product Name:')?>\" colspan = \"3\"><?php echo $this->__('Grand Total');?></td>");
      jQuery('#reviewOrder tbody #total').append("<td data-th=\"<?php echo $this->__('Total:')?>\">" + grandTotal.formatMoney(0, '.', ',') + "</td>");
    }

    function setMessage(s) {
      if(s == -1) {
        jQuery('#timeBox .error-hd').html('อดใจรออีกนิด !');
        jQuery('#timeBox .error-detail').html('ขณะนี้ยังไม่ถึงเวลาจำหน่ายสินค้านี้ค่ะ')
      } else {
        jQuery('#timeBox .error-hd').html('หมดเวลาจำหน่ายสินค้านี้แล้วค่ะ');
        jQuery('#timeBox .error-detail').html('ขอบคุณที่สนใจสินค้าจาก AIS Online Store แล้วพบกับสิทธิพิเศษดีๆ ได้ใหม่เร็วๆนี้ <br/><br/>เลือกซื้อสินค้านี้เพิ่มเติม <a href = "<?php echo $_product->getProductUrl(); ?>">ได้ที่นี่</a>');
      }
    }

  </script>
</head>
<body>
    <div class="campaign-header"></div>
    <div class="campaign-detail">
        <div class="left-content product-gallery">
            <div class="bottlesWrapper">
              <?php
                $_imageUrl = Mage::helper('catalog/image')->init($_product, 'thumbnail')->resize(353).'';
                $_imageUrl = str_replace('https:', 'http:', $_imageUrl);
              ?>
              <img src="<?php echo $_imageUrl; ?>" class="product-img" />
            </div>

            <div class="thumbs">
                <?php
                    $i=0;
                    foreach ($_product->getMediaGalleryImages() as $_image):
                        $_imageUrl = $this->helper('catalog/image')
                                          ->init($_product, 'image', $_image->getFile())
                                          ->keepFrame(false)
                                          ->constrainOnly(true)
                                          ->resize(353).'';
                        $_imageUrl = str_replace('https:', 'http:', $_imageUrl);
                ?>
                <img src="<?php echo  $_imageUrl; ?>" />
                <?php
                    $i++;
                    endforeach;
                ?>
            </div>
        </div>
        <div class="right-content">
            <h2 class="product-name"><?php echo $_product->getName() ?></h2>
            <span class="product-tagline"><?php echo $_product->getLineTitle() ?></span>
            <?php if($_product->getTypeId() == "configurable"): ?>
                <?php if (count($_attributes)):?>
                    <?php foreach($_attributes as $_attribute): ?>
                        <div class="product-option">
                            <span class="hd-option"><?php echo $this->__($_attribute->getLabel()); ?></span>
                            <label class="for-select-box">
                                <select id = "attr_<?php echo $_attribute->getAttributeId() ?>">
                                </select>
                            </label>
                        </div>
                    <?php endforeach; ?>
                <?php endif;?>
            <?php endif;?>
            <div class="product-option">
                <span class="hd-option"><?php echo $this->__('QTY')?></span>
                <label class="for-select-box">
                    <select id = "qty">
                        <option value="1">1</option>
                    </select>
                </label>
            </div>
            <div class="product-option price">
                <span class="hd-option"><?php echo $this->__('Price')?></span>
                <span class="price-value" id = "price"><?php echo $_coreHelper->formatPrice($_product->getFinalPrice(), false) ?></span>
            </div>
            <?php $memberPrice = $_product->getMemberPrice();?>
            <div class="product-option price ais-price">
                <?php if($memberPrice): ?>
                <span class="hd-option"><?php echo $this->__('AIS Member Price')?></span>
                <span class="price-value"><?php echo (($memberPrice) ? Mage::helper('core')->currency($memberPrice) : '-'); ?></span>
                <?php endif; ?>
                <?php $campaigns = $this->getCampaigns(); ?>
                <?php if(count($campaigns) > 0): ?>
                <div class="free-gift">
                    <?php foreach($campaigns as $campaign):?>
                        <?php if(count($campaign->discount)> 0) : ?>
                            <?php foreach($campaign->discount as $key => $discount): ?>
                                <?php
                                    $freegoods = isset($campaign->freeGoods[$key])? $campaign->freeGoods[$key] : null;
                                    $datas = explode('|', $key);
                                    $discountPrice = $campaign->finalPrice - $discount;
                                    $discountPrice = Mage::helper('core')->currency($discountPrice);
                                    $itemsfree = array();
                                    $memberType = $this->__('For None AIS Member');

                                    $value = array();
                                    $value["campaign_id"] = $datas[0];
                                    $value["custome_price"] = $discount;
                                    $value["free_goods"] = $freegoods;
                                    $value["is_ais_member"] = $datas[1];
                                    $value  = serialize($value);

                                    if(isset($campaign->freeGoods[$key]))                        {
                                        if(count($campaign->freeGoods[$key]) > 0) {

                                            foreach($campaign->freeGoods[$key] as $k => $qty) {
                                                $freeProduct = Mage::getModel('catalog/product');
                                                $freeProductId = $freeProduct->getIdBySku($k);
                                                $name = Mage::getResourceModel('catalog/product')->getAttributeRawValue($freeProductId, 'name', $store);
                                                $itemsfree[] = $name .' '. $this->__(' %s Item(s)', $qty);
                                                $goodsItems[$k] = array('id' => $freeProductId, 'sku' => $k, 'name' => $name);
                                            }
                                        }
                                    }
                                    if(trim($datas[count($datas)-1]) == '1') {
                                        $memberType = $this->__('For AIS Member');
                                    }
                                ?>
                                <label class="discountOption" id = "option-<?php echo $campaign->productId; ?>">
                                    <input type="radio" class="check-address" name="discount-option" value="<?php echo htmlspecialchars($value); ?>">
                                    <?php echo $this->__('Discount'); ?> <span class="discount-value"><?php echo $discountPrice; ?></span>
                                    <?php if(count($itemsfree) > 0):?>
                                    <div class="promotion-detail">
                                        <?php echo $this->__('Free'); ?>
                                        <ul class="value-free-gift">
                                            <?php foreach($itemsfree as $item): ?>
                                            <li><?php echo $item ?></li>
                                            <?php endforeach; ?>
                                            <li><?php echo $this->__($memberType); ?></li>
                                        </ul>
                                    </div>
                                    <?php else :?>
                                    <div class="promotion-detail">
                                        <ul class="value-free-gift">
                                            <li><?php echo $this->__($memberType); ?></li>
                                        </ul>
                                    </div>
                                    <?php endif;?>
                                </label>
                            <?php endforeach; ?>
                        <?php endif; ?>

                        <?php if(count($campaign->freeGoods) > 0):?>
                            <?php foreach($campaign->freeGoods as $key => $freeGoods): ?>
                                <?php if(!isset($campaign->discount[$key])): ?>
                                <?php
                                    $datas = explode('|', $key);
                                    $itemsfree = array();
                                    $memberType = $this->__('For None AIS Member');

                                    $value = array();
                                    $value["campaign_id"] = $datas[0];
                                    $value["custome_price"] = NULL;
                                    $value["free_goods"] = $campaign->freeGoods[$key];
                                    $value["is_ais_member"] = $datas[1];
                                    $value  = serialize($value);

                                    if(count($campaign->freeGoods[$key]) > 0) {
                                        foreach($campaign->freeGoods[$key] as $k => $qty) {
                                            $freeProduct = Mage::getModel('catalog/product');
                                            $freeProductId = $freeProduct->getIdBySku($k);
                                            $name = Mage::getResourceModel('catalog/product')->getAttributeRawValue($freeProductId, 'name', $store);
                                            $itemsfree[] = $name .' '. $this->__(' %s Item(s)', $qty);
                                            $goodsItems[$k] = array('id' => $freeProductId, 'sku' => $k, 'name' => $name);
                                        }
                                    }
                                    if(trim($datas[count($datas)-1]) == '1') {
                                       $memberType = $this->__('For AIS Member');;
                                    }
                                ?>
                                <label class="discountOption" id = "option-<?php echo $campaign->productId; ?>">
                                    <input type="radio" class="check-address" name="discount-option" value='<?php echo htmlspecialchars($value); ?>'>
                                    <?php echo $this->__('Free'); ?>
                                    <?php if(count($itemsfree) > 0):?>
                                    <div class="promotion-detail">
                                        <ul class="value-free-gift">
                                            <?php foreach($itemsfree as $item): ?>
                                            <li><?php echo $item ?></li>
                                            <?php endforeach; ?>
                                            <li><?php echo $this->__($memberType); ?></li>
                                        </ul>
                                    </div>
                                    <?php else :?>
                                    <div class="promotion-detail">
                                        <ul class="value-free-gift">
                                            <li><?php echo $this->__($memberType); ?></li>
                                        </ul>
                                    </div>
                                    <?php endif;?>
                                </label>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                <?php endif; ?>
                </div>
            </div>
            <script type="text/javascript">
                generateOptions();
                var goodsItems = <?php echo Mage::helper('core')->jsonEncode($goodsItems); ?>;
            </script>
            <div class="buy-bt-box">
                <button class="popshop-but-bt" id = "buybtn" disabled = "disabled"><?php echo $this->__('Buy Now')?></button>
            </div>
        </div>
    </div>

    <div class="campaign-detail condition">
        <?php echo $_product->getLineShortDescription() ?>
    </div>

    <div class="product-tab">
        <ul class="tabs">
            <li><a href="#productFeatures"><?php echo $this->__('Features'); ?></a></li>
            <li><a href="#productSpecifications"><?php echo $this->__('Specifications'); ?></a></li>
        </ul>
        <section class="tab_content_wrapper">
            <article class="tab_content" id="productFeatures">
                <?php echo $_helper->productAttribute($_product, $_product->getLineDescription(), 'line_description') ?>
            </article>
            <article class="tab_content" id="productSpecifications">
                <?php
                    $attributes = $this->getAdditionalData();
                ?>
                <table class="data-table" id="product-attribute-specs-table">
                    <col width="40%" />
                    <col />
                    <tbody>
                        <?php foreach ($attributes as $key => $values) : ?>
                            <?php $class = str_replace('&', '', $key) ?>
                            <?php $class = str_replace('  ', ' ', $class) ?>
                            <?php $class = str_replace(' ', '_', $class) ?>
                            <tr class="groupHeader <?php echo strtolower($class); ?>">
                                <th colspan="2"><?php echo $this->escapeHtml($this->__($key)) ?></th>
                            </tr>
                            <?php foreach ($values as $attribute) : ?>
                                <tr>
                                    <th class="label"><?php echo $this->escapeHtml($this->__($attribute['label'])) ?></th>
                                    <td class="data"><?php echo $this->escapeHtml($this->__($attribute['value'])) ?></td>
                                </tr>
                            <?php endforeach; ?>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </article>
        </section>
    </div>

    <div class="campaign-footer">
        <ul>
            <li><img src="<?php echo $baseUrl; ?>line/images/footer-1.jpg" /></li>
            <li><img src="<?php echo $baseUrl; ?>line/images/footer-2.jpg" /></li>
            <li><img src="<?php echo $baseUrl; ?>line/images/footer-3.jpg" /></li>
            <li><img src="<?php echo $baseUrl; ?>line/images/footer-4.jpg" /></li>
        </ul>
        <!-- <div class="acommerce-footer">
            <img src="<?php //echo $baseUrl; ?>line/images/acommerce-logo.jpg" />
            <span class="contact">
                <span class="mobile-100">Customer Service: <span class="blue-tx">02-106-8224</span>,</span>
                <span class="mobile-100">Email: <a href="mailto:at.support@popshopnetwork.com" class="blue-tx">at.support@popshopnetwork.com</a></span>
            </span>
        </div> -->
    </div>

    <div id="overlayBlack"></div>
    <div id="aisPopup">

        <div id="close-bt" onClick="javascript:overlayClose(aisPopup);"></div>
        <div id="otpRequest">
            <h2><?php echo $this->__('For AIS CUSTOMER'); ?></h2>
            <span><?php echo $this->__('Please fill in your AIS mobile number to receive a One Time Password (OTP) for special privileges'); ?></span>
            <div class="otp-request">
                <h3><?php echo $this->__('Mobile Number'); ?></h3>
                <form id = "opt-request">
                    <input class="otp-request" id = "telephone" name = "telephone" autocomplete="off">
                    <button class="otp-request" id = "otp-request" onClick="javascript:requestOtp();"><?php echo $this->__('Request OTP'); ?></button>
                    <span class="bottom-tx"><?php echo $this->__('if,you\'re not AIS Customer.'); ?> <span onClick="javascript:gotoCheckout();" class="notAisCheckout"><?php echo $this->__('CLICK HERE'); ?></span></span>
                </form>
            </div>
        </div>

        <div id="otpLoading">
            <div class="loading-animate"><img src="<?php echo $baseUrl; ?>line/images/loading.gif" /></div>
            <h2><?php echo $this->__('We\'re sending OTP to your mobile phone via SMS.'); ?></h2>
        </div>

        <div id="otpVerify">
            <h2><?php echo $this->__('For AIS CUSTOMER'); ?></h2>
            <span><?php echo $this->__('Your OTP is valid for 15 minutes'); ?></span>
            <div class="otp-request">
                <h3><?php echo $this->__('OTP Verification'); ?></h3>
                <form id = "opt-verify">
                    <input class="otp-request" id = "otp" name = "otp" autocomplete="off">
                    <button class="otp-request" id = "send-otp" onClick="javascript:requestVerify();"><?php echo $this->__('OK'); ?></button>
                </form>
                <!--<span class="bottom-tx"><?php echo $this->__('Enter wrong number?'); ?></span>
                <span class="bottom-tx right-content"><?php echo $this->__('Term & Condition'); ?></span>-->
            </div>
        </div>

        <div id="otpLoadingVerify">
            <div class="loading-animate"><img src="<?php echo $baseUrl; ?>line/images/loading.gif" /></div>
            <h2><?php echo $this->__('We\'re verifying your number'); ?></h2>
        </div>

        <div id="otpVerifySuccessful">
            <h2><?php echo $this->__('SUCCESSFUL!'); ?></h2>
            <span><?php echo $this->__('You\'re an AIS MEMBER'); ?></span>
            <span class="successful-detail"><?php echo $this->__('You\'re an AIS member! You will see AIS privileges on promotional items.'); ?></span>
            <span class="close-tx"><?php echo $this->__('This windows will close in 5 seconds.'); ?></span>
        </div>

        <div id="otpVerifyFail">
            <h2 class="failed-tx"><?php echo $this->__('FAILED!'); ?></h2>
            <span><?php echo $this->__('Opps..we do not recognize your number.'); ?></span>
            <span class="fail-detail"><?php echo $this->__('Please ensure you enter your AIS mobile number correctly'); ?></span>
            <div class="otp-request">
                <h3><?php echo $this->__('Mobile Number'); ?></h3>
                <form id = "opt-verifyfail">
                    <input class="otp-request" id = "telephone1" name = "telephone1" autocomplete="off">
                    <button class="otp-request" id = "otp-request1" onClick="javascript:requestOtp1();"><?php echo $this->__('Request OTP'); ?></button>
                </form>
                <span class="bottom-tx"><?php echo $this->__('or continue to'); ?> <span href="" onClick="javascript:gotoCheckout();"><?php echo $this->__('check out'); ?></span></span>
            </div>
        </div>
    </div>

    <div id="errorBox">
      <div class="close-bt" onClick="javascript:closeErrorBox();"></div>
      <div class="thankyoumessage">
       <span class="error-ico"></span>
       <span class="error-hd"><?php echo $this->__('Sorry!'); ?></span>
       <span class="error-detail"><?php echo $this->__('This item is temporarily out of stock.'); ?></span>
      </div>
    </div>

    <div id="timeBox">
      <div class="close-bt" onClick="javascript:closeTimeBox();"></div>
      <div class="thankyoumessage">
       <span class="error-ico"></span>
       <span class="error-hd"><?php echo $this->__('Sorry!'); ?></span>
       <span class="error-detail"><?php echo $this->__('Please stay tuned for LINE Campaign'); ?></span>
      </div>
    </div>

    <div id="thankyouBox">
      <div class="close-bt" onClick="javascript:closeThankyou();"></div>
      <div class="thankyoumessage">
          <span class="thankyou-ico"></span>
          <span class="thankyou-hd"><?php echo $this->__('Thank you for shopping at AIS'); ?></span>
          <span class="thankyou-detail"><?php echo $this->__('We hope you’re happy with our products and services. Stay tuned for our special promotions and offers.');?></span>
      </div>
    </div>

    <div id="checkoutBox">
        <form id = "checkout-form">
            <div class="close-bt" onClick="javascript:closeCheckout();"></div>
            <div class="billingAddress">
                <h2><?php echo $this->__('Billing Address'); ?></h2>
                <ul>
                    <li class="left-form">
                        <div class="half-row">
                            <label><?php echo $this->__('First Name'); ?></label>
                            <input id = "billing_first_name" name = "billing[first_name]" />
                        </div>
                        <div class="half-row right-form">
                            <label><?php echo $this->__('Last Name'); ?></label>
                            <input id = "billing_last_name" name = "billing[last_name]" />
                        </div>
                        <div class="full-row">
                            <label><?php echo $this->__('Mobile Number (0811234567)'); ?></label>
                            <input id = "billing_telephone" name = "billing[telephone]" />
                        </div>
                        <div class="full-row">
                            <label><?php echo $this->__('Email'); ?></label>
                            <input id = "billing_email" name = "billing[email]" />
                        </div>
                        <div class="full-row">
                            <label><?php echo $this->__('Address'); ?></label>
                            <input id = "billing_address" name = "billing[address]" />
                        </div>
                    </li>
                    <li class="right-form">
                        <div class="half-row">
                            <label><?php echo $this->__('Province'); ?></label>
                            <label class="for-select-box">
                                <select class="province" id = "billing_province" name = "billing[province]" >
                                    <option value = ""><?php echo $this->__('Please Select'); ?></option>
                                    <?php foreach($regions as $region): ?>
                                    <option value = "<?php echo $region->getRegionId()?>"><?php echo $region->getName()?></option>
                                    <?php endforeach; ?>
                                </select>
                                <input type = "hidden" id = "billing_province_text" name = "billing[province_text]"/>
                            </label>
                        </div>
                        <div class="half-row right-form">
                            <label><?php echo $this->__('District'); ?></label>
                            <label class="for-select-box">
                                <select class="district" id = "billing_district" name = "billing[district]">
                                    <option value = ""><?php echo $this->__('Please Select'); ?></option>
                                </select>
                                <input type = "hidden" id = "billing_district_text" name = "billing[district_text]"/>
                            </label>
                        </div>
                        <div class="half-row">
                            <label><?php echo $this->__('Sub-district'); ?></label>
                            <label class="for-select-box">
                                <select class="subdistrict"  id = "billing_subdistrict" name = "billing[subdistrict]">
                                    <option value = ""><?php echo $this->__('Please Select'); ?></option>
                                </select>
                                <input type = "hidden" id = "billing_subdistrict_text" name = "billing[subdistrict_text]"/>
                            </label>
                        </div>
                        <div class="half-row right-form">
                            <label><?php echo $this->__('Post Code'); ?></label>
                            <input id = "billing_postcode" name = "billing[postcode]" readonly= "readonly"/>
                        </div>
                        <div class="full-row tax-input">
                            <label><?php echo $this->__('Type of tax invoice'); ?></label>
                            <label class="for-select-box">
                                <select class="vattype" id="billing_vat_type" name = "billing[vat_type]">
                                    <option value="1"><?php echo $this->__('A Thai national'); ?></option>
                                    <option value="2"><?php echo $this->__('A juristic person'); ?></option>
                                    <option value="3"><?php echo $this->__('A non-Thai national'); ?></option>
                                </select>
                            </label>
                        </div>
                        <div class="full-row">
                            <label id="taxHd"><?php echo $this->__('Identification number'); ?></label>
                            <input id = "billing_vat_id" name = "billing[vat_id]" autocomplete="off"/>
                        </div>
                        <div class="full-row">
                            <label><?php echo $this->__('Branch No.'); ?></label>
                            <input id = "billing_branch_no" name = "billing[branch_no]" />
                        </div>
                    </li>
                    <li class="left-form">
                        <label class="same-address"><input type="checkbox" name = "same_address" checked = "checked" class = "check-address"><?php echo $this->__('Ship to this address'); ?></label>
                    </li>
                </ul>
            </div>
            <div class="shippingAddress" style = "display:none;">
                <h2><?php echo $this->__('Shipping Address'); ?></h2>
                <ul>
                    <li class="left-form">
                        <div class="half-row">
                            <label><?php echo $this->__('First Name'); ?></label>
                            <input id = "shipping_first_name" name = "shipping[first_name]" />
                        </div>
                        <div class="half-row right-form">
                            <label><?php echo $this->__('Last Name'); ?></label>
                            <input id = "shipping_last_name" name = "shipping[last_name]" />
                        </div>
                        <div class="full-row">
                            <label><?php echo $this->__('Mobile Number (0811234567)'); ?></label>
                            <input id = "shipping_telephone" name = "shipping[telephone]" />
                        </div>
                        <div class="full-row">
                            <label><?php echo $this->__('Email'); ?></label>
                            <input id = "shipping_email" name = "shipping[email]" />
                        </div>
                    </li>
                    <li class="right-form">
                        <div class="full-row">
                            <label><?php echo $this->__('Address'); ?></label>
                            <input id = "shipping_address" name = "shipping[address]" />
                        </div>
                        <div class="half-row">
                            <label><?php echo $this->__('Province'); ?></label>
                            <label class="for-select-box">
                                <select class="province" id = "shipping_province" name = "shipping[province]" >
                                    <option value = ""><?php echo $this->__('Please Select'); ?></option>
                                    <?php foreach($regions as $region): ?>
                                    <option value = "<?php echo $region->getRegionId()?>"><?php echo $region->getName()?></option>
                                    <?php endforeach; ?>
                                </select>
                                <input type = "hidden" id = "shipping_province_text" name = "shipping[province_text]"/>
                            </label>
                        </div>
                        <div class="half-row right-form">
                            <label><?php echo $this->__('District'); ?></label>
                            <label class="for-select-box">
                                <select class="district" id = "shipping_district" name = "shipping[district]">
                                    <option value = ""><?php echo $this->__('Please Select'); ?></option>
                                </select>
                                <input type = "hidden" id = "shipping_district_text" name = "shipping[district_text]"/>
                            </label>
                        </div>
                        <div class="half-row">
                            <label><?php echo $this->__('Sub-district'); ?></label>
                            <label class="for-select-box">
                                <select class="subdistrict"  id = "shipping_subdistrict" name = "shipping[subdistrict]">
                                    <option value = ""><?php echo $this->__('Please Select'); ?></option>
                                </select>
                                <input type = "hidden" id = "shipping_subdistrict_text" name = "shipping[subdistrict_text]"/>
                            </label>
                        </div>
                        <div class="half-row right-form">
                            <label><?php echo $this->__('Post Code'); ?></label>
                            <input id = "shipping_postcode" name = "shipping[postcode]" readonly= "readonly"/>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="reviewOrder">
                <h2><?php echo $this->__('Your Order(s)'); ?></h2>
                <table id="reviewOrder">
                    <thead>
                        <tr>
                            <th><?php echo $this->__('Product Name:'); ?></th>
                            <th><?php echo $this->__('Price:'); ?></th>
                            <th><?php echo $this->__('QTY:'); ?></th>
                            <th><?php echo $this->__('Total:'); ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-th="<?php echo $this->__('Product Name:'); ?>">iPhone 6</td>
                            <td data-th="<?php echo $this->__('Price:'); ?>">฿ 21,555</td>
                            <td data-th="<?php echo $this->__('QTY:'); ?>">1</td>
                            <td data-th="<?php echo $this->__('Total:'); ?>">฿ 21,555</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <?php
                $payments = explode(',', $_product->getAllowedPayments());
                $activedPayments = Mage::getModel('acom_catalog/attributes_payments')->getMethodsArray();
            ?>
            <div class="paymentMethod">
                <h2><?php echo $this->__('Payment Method');?></h2>
                <?php if( count($payments) > 0): ?>
                    <?php $i = 1; ?>
                    <?php foreach($payments as $payment): ?>
                        <?php if(isset($activedPayments[$payment])): ?>
                            <?php
                                $p = $activedPayments[$payment];
                            ?>
                            <label class="payment-option<?php if($i == count($payments)): ?> last<?php endif; ?>">
                                <input type="radio" class="check-address" name="billing[payment]" value="<?php echo $payment?>">
                                <?php echo $p["label"]; ?>
                            </label>

                              <?php
                                if($block = Mage::getConfig()->getBlockClassName($p['value'].'/popshop')) {
                                    if (class_exists($block, false) || mageFindClassFile($block)) {
                                        echo $p['value'].'/popshop';
                                        $block = $this->getLayout()->createBlock($block);
                                        if($block) {
                                            ?>
                                            <div id = "payment-<?php echo $payment?>" class="detail-cod<?php if($i == count($payments)): ?> last<?php endif; ?>">
                                            <?php
                                            echo $block->toHtml();
                                            ?>
                                            </div>
                                        <?php
                                        }
                                    }
                                }
                              ?>
                            <?php $i++; ?>
                        <?php endif;?>
                    <?php endforeach;?>
                <?php endif?>
            </div>
            <!--<div class="shippingMethod">
                <h2><?php echo $this->__('Shipping Method');?></h2>
                <div>
                    <?php if($shippingCode == 'free'):?>
                    <?php echo $shipping; ?>
                    <?php else:?>
                    <?php echo $shipping .' '. $this->helper('core')->currency($shippingAmount, true, false); ?>
                    <?php endif; ?>
                </div>
            </div>-->
            <script type="text/javascript">
                if(jQuery('input[name="billing[payment]"]').size()){
                    jQuery('input[name="billing[payment]"]').click();
                }
            </script>
            <div class="bottomSection">
                <div id="termBox">
                    <h2><?php echo $this->__('Term and Contitions'); ?></h2>
                </div>
                <ul>
                    <li class="left-form">
                        <ul>
                            <li><span class="quarantee-checked"></span><?php echo $this->__('Cash on Delivery'); ?></li>
                            <li><span class="quarantee-checked"></span><?php echo $this->__('14 Days Returns'); ?></li>
                            <li><span class="quarantee-checked"></span><?php echo $this->__('Track & Trace Service'); ?></li>
                            <li><span class="quarantee-checked"></span><?php echo $this->__('100% Security Checkout'); ?></li>
                        </ul>
                    </li>
                    <li class="right-form">
                        <!--<label><input type="checkbox" id = "remember" name = "remember"><?php echo $this->__('Remember my address on this device'); ?></label>-->
                        <div class="buy-box">
                            <button class="popshop-but-bt" id = 'placeorder-btn'><?php echo $this->__('Place Order'); ?></button>
                        </div>
                    </li>
                </ul>
            </div>
            <input type = "hidden" id = "billing_product_id" name = "billing[product_id]" />
            <input type = "hidden" id = "billing_qty" name = "billing[qty]" />
            <input type = "hidden" id = "billing_option" name = "billing[option]" />
            <input type = "hidden" id = "billing_price" name = "billing[price]" />
            <input type = "hidden" id = "shipping_amount" name = "shipping[amount]" value = "<?php echo $shippingAmount; ?>" />
            <input type = "hidden" id = "shipping_method" name = "shipping[method]" value = "<?php echo $shippingCode; ?>" />
        </form>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery("#billing_province, #billing_district, #billing_subdistrict, #shipping_province, #shipping_district, #shipping_subdistrict").change(function() {
                    var text = jQuery(this).find('option:selected').text();
                    jQuery('#' + this.id + '_text').val(text);
                });

                jQuery("#billing_vat_type").change(function() {
                    var type = jQuery(this).val();
                    if(type == '1') {
                        jQuery('#taxHd').html('<?php echo $this->__('Identification number'); ?>');
                        jQuery('#billing_branch_no').parent().hide();
                        jQuery('.same-address').css('margin-top',"0px");

                    } else if(type == '2') {
                        jQuery('#taxHd').html('<?php echo $this->__('Tax number'); ?>');
                        jQuery('#billing_branch_no').parent().show();
                        //jQuery('.same-address').css('margin-top',"-54px");

                    } else {
                        jQuery('#taxHd').html('<?php echo $this->__('Passport number'); ?>');
                        jQuery('#billing_branch_no').parent().hide();
                        jQuery('.same-address').css('margin-top',"0px");
                    }
                }).change();
            });
        </script>
    </div>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MW5WM5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MW5WM5');</script>
    <!-- End Google Tag Manager -->
    <script type="text/javascript"> __th_page="Line AIS Store";</script>
    <script type="text/javascript" src="http://hits.truehits.in.th/data/s0029135.js"></script>
</body>
</html>