<?php
  $baseUrl =  Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);
  $baseUrl = str_replace('media/', '', $baseUrl);
  $baseUrl = str_replace('https:', 'http:', $baseUrl);
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Thank You</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="<?php echo $baseUrl;?>line/css/ais-popshop.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="thankyou-icon-box"><span class="brown-tx">Thank</span> <span class="green-tx">You</span></div>
    <div class="ais-thankyou-icon"></div>
    <div class="thankyou-hd-tx-box">
        สั่งซื้อสินค้าเรียบร้อย
    </div>
    <div class="thankyou-detail-box">
        คุณจะได้รับข้อมูลยืนยันการสั่งซื้อทางอีเมลที่ระบุไว้<br/>
        ขอบคุณที่ไว้วางใจ เลือกซื้อสินค้ากับ AIS Online Store
    </div>
</body>
</html>