<script>
	var lippConfig = '<?php echo $this->getJsonConfig();?>';

(function(d, s, id){ 
	var js, ref = d.getElementsByTagName(s)[0]; 
	if (!d.getElementById(id)){ 
		js = d.createElement(s); js.id = id; js.async = true; 
		js.src = "//www.paypalobjects.com/js/external/paypal.v1.js"; 
		ref.parentNode.insertBefore(js, ref); 
	} 
}(document, "script", "paypal-js")); 
</script>

<div class="opc-ajax-loader">
	<div id="floatingCirclesG">
		<div class="f_circleG" id="frotateG_01"></div>
		<div class="f_circleG" id="frotateG_02"></div>
		<div class="f_circleG" id="frotateG_03"></div>
		<div class="f_circleG" id="frotateG_04"></div>
		<div class="f_circleG" id="frotateG_05"></div>
		<div class="f_circleG" id="frotateG_06"></div>
		<div class="f_circleG" id="frotateG_07"></div>
		<div class="f_circleG" id="frotateG_08"></div>
	</div>
</div>
