<?php $_compareHelper = $this->helper('catalog/product_compare'); ?>
<?php if($_compareHelper->getItemCount() > 0): ?>
    <span class="compareBT"><a href="<?php echo $_compareHelper->getListUrl() ?>"><?php echo $this->__('Compare (%d)', $_compareHelper->getItemCount()) ?></a></span>
    <?php endif; ?>