

<?php $_product = $this->getProduct(); ?>
<?php $_wishlistSubmitUrl = ''; //$this->helper('wishlist')->getAddUrl($_product); ?>
<?php $_helper = $this->helper('facebook'); ?>

<ul class="add-to-links">
<?php //if ($this->helper('wishlist')->isAllow()) : ?>
    <!-- <li><a href="<?php //echo $_wishlistSubmitUrl ?>" onclick="productAddToCartForm.submitLight(this, this.href); return false;" class="link-wishlist"><?php //echo $this->__('Add to Wishlist') ?></a></li> -->
<?php //endif; ?>
<?php
    $_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_product);
?>
<?php if($_compareUrl) : ?>
    <li><span class="separator">|</span> <a href="<?php echo $_compareUrl ?>" class="link-compare"><?php echo $this->__('Add to Compare') ?></a></li>
<?php endif; ?>
</ul>
<?php if($_helper->isActiveLike()):?>
<fb:like href="<?php echo $_product->getProductUrl()?>" action="<?php echo $_helper->getLikeAction()?>" layout="<?php echo $_helper->getLikeLayout()?>" show_faces="<?php echo $_helper->isFacesLikeActive()?>" width="<?php echo $_helper->getLikeWidth()?>"  colorscheme="<?php echo $_helper->getLikeColor()?>"></fb:like>
<?php endif?>
<?php if($_helper->isActiveSend()):?>
<br />
<fb:send href="<?php echo $_product->getProductUrl()?>" font="<?php echo $_helper->getSendFont()?>" colorscheme="<?php echo $_helper->getSendColor()?>"></fb:send>
<?php endif?>
