	#payment_form_one23cash {
        width: 95%;
        padding: 0 0 0 5%;
        border: 0;
    }
    #payment_form_one23cash > li {
        overflow: hidden;
    }
    #payment_form_one23cash > li > .input-box {
        border-bottom: 1px solid #736A6A;
    }
    #payment_form_one23cash .hd-123cash {
        padding: 0 10px 0 17px;
    }
    #payment_form_one23cash > li .hd-123cash.open {
        background: url(../images/option2.png) no-repeat right center;
    }
    #payment_form_one23cash > li .hd-123cash.close {
        background: url(../images/option.png) no-repeat right center;
    }
	/*begin 123cash*/
	.sp-methods dd:nth-of-type(2){}
	.ml-123cash{}
	#payment_form_one23cash{width: 98%;padding: 0 5%;border: 1px solid #EEEEEE;border-radius: 6px;float: left;}
	/* add by KAI*/


	.ml-123cash .input-box {clear:both; display:block;overflow:hidden; border-bottom:1px solid #eeeeee;}
	.ml-123cash .input-box:last-child {border-bottom:0px;}
	.ml-123cash .input-box ul {list-style: none;margin:0;padding:0;/*display:block; overflow:hidden;border:1px dotted #fff;*/}
	.ml-123cash .input-box ul li{display:list-item; float:left; width:49%;padding-left: 1%;}
	.ml-123cash .input-box ul li label {list-style: none;display: list-item;width: 75%;margin: 0 2%;float: left;padding-bottom: 5px;}
	/* end by KAI*/
	.hd-123cash{width: 95%;float: left;margin: 10px 0;/*background: none repeat scroll 0 0 #EEEEEE;border-radius: 14px 14px 14px 14px;*/color: #111111;font-size: 14px !important;font-weight: normal;left: -15px;padding: 2px 10px;position: relative;font-weight: normal;}
	#payment_form_one23cash input.radio{list-style: none;display:list-item;float: left;margin-top: 7px;}
	.seven-eleven-123cash{ background:url(../images/711_Logo_40.jpg)no-repeat;width: 115px;height: 40px;float: left;background-size: auto 25px; }
	.tot-123cash{ background:url(../images/JusPay_Logo_40.jpg)no-repeat;width: 115px;height: 40px;float: left;background-size: auto 25px; }
	.tesco-123cash{ background:url(../images/TescoLotus_logo_40.jpg)no-repeat;width: 115px;height: 40px;float: left;background-size: auto 25px; }
	.truemoney-123cash{ background:url(../images/Truemoney_Logo_40.jpg)no-repeat;width: 115px;height: 40px;float: left;background-size: auto 25px; }
	.payatpost-123cash{ background:url(../images/Payatpost_logo_401.jpg)no-repeat;width: 115px;height: 40px;float: left;background-size: auto 25px; }
	.scb-123cash{ background:url(../images/SCB_Logo_40.jpg)no-repeat;width: 115px;height: 40px;float: left;background-size: auto 25px; }
	.ktb-123cash{ background:url(../images/KTB_Logo_40.jpg)no-repeat;width: 115px;height: 40px;float: left;background-size: auto 25px; }
	.kbank-123cash{ background:url(../images/KBank_Logo_40.png)no-repeat;width: 115px;height: 40px;float: left;background-size: auto 25px; }
	.tmb-123cash{ background:url(../images/TMB_Logo_40.png)no-repeat;width: 115px;height: 40px;float: left;background-size: auto 25px; }
	.uob-123cash{ background:url(../images/UOB_Logo_40.png)no-repeat;width: 115px;height: 40px;float: left;background-size: auto 25px; }
	.bay-123cash{ background:url(../images/BAY_Logo_40.jpg)no-repeat;width: 115px;height: 40px;float: left;background-size: auto 25px; }
	.bbl-123cash{ background:url(../images/bangkokbank_logo_40.png)no-repeat;width: 115px;height: 40px;float: left;background-size: auto 25px; }

    .bigc-123cash{ background:url(../images/Bigc_logo_401.jpg)no-repeat;width: 115px;height: 40px;float: left;background-size: auto 25px; }
    .cimb-123cash{ background:url(../images/CIMB_Logo_40.jpg)no-repeat;width: 115px;height: 40px;float: left;background-size: auto 25px; }
    .familymart-123cash{ background:url(../images/Familymart_Logo_40.jpg)no-repeat;width: 115px;height: 40px;float: left;background-size: auto 25px; }
    .mpay-123cash{ background:url(../images/Mpay_logo_40.jpg)no-repeat;width: 115px;height: 40px;float: left;background-size: auto 25px; }
    .tbank-123cash{ background:url(../images/TBANK_Logo_40.jpg)no-repeat;width: 115px;height: 40px;float: left;background-size: auto 25px; }
	/*end 123cash*/