.belvg-colorswatch ul  li.disabled a .belvg-ico {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.belvg-ico-image {
          
}
.belvg-ico-text {
    display: block;
    background: #EAEAEA;
    padding: 3px 8px;
    color: #777;
}
.belvg-ico-color {
    display: inline-block; 
    border: 1px solid #A0B3C3;     
}
.belvg-ico-selected {
    border: 1px solid transparent;
}
.belvg-ico-description {
    position: absolute;
    z-index: 10210;
    display: none;
    left: -2px;
    bottom: 55px;
    background: #FFF;
    border: 2px solid #DDD;
    padding: 15px 15px 0;
    color: #666;
}
.belvg-ico-description p {
    min-width: 200px;
}
.product-view .belvg-colorswatch ul li a:hover .belvg-ico-description {
    display: block;
}
.belvg-ico-description img,
.belvg-ico-description p {
    margin-bottom: 15px;
}
