<div class="home-brands">

    <ul>
        <li><a><img src="/skin/frontend/ais/default/images/brand.png" /> </a></li>
        <li><a><img src="/skin/frontend/ais/default/images/brand.png" /> </a></li>
        <li><a><img src="/skin/frontend/ais/default/images/brand.png" /> </a></li>
        <li><a><img src="/skin/frontend/ais/default/images/brand.png" /> </a></li>
        <li><a><img src="/skin/frontend/ais/default/images/brand.png" /> </a></li>
        <li><a><img src="/skin/frontend/ais/default/images/brand.png" /> </a></li>
    </ul>

</div>