<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<div class="promotion p-best">
    <?php
        $i=1;
        $storeId = Mage::app()->getStore()->getId();
        $_items = $_products->getItems();
        //$_product = current($_items);
    ?>
    <div class="promotionrec pfl">
         <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('best_product_promo')->toHtml(); ?>
    </div>

    <div class="promotionslide pfr">

    <div id="best-slider" class="royalSlider heroSlider rsMinW">
    <?php
    foreach ($_items as $_product) {
        if ($i == 0) {
            $i++;
            continue;
        }

        if ($i % 4 == 1) echo '<div class="rsContent"><ul class="products-grid">';
    ?>
            <li class="item">
                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName()) ?></a></h2>
                <div class="product-comment">
                    <div class="rating">
                        <?php $reviews = $_product->getProductReviews(); ?>
                        <?php $star = $reviews['avg']; ?>
                        <div class="stars" style="width:<?php echo $star; ?>%;"></div>
                    </div>
                    <span class="reviews-count">(<?php echo $reviews['count'];?>)</span>
                </div>
                <?php
                $_basePrice = $_product->getPrice();
                $_specialPrice = $_product->getSpecialPrice();
                //$_finalPrice = $_product->getFinalPrice();
                $_finalPrice = $_product->getPriceModel()->getFinalPrice(null, $_product);
                $memberPrice = $_product->getMemberPrice();
                $_discountLabel = $_product->getAisDiscountLabel();
                $_memberDiscount = $_product->getMemberPriceDiscount();
                $_basePrice = $_finalPrice;
                if (!$_discountLabel) {
                    if ($memberPrice && $_memberDiscount) {
                        $_discountLabel = $_memberDiscount;
                    }
                } else {
                    if (is_numeric($_discountLabel)) {
                        $_discountLabel = '<span class="percentsave">'.$_discountLabel.'%</span><span>Off</span>';
                    }
                }

                if ($_discountLabel && $_product->getAttributeText('ais_brand') != 'Apple') {
                    echo '<div class="discount-label">'.$_discountLabel.'</div>';
                }
                ?>
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>" class="product-image">
                    <img id="product-collection-image-3" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(142,208); ?>" alt="<?php echo $this->escapeHtml($_product->getName()) ?>">
                </a>
                <div class="product-info" style="min-height: 220px;">
                    <div class="product-info-title"><?php echo $this->__('Price') ?></div>
                    <div class="price-box">
                            <span class="regular-price" id="product-price-3">
                                <span class="price"><?php echo $this->helper('core')->formatPrice($_product->getFinalPrice(), false) ?></span>
                            </span>
                    </div>

                    <div class="product-info-title ais-hd"<?php if(!$memberPrice): ?>style = "visibility:hidden"<?php endif;?>><?php echo $this->__('AIS MEMBER Price') ?></div>
                    <div class="price-box"<?php if(!$memberPrice): ?>style = "visibility:hidden"<?php endif;?>><span class="member-price"><?php echo (($memberPrice) ? Mage::helper('core')->currency($memberPrice) : '-'); ?></span></div>
                    <div class="product-info-title mt-color"><?php echo $this->__('Available Colors') ?></div>
                    <div class="color-box"></div>
                    <div class="actions">
                        <?php if($_product->isSaleable()): ?>
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>">
                            <button type="button" class="button viewbutton"><span><?php echo $this->__('Buy Now') ?></span></button>
                        </a>
                    <?php else: ?>
                        <p class="action availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif?>
                    </div>
                </div>
            </li>
        <?php
            if ($i % 4 == 0 || $i == count($_items)) echo '</ul></div>';
            $i++;
    }
        ?>

    </div>
    <script type="text/javascript">
        var bestSlider;
        jQuery(document).ready(function() {
            bestSlider = createSlider("#best-slider", 673, 760);
           setTimeout(function(){matchDevice("#best-slider",bestSlider);}, 300);
        });
         var resizeBest;
        jQuery(window).resize(function(){
            clearTimeout(resizeBest);
            resizeBest = setTimeout(function(){matchDevice("#best-slider",bestSlider);}, 300);
        });
    </script>
    </div>
</div>
<?php endif; ?>

<?php

    $helper     = $this->helper('belvgcolorswatch');
    $productIds = $this->getProductIds();
    $swatches   = $this->getSwatches();
    //var_dump($swatches);
?>
<?php if ($helper->isEnabled() && $productIds && count($swatches)): ?>
    <?php
        $settings  = $helper->getListSettings();
    ?>

    <script type="text/javascript">
        var colorswatchList = new ColorswatchList({
            itemTags   : '#best-slider .item .product-info .color-box',
            settings   : <?php echo json_encode($settings) ?>,
        });

        colorswatchList.init({
            ids      : <?php echo json_encode($productIds) ?>,
            swatches : <?php echo json_encode($swatches) ?>
        });

        /*jQuery(document).ready(function(){
           jQuery('.p-best .product-list-options').each(function(){
                var parent = jQuery(this).parent();
                var colorBox = jQuery(parent).find('.product-info .color-box');
                //colorBox.html('');
                jQuery(this).prependTo(colorBox);
            });
       });*/

    </script>
<?php endif ?>