<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<div class="promotion p-hot">
    <?php
        $i=1;
        $storeId = Mage::app()->getStore()->getId();
        $_items = $_products->getItems();
        //$_product = current($_items);
    ?>
    <div class="promotionrec pfl">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('hot_product_promo')->toHtml(); ?>
    </div>

    <div class="promotionslide pfr">

        <div id="hot-slider" class="royalSlider heroSlider rsMinW">
                <?php
                    foreach ($_items as $_product) {
                        if ($i == 0) {
                            $i++;
                            continue;
                        }
                        if ($i % 4 == 1) echo '<div class="rsContent"><ul class="products-grid">';
                ?>
                        <li class="item">
                            <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName()) ?></a></h2>
                            <div class="product-comment">
                                <div class="rating">
                                    <?php $reviews = $_product->getProductReviews(); ?>
                                    <?php $star = $reviews['avg']; ?>
                                    <div class="stars" style="width:<?php echo $star; ?>%;"></div>
                                </div>
                                <span class="reviews-count">(<?php echo $reviews['count'];?>)</span>
                            </div>
                            <?php
                            $_basePrice = $_product->getPrice();
                            $_specialPrice = $_product->getSpecialPrice();
                            //$_finalPrice = $_product->getFinalPrice();
                            $_finalPrice = $_product->getPriceModel()->getFinalPrice(null, $_product);
                            $memberPrice = $_product->getMemberPrice();
                            $_discountLabel = $_product->getAisDiscountLabel();
                            $_memberDiscount = $_product->getMemberPriceDiscount();
                            $_basePrice = $_finalPrice;
                            if (!$_discountLabel) {
                                if ($memberPrice && $_memberDiscount) {
                                    $_discountLabel = $_memberDiscount;
                                }
                            } else {
                                if (is_numeric($_discountLabel)) {
                                    $_discountLabel = '<span class="percentsave">'.$_discountLabel.'%</span><span>Off</span>';
                                }
                            }

                            if ($_discountLabel && $_product->getAttributeText('ais_brand') != 'Apple') {
                                echo '<div class="discount-label">'.$_discountLabel.'</div>';
                            }
                            ?>
                            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>" class="product-image">
                                <img id="product-collection-image-3" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(142,208); ?>" alt="<?php echo $this->escapeHtml($_product->getName()) ?>">
                            </a>
                            <div class="product-info" style="min-height: 220px;">
                                <div class="product-info-title"><?php echo $this->__('Price') ?></div>
                                <div class="price-box">
                            <span class="regular-price" id="product-price-3">
                                <span class="price"><?php echo $this->helper('core')->formatPrice($_product->getFinalPrice(), false) ?></span>
                            </span>
                                </div>

                                <div class="product-info-title ais-hd"<?php if(!$memberPrice): ?>style = "visibility:hidden"<?php endif;?>><?php echo $this->__('AIS MEMBER Price') ?></div>
                                <div class="price-box"<?php if(!$memberPrice): ?>style = "visibility:hidden"<?php endif;?>><span class="member-price"><?php echo (($memberPrice) ? Mage::helper('core')->currency($memberPrice) : '-'); ?></span></div>
                                <div class="product-info-title mt-color"><?php echo $this->__('Available Colors') ?></div>
                                <div class="color-box"></div>
                                <div class="actions">
                                    <?php if($_product->isSaleable()): ?>
                                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>">
                                            <button type="button" class="button viewbutton"><span><?php echo $this->__('Buy Now') ?></span></button>
                                        </a>
                                    <?php else: ?>
                                        <p class="action availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                    <?php endif ;?>
                                </div>
                            </div>
                        </li>
                <?php
                        if ($i % 4 == 0 || $i == count($_items)) echo '</ul></div>';
                        $i++;
                ?>
                <?php } ?>
            </div>

        <script src="<?php echo $this->getSkinUrl('js/jquery.royalslider.min.js')?>"></script>
        <script type="text/javascript">

        function createSlider(obj, width, height) {           
            var slider = jQuery(obj).royalSlider({
                arrowsNav: false,
                loop: true,
                keyboardNavEnabled: false,
                controlsInside: false,
                imageScaleMode: 'fill',
                arrowsNavAutoHide: false,
                autoScaleSlider: false,
                /*autoHeight: false,
               autoScaleSliderWidth: false,
                autoScaleSliderHeight: false,*/
                allowCSS3: false,
                controlNavigation: 'bullets',
                thumbsFitInViewport: false,
                navigateByClick: true,
                startSlideId: 0,
                autoPlay: {
                    enabled: false,
                    delay: 10
                },
                transitionType:'move',
                globalCaption: false,
                deeplinking: {
                    enabled: true,
                    change: false
                }
            }).data('royalSlider');
            jQuery(obj + ' .rsBullets').prepend('<div class="rsArrow rsArrowLeft"><div class="rsArrowIcn"></div></div>');
            jQuery(obj + ' .rsBullets').append('<div class="rsArrow rsArrowRight"><div class="rsArrowIcn"></div></div>');
            jQuery(obj + ' .rsArrowRight').click(function() {
                slider.next();
            });
            jQuery(obj + ' .rsArrowLeft').click(function() {
                slider.prev();
            });           
            return slider;
        }

        function resizeSlider(obj, slider, size) {
            var htmls = new Array(), div, ul, stage, row = 0, lis = new Array();
            for (var i = slider.numSlides; i > 0; i--) {
                slider.slides[i -1].content.find('li.item').each(function(){
                    lis.push(this);
                });
            };

            for(var i = 0; i < lis.length; i++) {
                if((i % size) == 0) {
                    div = document.createElement("div");
                    ul = document.createElement("ul");
                    jQuery(div).addClass('rsContent');
                    jQuery(ul).addClass('products-grid');
                    jQuery(ul).appendTo(div);
                    htmls[row] = div;
                    row++;
                }
                jQuery(lis[i]).appendTo(jQuery(ul));                
            };
            
            for (var i = hotSlider.numSlides; i >= 0; i--) {
                slider.removeSlide(i);
            };

            jQuery(obj + ' .rsBullet').remove();
            jQuery(obj + ' .rsArrow').remove();

            for(var i = 0; i < htmls.length; i++) {
                slider.appendSlide(htmls[i]);
            }
           
            jQuery(obj + ' .rsBullets').prepend('<div class="rsArrow rsArrowLeft"><div class="rsArrowIcn"></div></div>');
            jQuery(obj + ' .rsBullets').append('<div class="rsArrow rsArrowRight"><div class="rsArrowIcn"></div></div>');
            jQuery(obj + ' .rsArrowRight').click(function() {
                slider.next();
            });
            jQuery(obj + ' .rsArrowLeft').click(function() {
                slider.prev();
            });
            return slider;
        }
        var gt960 = window.matchMedia('(min-width: 961px)');
        var lt961 = window.matchMedia('(max-width: 960px)');
        var lt769 = window.matchMedia('(max-width: 768px)');
        var lt581 = window.matchMedia('(max-width: 580px)');
        var lt481 =  window.matchMedia('(max-width: 480px)');
        var lt321 =  window.matchMedia('(max-width: 320px)');
            
        var matchDevice = function(obj, slider){       
            var mq = jQuery(window).width();            
            var count = 4;
            if (gt960.matches){
                var bannerHeight = jQuery(obj).parent().parent().find('.promotionrec').height();
                var itemHeight;
                jQuery(obj).find('.rsOverflow').height(bannerHeight);
                 jQuery(obj).parent().find('li.item').height((bannerHeight/2)-32);
                 itemHeight = jQuery(obj).parent().find('li.item').height();
                count = 4;
            }
            if (lt961.matches){
                count = 3;
            }
             if (lt769.matches){
                count = 2;
            }
             if (lt581.matches){
                count = 2;
            }
            if (lt481.matches){
                count = 1;
            }
            if (lt321.matches){
                count = 1;
            }
             //hotSlider = resizeSlider("#hot-slider",  hotSlider, count);
            slider = resizeSlider(obj, slider, count);
            return slider;
        }
        var hotSlider;
        jQuery(document).ready(function() {            
            hotSlider = createSlider("#hot-slider", 673, 760);
            setTimeout(function(){matchDevice("#hot-slider",hotSlider);}, 300);
        });              
        var resizeHot;
        jQuery(window).resize(function(){
            clearTimeout(resizeHot);
            resizeHot = setTimeout(function(){matchDevice("#hot-slider",hotSlider);}, 300);
            /*var slideItem=jQuery('#contrast').height();
            var slidesContainer = jQuery('#carouselWrapper').height();
            if (slidesContainer > (parseInt(slideItem)+33)) {
                jQuery('#carouselWrapper').height((parseInt(slideItem)+33));
            }*/
        });
        //hotSlider = resizeSlider("#hot-slider",  hotSlider, 4);
    </script>

    </div>

</div>
<?php endif; ?>

<?php

    $helper     = $this->helper('belvgcolorswatch');
    $productIds = $this->getProductIds();
    $swatches   = $this->getSwatches();
    //var_dump($swatches);
?>
<?php if ($helper->isEnabled() && $productIds && count($swatches)): ?>
    <?php
        $settings  = $helper->getListSettings();
    ?>

    <script type="text/javascript">
        var colorswatchList = new ColorswatchList({
            itemTags   : '#hot-slider .item .product-info .color-box',
            settings   : <?php echo json_encode($settings) ?>,
        });

        colorswatchList.init({
            ids      : <?php echo json_encode($productIds) ?>,
            swatches : <?php echo json_encode($swatches) ?>
        });

        /*jQuery(document).ready(function(){
           jQuery('.p-hot .product-list-options').each(function(){
                var parent = jQuery(this).parent();
                var colorBox = jQuery(parent).find('.product-info .color-box');
                //colorBox.html('');
                jQuery(this).prependTo(colorBox);
            });
       });*/

    </script>
<?php endif ?>