<div>
    <ul class="messages">
        <li class="notice-msg">
            <ul>
                <li><?php echo $this->__("If you made any changes in associated products, save product before adding swatches images.") ?></li>
            </ul>
        </li>
    </ul>
</div>
<div class="entry-edit custom-options product-custom-options attricons-options">
    <div class="entry-edit-head">
        <h4><?php echo $this->__('Attributes') ?></h4>
        <div class="right"><?php echo $this->getUploadImagesButtonHtml() ?></div>
    </div>
    <div id="attricons_product_options_container" class="box">
        <?php if ($this->checkAttributes()): ?>
            <?php $types = $this->helper('attricons')->getIcoTypes() ?>
            <?php foreach ($this->getProductAttributes() as $attribute): ?>
                <?php
                    $options     = (array) $attribute->getPrices();
                    $currentType = $this->currentAttributeType($attribute);
                    if (!$this->checkAttributes($attribute->getAttributeId())) {
                        continue;
                    }
                ?>
                <div class="content-header">
                    <h3><?php echo $attribute['label'] ?></h3>
                </div>
                <div class="hor-scroll">
                    <table cellspacing="0" width="100%">
                        <tr>
                            <th class="entry-edit-head"><h4><?php echo $this->__('Option') ?></h4></th>
                            <th class="entry-edit-head row-ico-color-text"><h4><?php echo $this->__('Ico') ?></h4></th>
                            <th class="entry-edit-head"><h4><?php //echo $this->__('Images') ?></h4></th>
                            <th class="entry-edit-head"><h4><?php echo $this->__('Description') ?></h4></th>
                            <th class="entry-edit-head"></th>
                        </tr>
                        <?php foreach ($options as $option): ?>
                            <?php
                                $default = TRUE;
                                $swatch  = new Varien_Object();
                                if (isset($attribute['swatch'][$option['value_index']])) {
                                    $default = FALSE;
                                    $swatch  = $attribute['swatch'][$option['value_index']];
                                } else {
                                    $swatch->setType($currentType);
                                }

                                $swatch->setAttributeId($option['product_super_attribute_id']);
                                $swatch->setOptionId($option['value_index']);
                                $swatch->setLabel($option['label']);

                                $swatchDefault = new Varien_Object();
                                if (isset($attribute['swatch_default'][$option['value_index']])) {
                                    $swatchDefault = $attribute['swatch_default'][$option['value_index']];
                                } else {
                                    $swatchDefault->setType($currentType);
                                }

                                $swatchDefault->setLabel($option['label']);
                            ?>
                            <tr class="attricons_<?php echo $option['value_index'] ?>" <?php echo ($default) ? 'style="display:none"' : '' ?>>
                                <?php echo $this->getItemHtml($swatch) ?>
                                <td class="use-default">
                                    <input id="attricons_<?php echo $option['value_index'] ?>_use_default_check" type="checkbox" class="checkbox" <?php echo (!$default) ? '' : 'checked="checked"' ?>>
                                    <label for="attricons_<?php echo $option['value_index'] ?>_use_default_check"><?php echo $this->__('Use Default') ?></label>
                                </td>
                            </tr>
                            <tr class="attricons_<?php echo $option['value_index'] ?>" <?php echo (!$default) ? 'style="display:none"' : '' ?>>
                                <?php echo $this->getItemHtmlDefault($swatchDefault) ?>
                                <td class="use-default">
                                    <input id="attricons_<?php echo $option['value_index'] ?>_use_default" name="attricons[<?php echo $option['product_super_attribute_id'] ?>][<?php echo $option['value_index'] ?>][use_default]" type="checkbox" value="1" class="checkbox" <?php echo (!$default) ? '' : 'checked="checked"' ?>>
                                    <label for="attricons_<?php echo $option['value_index'] ?>_use_default"><?php echo $this->__('Use Default') ?></label>
                                </td>
                            </tr>
                        <?php endforeach ?>
                    </table>
                </div>
            <?php endforeach ?>
            <script type="text/javascript">
                function attriconsTypeInit(select)
                {
                    var tr = select.up('tr');
                    tr.select('.attricons-' + select.value).each(function(item) {
                        item.show().siblings().invoke('hide');
                    });

                    tr.select('.cell-ico').each(function(item) {
                        if ('<?php echo Belvg_Attricons_Helper_Data::TYPE_IMAGE ?>' == select.value || '<?php echo Belvg_Attricons_Helper_Data::TYPE_CATEGORY_COLOR_PRODUCT_IMAGE ?>' == select.value || '<?php echo Belvg_Attricons_Helper_Data::TYPE_CATEGORY_IMAGE_PRODUCT_IMAGE ?>' == select.value) {
                            item.show();
                        } else {
                            item.hide();
                        }
                    });

                    tr.select('.cell-image_category').each(function(item) {
                        if ('<?php echo Belvg_Attricons_Helper_Data::TYPE_CATEGORY_IMAGE_PRODUCT_IMAGE ?>' == select.value) {
                            item.show();
                        } else {
                            item.hide();
                        }
                    });
                }

                document.observe("dom:loaded", function() {
                    $$('.attricons-options .attricons-type select').each(function(select) {
                        attriconsTypeInit(select);
                        select.observe('change', function() {
                            attriconsTypeInit(this);
                        });
                    });

                    $$('.attricons-options .use-default input[type="checkbox"]').each(function(checkbox) {
                        checkbox.observe('click', function() {
                            var checked = this.checked;
                            var tr      = this.up('tr');
                            var trClass = tr.readAttribute('class');

                            $$('.' + trClass + ' .use-default input[type="checkbox"]').invoke('setValue', checked);
                            $$('.' + trClass).invoke('show');
                            tr.hide();
                        });
                    });

                    //$$('.cell-main').invoke('remove');
                });
            </script>
        <?php else: ?>
            <br>
            <ul class="messages">
                <li class="notice-msg">
                    <ul>
                        <li><?php echo $this->__('No attributes to replace. Go to extension settings and enable required attributes to replace with swatches.') ?></li>
                    </ul>
                </li>
            </ul>
        <?php endif ?>
    </div>
</div>
