<?php
$issuers = $this->getShopIds();
$periods = $this->getPeriods();
?>
<fieldset>
	<?php $_code=$this->getMethodCode() ?>
	<ul id="payment_form_<?php echo $_code ?>" style="display:none" class="pm-description" style="border:1px solid #eae9e9; background-color:#fcfcfc;display:none">
		<?php /*<li>
			<label for="<?php echo $_code ?>_cc_type" class="required"><?php echo $this->__('Card Type') ?></label>
			<div class="input-box">
				<div class="arrowselectbox cc2pselect-long">
					<select id="<?php echo $_code ?>_cc_type" name="payment[cc_type]" title="<?php echo $this->__('Card Type') ?>" class="required-entry">
						<option value=""><?php echo $this->__('--Please Select--') ?></option>
					<?php $_ccType = $this->getInfoData('cc_type') ?>
					<?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
						<option value="<?php echo $_typeCode ?>"<?php if($_typeCode==$_ccType): ?> selected="selected"<?php endif ?>><?php echo $_typeName ?></option>
					<?php endforeach ?>
					</select>
				</div>
			</div>
		</li> */ ?>
		<?php if(!empty($issuers)):?>
		<li>
			<!--<label for="<?php echo $_code ?>_panBank" class="required"><?php echo $this->__('Issuer Bank') ?></label>-->
			<div class="input-box">
				<div class="arrowselectbox cc2pselect-long">
					<select depends='p_method_<?php echo $_code;?>' onchange="if( $(this).value == '01' ){ $('<?php echo $_code ?>_li_cc_period').show(); $('<?php echo $_code ?>_ipp').value = 1;} else { $('<?php echo $_code ?>_li_cc_period').hide(); $('<?php echo $_code ?>_ipp').value = 0; }"
					id="<?php echo $_code ?>_panBank" name="payment[panBank]" title="<?php echo $this->__('Issuer Bank') ?>" >

					$('<?php echo $_code ?>_ipp').val(0);


						<option value=""><?php echo $this->__('--Please Select--') ?></option>
					<?php $_panBank = $this->getInfoData('panBank') ?>
					<?php foreach ($issuers as $code => $_issuerName): ?>
						<option value="<?php echo $code ?>"<?php if($code==$_panBank): ?> selected="selected"<?php endif ?>><?php echo $this->__($_issuerName); ?></option>
					<?php endforeach ?>
					</select>
				</div>
			</div>
		</li>
		<?php endif;?>
		<?php if(!empty($periods)): ?>
		<li>
			<div class="input-box">
				<?php /*
				<input type="hidden" class="checkbox" id="<?php echo $_code ?>_ipp" name="payment[use_installment]" value="0"/>
				<p class="">*<?php echo $this->__('Available only for Kbank credit card');?>*</p>
				*/ ?>
			</div>
		</li>
		<li id='<?php echo $_code ?>_li_cc_period' style="display:none">
			<div class="input-box related-promotions-box">
				<h3> <input type="checkbox" class="checkbox" onclick="$('installments_list').toggle()" id="<?php echo $_code ?>_ipp" name="payment[use_installment]" value="0"/> <?php echo $this->__('Related Promotions') ?></h3>
				<div class="arrowselectbox cc2pselect-long"  id="installments_list" style="display:none">
					<?php $period = $this->getInfoData('period') ?>
						<?php foreach ($this->getPeriods() as $p): ?>
							<input type="radio" name="payment[period]" value="<?php echo $p['value'] ?>"> <?php echo $this->__($p['name']); ?> <br />
						<?php endforeach ?>


					<?php /*

					<label for="<?php echo $_code ?>_panBank" class="required"><?php echo $this->__('Select Period') ?></label>

					<select id="<?php echo $_code ?>_period" name="payment[period]" title="<?php echo $this->__('Select Period') ?>">
						<?php foreach ($this->getPeriods() as $vl => $lb): ?>
							<option value="<?php echo $vl ?>"<?php if($period==$vl): ?> selected="selected"<?php endif ?>><?php echo $lb ?></option>
						<?php endforeach ?>
					</select>
					*/?>





				</div>
			</div>
		</li>

		<?php endif; ?>
		<?php echo $this->getCustomText();?>


	</ul>
</fieldset>

<script type="text/javascript">
	$$('#<?php echo $_code ?>_li_cc_period [name = "payment[period]"]').each(function(el){
		Event.observe(el, 'click', function(e){
			if(payment) {
				payment.save();
			}
		});
	});
</script>


