.not-available-message {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 3px 18px 3px 30px;
    border: 1px solid #EE6666;
    z-index: 10210;
    margin-left: -100px;
    color: #FFF;
    font-size: 18px;
    white-space: nowrap;
    background: #E24343 url(../images/colorswatch/i_availability_only.gif) no-repeat 10px 9px;
}

.products-list .belvg-colorswatch ul,
.products-grid .belvg-colorswatch ul {
    list-style: none;
    margin-bottom: 0px;
}
    .products-list .belvg-colorswatch ul li,
    .products-grid .belvg-colorswatch ul li {float: left; margin: 0 5px 5px 0; cursor: pointer; border: 2px solid #DEE5E8;}
    .products-list .belvg-colorswatch ul li.active,
    .products-grid .belvg-colorswatch ul li.active {border: 2px solid #0EAF1B;}
    .products-list .belvg-colorswatch ul li:hover,
    .products-grid .belvg-colorswatch ul li:hover   {border: 2px solid #BBB;}

    .products-list > li.item,
    .products-grid > li.item {position:relative;}
        .products-list > li.item .not-available-message,
        .products-grid > li.item .not-available-message {
            top: 30%;
            margin-left: -95px;
            font-size: 16px;
        }



.belvg-colorswatch ul {float: left; width: 100%;}
    .belvg-colorswatch ul li {float: left; margin: 0 5px 5px 0; cursor: pointer; border: 3px solid #DEE5E8;}
    .belvg-colorswatch ul li:hover   {border: 3px solid #BBB;}
    .belvg-colorswatch ul li:focus,
    .belvg-colorswatch ul li.active {border: 3px solid #0EAF1B;}
    .belvg-colorswatch ul li.disabled  {}
        .belvg-colorswatch ul li a {
            display: block;
            position: relative;
            text-decoration: none;
        }
        .belvg-colorswatch ul li a:hover {}

            .belvg-colorswatch-ico {

            }
                /*.belvg-colorswatch ul li a:hover .belvg-colorswatch-ico {
                    opacity: 0.8;
                    filter: alpha(opacity=80);
                }*/
                .belvg-colorswatch ul  li.disabled a .belvg-colorswatch-ico {
                    opacity: 0.5;
                    filter: alpha(opacity=50);
                }

            .belvg-colorswatch-ico-image {

            }

            .belvg-colorswatch-ico-text {
                display: block;
                background: #EAEAEA;
                padding: 3px 8px;
                color: #777;
            }

            .belvg-colorswatch-ico-color {
                display: block;
            }

            .belvg-colorswatch-ico-description {
                position: absolute;
                z-index: 10210;
                display: none;
                left: -2px;
                bottom: 55px;
                background: #FFF;
                border: 2px solid #DDD;
                padding: 15px 15px 0;
                color: #666;
            }
                .belvg-colorswatch-ico-description p {
                    min-width: 200px;
                }
                .product-view .belvg-colorswatch ul li a:hover .belvg-colorswatch-ico-description {
                    display: block;
                }

                .belvg-colorswatch-ico-description img,
                .belvg-colorswatch-ico-description p {
                    margin-bottom: 15px;
                }

.product-view .product-img-box .product-image {
    position: relative;
}
    .product-view .product-img-box .product-image .not-available-message {

    }

.product-view .stock-message {
    margin-bottom: 15px;
    color: #FF3333;
}

.belvg-options-wrapper select {
    position: relative;
}
    .belvg-options-wrapper select {
        visibility: hidden;
        position: absolute;
    }

.zoomPad{
    position: relative;
    z-index: 10210;
    cursor: crosshair;
}

.zoomPreload{
    -moz-opacity:0.8;
    opacity: 0.8;
    filter: alpha(opacity = 80);
    color: #333;
    font-size: 12px;
    font-family: Tahoma;
    text-decoration: none;
    border: 1px solid #CCC;
    background-color: white;
    padding: 8px;
    text-align: center;
    background-image: url(../images/colorswatch/zoomloader.gif);
    background-repeat: no-repeat;
    background-position: 43px 30px;
    z-index: 10211;
    width: 90px;
    height: 43px;
    position: absolute;
    top: 0px;
    left: 0px;
    * width: 100px;
    * height: 49px;
}

.belvg-ico-color {
    display: block;
}

.color-box .belvg-colorswatch{height: 38px;}