
.attricons-options .content-header {
    margin-top: 20px;
}

.attricons-options .type-selector {
    margin-bottom: 20px;
}

.attricons-options table {
    border: 1px solid #d6d6d6;
    background: #fafafa;
    margin-bottom: 10px;
    /*width: 100%;*/
}

    .attricons-options .hor-scroll > table > tbody > tr > td {
        padding: 15px 20px;
    }

        #attricons_options_container table tr:nth-child(2n) {
            background: #eff5f5;
        }

        #attricons_product_options_container table tr:nth-child(4n),
        #attricons_product_options_container table tr:nth-child(4n+1) {
            background: #eff5f5;
        }

            .attricons-options .attricons-type {
                margin-bottom: 8px;
            }

            .attricons-options .attricons-image,
            .attricons-options .attricons-zoom {
                display: inline-block;
            }

                .row-attricons-color-text input {
                    width: 100px;
                }
                
                .row-attricons-images img {
                    border: 2px solid #CCC;
                }
            
                .row-attricons-color-text .attricons-text-icon {
                    display: inline-block;
                    background: #EAEAEA;
                    padding: 3px 8px;
                    color: #777;
                    border: 1px solid #CCC;
                }

                .attricons-options .attricons-image p,
                .attricons-options .attricons-zoom p {
                    white-space: nowrap;
                    margin-top: 3px;
                }

                .attricons-options .attricons-image img,
                .attricons-options .attricons-zoom img {
                    float: left;
                    margin-right: 15px;
                    border: 2px solid #CCC;
                }

                .attricons-options .attricons-image .remove-checkbox,
                .attricons-options .attricons-zoom .remove-checkbox {
                    float: left;
                }

                    .attricons-options .attricons-image input,
                    .attricons-options .attricons-zoom input {
                        margin-right: 5px;
                    }

            .attricons-color-default {
                display: block;
                border: 2px solid #CCC;
            }

        .attricons-options table td textarea {
            width: 320px;
        }
