<?php
$issuers = $this->getShopIds();
$periods = $this->getPeriods();
$cashback = $this->getCashback();
?>
<fieldset>
	<?php $_code=$this->getMethodCode() ?>
	<ul id="payment_form_<?php echo $_code ?>" style="display:none" class="pm-description" style="border:1px solid #eae9e9; background-color:#fcfcfc;display:none">
		<?php if(!empty($periods) || !empty($cashback)): ?>
		<li id='<?php echo $_code ?>_li_cc_period'>
			<div class = "period-hd"><?php echo $this->__('Installment Payment Plan(IPP)');?>:</div>
			<?php if(count($this->getPeriods()) > 0): ?>
				<?php foreach ($this->getPeriods() as $vl => $lb): ?>
					<div id="period_item_<?php echo $vl;?>">
						<input type="radio" class="radio" id="<?php echo $_code ?>_ipp_<?php echo $vl;?>" value="<?php echo $vl;?>" name="payment[promo]"/>
						<span class="radio-css"></span>
						<label for="<?php echo $_code ?>_ipp_<?php echo $vl;?>"><?php echo $this->__($lb) ?></label><br/>
					</div>
				<?php endforeach ?>
				<script type="text/javascript">
					jQuery('#label_<?php echo $_code ?>').html('<?php echo $this->__('Installment by KBank Credit Card')?>');
				</script>
			<?php endif; ?>
		</li>
		<?php endif; ?>
		<?php echo $this->getCustomText();?>
	</ul>
</fieldset>

<script type="text/javascript">

	$$('#<?php echo $_code ?>_li_cc_period [name = "payment[promo]"]').each(function(el){
		Event.observe(el, 'click', function(e){
			if(payment) {
				payment.save();
			}
		});
	});

	jQuery("#p_method_<?php echo $_code ?>").click(function(){
		jQuery('#payment_form_<?php echo $_code ?> input[type="radio"]').prop("checked", false);
		jQuery('#payment_form_<?php echo $_code ?> .radio-css').removeClass('active');
		jQuery('#payment_form_<?php echo $_code ?> input[type="radio"]').first().prop("checked", true);
		jQuery('#payment_form_<?php echo $_code ?> .radio-css').first().addClass('active');
	});

	jQuery(document).ready(function() {
		setTimeout(function(){
			if(jQuery("#payment_form_<?php echo $_code ?>").is(':visible')) {
				jQuery('#payment_form_<?php echo $_code ?> input[type="radio"]').prop("checked", false);
				jQuery('#payment_form_<?php echo $_code ?> .radio-css').removeClass('active');
				jQuery('#payment_form_<?php echo $_code ?> input[type="radio"]').first().prop("checked", true);
				jQuery('#payment_form_<?php echo $_code ?> .radio-css').first().addClass('active');
			}
		}, 100);
	});

</script>