<div>
    <ul class="messages">
        <li class="notice-msg">
            <ul>
                <li><?php echo $this->__("If you made any changes, save attribute before adding swatches images.") ?></li>
            </ul>
        </li>
    </ul>
</div>
<div class="entry-edit custom-options product-custom-options attricons-options">
    <div id="attricons_options_container">
        <?php
            $currentType = $this->currentAttributeType();
            $options     = $this->getOptions();
        ?>
        <div class="hor-scroll">
            <table cellspacing="0" width="100%">
                <colgroup>
                    <col width="170">
                    <col width="170">
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th class="entry-edit-head"><h4><?php echo $this->__('Option') ?></h4></th>
                        <th class="entry-edit-head row-attricons-color-text"><h4><?php echo $this->__('Ico') ?></h4></th>
                        <th class="entry-edit-head row-attricons-images"><h4><?php //echo $this->__('Images') ?></h4></th>
                        <th class="entry-edit-head"><h4><?php echo $this->__('Description') ?></h4></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($options as $option): ?>
                        <tr>
                            <?php
                                $option->setLabel($option->getValue());
                                if (!$option->getType()) {
                                    $option->setType($currentType);
                                }

                                echo $this->getItemHtml($option);
                            ?>
                        </tr>
                    <?php endforeach ?>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/javascript">
        function attriconsTypeInit(select)
        {
            var tr = select.up('tr');
            tr.select('.attricons-' + select.value).each(function(item) {
                item.show().siblings().invoke('hide');
            });

            tr.select('.cell-ico').each(function(item) {
                if ('<?php echo Belvg_Attricons_Helper_Data::TYPE_IMAGE ?>' == select.value || '<?php echo Belvg_Attricons_Helper_Data::TYPE_CATEGORY_COLOR_PRODUCT_IMAGE ?>' == select.value || '<?php echo Belvg_Attricons_Helper_Data::TYPE_CATEGORY_IMAGE_PRODUCT_IMAGE ?>' == select.value) {
                    item.show();
                } else {
                    item.hide();
                }
            });

            tr.select('.cell-image_category').each(function(item) {
                if ('<?php echo Belvg_Attricons_Helper_Data::TYPE_CATEGORY_IMAGE_PRODUCT_IMAGE ?>' == select.value) {
                    item.show();
                } else {
                    item.hide();
                }
            });

        }

        document.observe("dom:loaded", function() {
            $$('.attricons-options .attricons-type select').each(function(select) {
                attriconsTypeInit(select);
                select.observe('change', function() {
                    attriconsTypeInit(this);
                });
            });

            //$$('.cell-main').invoke('remove');
        });
    </script>
</div>
