<?php
    $image       = $this->getZoom();
    $description = trim($this->getDescription());
?>
<div class="belvg-colorswatch-ico-description">
    <?php if ($image): ?>
        <img src="<?php echo Mage::helper('attricons')->getImage($image) ?>">
    <?php endif ?>

    <?php if ($description): ?>
        <p><?php echo nl2br($description) ?></p>
    <?php endif ?>
</div>